containers/n8n/Podman_Vector_AI.json
{
  "name": "Podman-Vector-AI",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "id": "ced581d8-2c63-4c6c-aece-4cc0edd7afc0",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        20,
        400
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {}
      },
      "id": "90974739-16ea-4c78-8fcc-4d8b2a0dceb9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        20,
        880
      ]
    },
    {
      "parameters": {},
      "id": "985c0779-f94b-430a-8593-d92fef235cc9",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        20,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f505d580-0402-4beb-b7d1-55910c152532",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -300,
        660
      ]
    },
    {
      "parameters": {
        "name": "add_file_to_vector_db",
        "description": "Use this to search for a file in Google Drive, download it, and add it to the vector DB knowledgebase for future querying.",
        "workflowId": "VYQ5kVPM57CJavof",
        "responsePropertyName": "metadata",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"query\": \"Meeting notes from last week\"\n}"
      },
      "id": "5204ba97-c590-4aee-b9d8-c2b817aded0a",
      "name": "Add Google Drive File to Vector DB",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        380,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "2b64f8cc-9d12-4bbf-8d10-62a3696b1ddb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a File to Vector DB",
        "height": 661.3783861449286,
        "width": 1290.2441524753906,
        "color": 5
      },
      "id": "7bd1376b-57f5-46ac-acee-6f50ef06f53e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1000,
        580
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "1acb9d2a-03e9-4b15-8a95-4f08dec890f2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."
        }
      },
      "id": "adfe2390-1746-4eaf-b156-ae4dc12a77e9",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -20,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a178ce10-f928-45bb-ba5a-6cb61a959532",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        180
      ],
      "webhookId": "057f6fe7-e865-42b6-9020-8cc759271eb9"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -220,
        400
      ],
      "id": "c5d6c9a7-042b-4853-8db7-6c3d3d5446e1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PbRdWjQkUxxMWfWw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -320,
        960
      ],
      "id": "bb1910fd-030a-430f-b748-f8961ae1884c",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "PbRdWjQkUxxMWfWw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        760,
        660
      ],
      "id": "8d5738b1-6a64-4bf1-a060-a057650f3c60",
      "name": "retrieval",
      "credentials": {
        "ollamaApi": {
          "id": "PbRdWjQkUxxMWfWw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        580,
        740
      ],
      "id": "3eee76d1-f2f0-4adb-9bdd-224ebd15174b",
      "name": "Embeddings Retrieval",
      "credentials": {
        "ollamaApi": {
          "id": "PbRdWjQkUxxMWfWw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/shared",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        660
      ],
      "id": "6f6deac6-011d-4569-a2b5-df92704ac499",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -80,
        660
      ],
      "id": "f4972069-c265-42ff-acc7-76a77ec2df3b",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "8wurb8oT23ryC7Ni",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        420,
        620
      ],
      "id": "a9674703-688e-4d6e-b1d2-f2f410740aa8",
      "name": "Qdrant Store",
      "credentials": {
        "qdrantApi": {
          "id": "8wurb8oT23ryC7Ni",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "9b7660a4-421a-4a95-8838-6b3c94c84ef5",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        560,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Google Drive File to Vector DB": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "retrieval": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Retrieval": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Qdrant Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b934535-055a-4517-b60f-c9f76f1362f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f62925a4d560e517ac0a7ead84d575627f2ad19cedb4e95c86d7b66353b3227"
  },
  "id": "gfEQxQeVZa20MIy5",
  "tags": []
}