containers/nifi/nifi-deployment-automation/ansible/templates/registry/CADF_Parser.json
{
   "template":{
      "description":"Parse CADF (Cloud Audit Data Federation) formatted JSON from OpenStack syslog events.",
      "name":"CADF_Parser",
      "snippet":{
         "connections":[
            {
               "id":"f0799afc-d789-4748-929a-40a2604b5635",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"5a9c3a13-eacd-424b-bc2b-0eb9b05a8490",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"isCADF",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"4c7360b2-04cd-43b3-a9e2-93f6ce6e439e",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"49846a1e-0a8d-428b-b644-719ba97b9389",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"36c46310-4269-4fc3-8057-e2f4fe5600e0",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"044cb6f7-9437-4f83-a615-3cca702391ba",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"b31d2274-32cc-4e8e-afd6-5937f99fcade",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"ee1a45ad-fad9-411a-859e-cf38b6f476c7",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"isCADF",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"4c7360b2-04cd-43b3-a9e2-93f6ce6e439e",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"19372ab2-76ee-4173-9ef9-037409ab5925",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"378ca668-e5b5-420a-9767-6ada1fe5222a",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"73ee9d5c-3f1e-4424-8551-8552a2440055",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"7b3f38d4-3a5d-487d-81cf-bbb3069dca74",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"73ee9d5c-3f1e-4424-8551-8552a2440055",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"matched",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"9fc206d8-a15d-4c66-a2d4-b393fa7bded7",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"1f4c504a-9232-41e2-ae13-30e8eeaa8117",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"4c7360b2-04cd-43b3-a9e2-93f6ce6e439e",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"splits",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"36c46310-4269-4fc3-8057-e2f4fe5600e0",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"417b704f-048a-4236-ae65-96a9803bf7ca",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"9fc206d8-a15d-4c66-a2d4-b393fa7bded7",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"isCADF",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"4c7360b2-04cd-43b3-a9e2-93f6ce6e439e",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"c41a2280-201f-44fc-b2de-a3c6fc8ecd12",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"8fb3b16b-16c6-46c5-9256-32ece8b46733",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
                  "id":"ee1a45ad-fad9-411a-859e-cf38b6f476c7",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            }
         ],
         "processors":[
            {
               "id":"4c7360b2-04cd-43b3-a9e2-93f6ce6e439e",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"-124.0",
                  "y":"209.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Match Requirement",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"content must match exactly",
                                    "value":"content must match exactly"
                                 },
                                 {
                                    "displayName":"content must contain match",
                                    "value":"content must contain match"
                                 }
                              ],
                              "defaultValue":"content must match exactly",
                              "description":"Specifies whether the entire content of the file must match the regular expression exactly, or if any part of the file (up to Content Buffer Size) can contain the regular expression in order to be considered a match",
                              "displayName":"Match Requirement",
                              "dynamic":"false",
                              "name":"Match Requirement",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Content Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer in order to apply the regular expressions. If the size of the FlowFile exceeds this value, any amount of this value will be ignored",
                              "displayName":"Content Buffer Size",
                              "dynamic":"false",
                              "name":"Content Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"isCADF",
                           "value":{
                              "description":"",
                              "displayName":"isCADF",
                              "dynamic":"true",
                              "name":"isCADF",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Match Requirement",
                           "value":"content must contain match"
                        },
                        {
                           "key":"Character Set",
                           "value":"UTF-8"
                        },
                        {
                           "key":"Content Buffer Size",
                           "value":"1 MB"
                        },
                        {
                           "key":"isCADF",
                           "value":".*schemas\\.dmtf\\.org\\/cloud\\/audit.*"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"ParseLogFile",
               "relationships":[
                  {
                     "autoTerminate":"false",
                     "description":"",
                     "name":"isCADF"
                  },
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles that do not match any of the user-supplied regular expressions will be routed to this relationship",
                     "name":"unmatched"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.RouteOnContent"
            },
            {
               "id":"8fb3b16b-16c6-46c5-9256-32ece8b46733",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"692.5",
                  "y":"405.5"
               },
               "config":{
                  "bulletinLevel":"INFO",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Log Level",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"trace",
                                    "value":"trace"
                                 },
                                 {
                                    "displayName":"debug",
                                    "value":"debug"
                                 },
                                 {
                                    "displayName":"info",
                                    "value":"info"
                                 },
                                 {
                                    "displayName":"warn",
                                    "value":"warn"
                                 },
                                 {
                                    "displayName":"error",
                                    "value":"error"
                                 }
                              ],
                              "defaultValue":"info",
                              "description":"The Log Level to use when logging the Attributes",
                              "displayName":"Log Level",
                              "dynamic":"false",
                              "name":"Log Level",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Log Payload",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.",
                              "displayName":"Log Payload",
                              "dynamic":"false",
                              "name":"Log Payload",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Attributes to Log",
                           "value":{
                              "description":"A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.",
                              "displayName":"Attributes to Log",
                              "dynamic":"false",
                              "name":"Attributes to Log",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Attributes to Ignore",
                           "value":{
                              "description":"A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.",
                              "displayName":"Attributes to Ignore",
                              "dynamic":"false",
                              "name":"Attributes to Ignore",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Log Level",
                           "value":"info"
                        },
                        {
                           "key":"Log Payload",
                           "value":"true"
                        },
                        {
                           "key":"Attributes to Log"
                        },
                        {
                           "key":"Attributes to Ignore"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"ThisWorks",
               "relationships":{
                  "autoTerminate":"true",
                  "description":"All FlowFiles are routed to this relationship",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.LogAttribute"
            },
            {
               "id":"378ca668-e5b5-420a-9767-6ada1fe5222a",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"695.0",
                  "y":"595.0"
               },
               "config":{
                  "bulletinLevel":"INFO",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Log Level",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"trace",
                                    "value":"trace"
                                 },
                                 {
                                    "displayName":"debug",
                                    "value":"debug"
                                 },
                                 {
                                    "displayName":"info",
                                    "value":"info"
                                 },
                                 {
                                    "displayName":"warn",
                                    "value":"warn"
                                 },
                                 {
                                    "displayName":"error",
                                    "value":"error"
                                 }
                              ],
                              "defaultValue":"info",
                              "description":"The Log Level to use when logging the Attributes",
                              "displayName":"Log Level",
                              "dynamic":"false",
                              "name":"Log Level",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Log Payload",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.",
                              "displayName":"Log Payload",
                              "dynamic":"false",
                              "name":"Log Payload",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Attributes to Log",
                           "value":{
                              "description":"A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.",
                              "displayName":"Attributes to Log",
                              "dynamic":"false",
                              "name":"Attributes to Log",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Attributes to Ignore",
                           "value":{
                              "description":"A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.",
                              "displayName":"Attributes to Ignore",
                              "dynamic":"false",
                              "name":"Attributes to Ignore",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Log Level",
                           "value":"info"
                        },
                        {
                           "key":"Log Payload",
                           "value":"true"
                        },
                        {
                           "key":"Attributes to Log"
                        },
                        {
                           "key":"Attributes to Ignore"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"DuplicateJSON_Entries",
               "relationships":{
                  "autoTerminate":"true",
                  "description":"All FlowFiles are routed to this relationship",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.LogAttribute"
            },
            {
               "id":"5a9c3a13-eacd-424b-bc2b-0eb9b05a8490",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"417.0",
                  "y":"216.0"
               },
               "config":{
                  "bulletinLevel":"INFO",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Log Level",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"trace",
                                    "value":"trace"
                                 },
                                 {
                                    "displayName":"debug",
                                    "value":"debug"
                                 },
                                 {
                                    "displayName":"info",
                                    "value":"info"
                                 },
                                 {
                                    "displayName":"warn",
                                    "value":"warn"
                                 },
                                 {
                                    "displayName":"error",
                                    "value":"error"
                                 }
                              ],
                              "defaultValue":"info",
                              "description":"The Log Level to use when logging the Attributes",
                              "displayName":"Log Level",
                              "dynamic":"false",
                              "name":"Log Level",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Log Payload",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.",
                              "displayName":"Log Payload",
                              "dynamic":"false",
                              "name":"Log Payload",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Attributes to Log",
                           "value":{
                              "description":"A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.",
                              "displayName":"Attributes to Log",
                              "dynamic":"false",
                              "name":"Attributes to Log",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Attributes to Ignore",
                           "value":{
                              "description":"A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.",
                              "displayName":"Attributes to Ignore",
                              "dynamic":"false",
                              "name":"Attributes to Ignore",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Log Level",
                           "value":"info"
                        },
                        {
                           "key":"Log Payload",
                           "value":"true"
                        },
                        {
                           "key":"Attributes to Log"
                        },
                        {
                           "key":"Attributes to Ignore"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"LogAttribute",
               "relationships":{
                  "autoTerminate":"true",
                  "description":"All FlowFiles are routed to this relationship",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.LogAttribute"
            },
            {
               "id":"ee1a45ad-fad9-411a-859e-cf38b6f476c7",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"131.5",
                  "y":"405.5"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Regular Expression",
                           "value":{
                              "defaultValue":"(.*)",
                              "description":"The Regular Expression to search for in the FlowFile content",
                              "displayName":"Regular Expression",
                              "dynamic":"false",
                              "name":"Regular Expression",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Replacement Value",
                           "value":{
                              "defaultValue":"$1",
                              "description":"The value to replace the regular expression with. Back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value.",
                              "displayName":"Replacement Value",
                              "dynamic":"false",
                              "name":"Replacement Value",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular Expression' is set to '.*'",
                              "displayName":"Maximum Buffer Size",
                              "dynamic":"false",
                              "name":"Maximum Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Evaluation Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"Line-by-Line",
                                    "value":"Line-by-Line"
                                 },
                                 {
                                    "displayName":"Entire text",
                                    "value":"Entire text"
                                 }
                              ],
                              "defaultValue":"Entire text",
                              "description":"Evaluate the 'Regular Expression' against each line (Line-by-Line) or buffer the entire file into memory (Entire Text) and then evaluate the 'Regular Expression'.",
                              "displayName":"Evaluation Mode",
                              "dynamic":"false",
                              "name":"Evaluation Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Regular Expression",
                           "value":"^.*?(\\{.*\\})$"
                        },
                        {
                           "key":"Replacement Value",
                           "value":"$1"
                        },
                        {
                           "key":"Character Set"
                        },
                        {
                           "key":"Maximum Buffer Size"
                        },
                        {
                           "key":"Evaluation Mode",
                           "value":"Entire text"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"ReplaceAllWithCADF",
               "relationships":[
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles that could not be updated are routed to this relationship",
                     "name":"failure"
                  },
                  {
                     "autoTerminate":"false",
                     "description":"FlowFiles that have been successfully updated are routed to this relationship, as well as FlowFiles whose content does not match the given Regular Expression",
                     "name":"success"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.ReplaceText"
            },
            {
               "id":"044cb6f7-9437-4f83-a615-3cca702391ba",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"-122.0",
                  "y":"-122.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Input Directory",
                           "value":{
                              "description":"The input directory from which to pull files",
                              "displayName":"Input Directory",
                              "dynamic":"false",
                              "name":"Input Directory",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"File Filter",
                           "value":{
                              "defaultValue":"[^\\.].*",
                              "description":"Only files whose names match the given regular expression will be picked up",
                              "displayName":"File Filter",
                              "dynamic":"false",
                              "name":"File Filter",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Path Filter",
                           "value":{
                              "description":"When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned",
                              "displayName":"Path Filter",
                              "dynamic":"false",
                              "name":"Path Filter",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Batch Size",
                           "value":{
                              "defaultValue":"10",
                              "description":"The maximum number of files to pull in each iteration",
                              "displayName":"Batch Size",
                              "dynamic":"false",
                              "name":"Batch Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Keep Source File",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.",
                              "displayName":"Keep Source File",
                              "dynamic":"false",
                              "name":"Keep Source File",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Recurse Subdirectories",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"true",
                              "description":"Indicates whether or not to pull files from subdirectories",
                              "displayName":"Recurse Subdirectories",
                              "dynamic":"false",
                              "name":"Recurse Subdirectories",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Polling Interval",
                           "value":{
                              "defaultValue":"0 sec",
                              "description":"Indicates how long to wait before performing a directory listing",
                              "displayName":"Polling Interval",
                              "dynamic":"false",
                              "name":"Polling Interval",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Ignore Hidden Files",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"true",
                              "description":"Indicates whether or not hidden files should be ignored",
                              "displayName":"Ignore Hidden Files",
                              "dynamic":"false",
                              "name":"Ignore Hidden Files",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Minimum File Age",
                           "value":{
                              "defaultValue":"0 sec",
                              "description":"The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored",
                              "displayName":"Minimum File Age",
                              "dynamic":"false",
                              "name":"Minimum File Age",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum File Age",
                           "value":{
                              "description":"The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored",
                              "displayName":"Maximum File Age",
                              "dynamic":"false",
                              "name":"Maximum File Age",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Minimum File Size",
                           "value":{
                              "defaultValue":"0 B",
                              "description":"The minimum size that a file must be in order to be pulled",
                              "displayName":"Minimum File Size",
                              "dynamic":"false",
                              "name":"Minimum File Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum File Size",
                           "value":{
                              "description":"The maximum size that a file can be in order to be pulled",
                              "displayName":"Maximum File Size",
                              "dynamic":"false",
                              "name":"Maximum File Size",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Input Directory",
                           "value":"/tmp/logs"
                        },
                        {
                           "key":"File Filter",
                           "value":"[^\\.].*"
                        },
                        {
                           "key":"Path Filter"
                        },
                        {
                           "key":"Batch Size",
                           "value":"10"
                        },
                        {
                           "key":"Keep Source File",
                           "value":"true"
                        },
                        {
                           "key":"Recurse Subdirectories",
                           "value":"true"
                        },
                        {
                           "key":"Polling Interval",
                           "value":"0 sec"
                        },
                        {
                           "key":"Ignore Hidden Files",
                           "value":"true"
                        },
                        {
                           "key":"Minimum File Age",
                           "value":"0 sec"
                        },
                        {
                           "key":"Maximum File Age"
                        },
                        {
                           "key":"Minimum File Size",
                           "value":"0 B"
                        },
                        {
                           "key":"Maximum File Size"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"5 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"GetFile",
               "relationships":{
                  "autoTerminate":"false",
                  "description":"All files are routed to success",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"false",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.GetFile"
            },
            {
               "id":"36c46310-4269-4fc3-8057-e2f4fe5600e0",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"-124.0",
                  "y":"37.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Line Split Count",
                           "value":{
                              "description":"The number of lines that will be added to each split file",
                              "displayName":"Line Split Count",
                              "dynamic":"false",
                              "name":"Line Split Count",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Header Line Count",
                           "value":{
                              "defaultValue":"0",
                              "description":"The number of lines that should be considered part of the header; the header lines will be duplicated to all split files",
                              "displayName":"Header Line Count",
                              "dynamic":"false",
                              "name":"Header Line Count",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Remove Trailing Newlines",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"true",
                              "description":"Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later",
                              "displayName":"Remove Trailing Newlines",
                              "dynamic":"false",
                              "name":"Remove Trailing Newlines",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Line Split Count",
                           "value":"1"
                        },
                        {
                           "key":"Header Line Count",
                           "value":"0"
                        },
                        {
                           "key":"Remove Trailing Newlines",
                           "value":"true"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"1 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"SplitText",
               "relationships":[
                  {
                     "autoTerminate":"true",
                     "description":"If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere",
                     "name":"failure"
                  },
                  {
                     "autoTerminate":"true",
                     "description":"The original input file will be routed to this destination when it has been successfully split into 1 or more files",
                     "name":"original"
                  },
                  {
                     "autoTerminate":"false",
                     "description":"The split files will be routed to this destination when an input file is successfully split into 1 or more split files",
                     "name":"splits"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.SplitText"
            },
            {
               "id":"73ee9d5c-3f1e-4424-8551-8552a2440055",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"133.0",
                  "y":"592.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Regular Expression",
                           "value":{
                              "defaultValue":"(.*)",
                              "description":"The Regular Expression to search for in the FlowFile content",
                              "displayName":"Regular Expression",
                              "dynamic":"false",
                              "name":"Regular Expression",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Replacement Value",
                           "value":{
                              "defaultValue":"$1",
                              "description":"The value to replace the regular expression with. Back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value.",
                              "displayName":"Replacement Value",
                              "dynamic":"false",
                              "name":"Replacement Value",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular Expression' is set to '.*'",
                              "displayName":"Maximum Buffer Size",
                              "dynamic":"false",
                              "name":"Maximum Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Evaluation Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"Line-by-Line",
                                    "value":"Line-by-Line"
                                 },
                                 {
                                    "displayName":"Entire text",
                                    "value":"Entire text"
                                 }
                              ],
                              "defaultValue":"Entire text",
                              "description":"Evaluate the 'Regular Expression' against each line (Line-by-Line) or buffer the entire file into memory (Entire Text) and then evaluate the 'Regular Expression'.",
                              "displayName":"Evaluation Mode",
                              "dynamic":"false",
                              "name":"Evaluation Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Regular Expression"
                        },
                        {
                           "key":"Replacement Value",
                           "value":"${secaudit.json}"
                        },
                        {
                           "key":"Character Set"
                        },
                        {
                           "key":"Maximum Buffer Size"
                        },
                        {
                           "key":"Evaluation Mode"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"ReplaceCADF_Creates_Duplicates",
               "relationships":[
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles that could not be updated are routed to this relationship",
                     "name":"failure"
                  },
                  {
                     "autoTerminate":"false",
                     "description":"FlowFiles that have been successfully updated are routed to this relationship, as well as FlowFiles whose content does not match the given Regular Expression",
                     "name":"success"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.ReplaceText"
            },
            {
               "id":"9fc206d8-a15d-4c66-a2d4-b393fa7bded7",
               "parentGroupId":"ef853adc-eaf7-461c-9cad-11a4b6ca4023",
               "position":{
                  "x":"-327.5",
                  "y":"402.5"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.",
                              "displayName":"Maximum Buffer Size",
                              "dynamic":"false",
                              "name":"Maximum Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Capture Group Length",
                           "value":{
                              "defaultValue":"1024",
                              "description":"Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.",
                              "displayName":"Maximum Capture Group Length",
                              "dynamic":"false",
                              "name":"Maximum Capture Group Length",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Canonical Equivalence",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that two characters match only when their full canonical decompositions match.",
                              "displayName":"Enable Canonical Equivalence",
                              "dynamic":"false",
                              "name":"Enable Canonical Equivalence",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Case-insensitive Matching",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).",
                              "displayName":"Enable Case-insensitive Matching",
                              "dynamic":"false",
                              "name":"Enable Case-insensitive Matching",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Permit Whitespace and Comments in Pattern",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).",
                              "displayName":"Permit Whitespace and Comments in Pattern",
                              "dynamic":"false",
                              "name":"Permit Whitespace and Comments in Pattern",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable DOTALL Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).",
                              "displayName":"Enable DOTALL Mode",
                              "dynamic":"false",
                              "name":"Enable DOTALL Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Literal Parsing of the Pattern",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that Metacharacters and escape characters should be given no special meaning.",
                              "displayName":"Enable Literal Parsing of the Pattern",
                              "dynamic":"false",
                              "name":"Enable Literal Parsing of the Pattern",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Multiline Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).",
                              "displayName":"Enable Multiline Mode",
                              "dynamic":"false",
                              "name":"Enable Multiline Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Unicode-aware Case Folding",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).",
                              "displayName":"Enable Unicode-aware Case Folding",
                              "dynamic":"false",
                              "name":"Enable Unicode-aware Case Folding",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Unicode Predefined Character Classes",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).",
                              "displayName":"Enable Unicode Predefined Character Classes",
                              "dynamic":"false",
                              "name":"Enable Unicode Predefined Character Classes",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Unix Lines Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that only the '\n' line terminator is recognized int the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).",
                              "displayName":"Enable Unix Lines Mode",
                              "dynamic":"false",
                              "name":"Enable Unix Lines Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"secaudit.json",
                           "value":{
                              "description":"",
                              "displayName":"secaudit.json",
                              "dynamic":"true",
                              "name":"secaudit.json",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Character Set"
                        },
                        {
                           "key":"Maximum Buffer Size"
                        },
                        {
                           "key":"Maximum Capture Group Length"
                        },
                        {
                           "key":"Enable Canonical Equivalence"
                        },
                        {
                           "key":"Enable Case-insensitive Matching"
                        },
                        {
                           "key":"Permit Whitespace and Comments in Pattern"
                        },
                        {
                           "key":"Enable DOTALL Mode"
                        },
                        {
                           "key":"Enable Literal Parsing of the Pattern"
                        },
                        {
                           "key":"Enable Multiline Mode"
                        },
                        {
                           "key":"Enable Unicode-aware Case Folding"
                        },
                        {
                           "key":"Enable Unicode Predefined Character Classes"
                        },
                        {
                           "key":"Enable Unix Lines Mode"
                        },
                        {
                           "key":"secaudit.json",
                           "value":"(\\{.*\\})"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"ExtractCADF_to_Attribute",
               "relationships":[
                  {
                     "autoTerminate":"false",
                     "description":"FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result",
                     "name":"matched"
                  },
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile",
                     "name":"unmatched"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.ExtractText"
            }
         ]
      },
      "timestamp":"09/10/2020 10:46:28 EDT"
   }
}