containers/nifi/nifi-deployment-automation/ansible/templates/registry/csv-to-json-flow.json
{
	"template": {
		"description": "This flow shows how to convert a CSV entry to a JSON document using ExtractText and ReplaceText.",
		"name": "CsvToJSON",
		"snippet": {
			"connections": [
				{
					"id": "a06404c1-34a4-48e9-869d-ae67511e1d34",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "af418612-6920-4348-a892-d5e8ebae7e1f",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "f6929630-aabd-4047-8199-45d529ba00dc",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "00e6e639-ae9b-4c26-b6d1-bc132c28d2fe",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "5d4cd549-2624-49cc-a82d-f58a9575a471",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "f60357a4-9506-4b72-a477-73e45e44bfaf",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "99f0c5c8-2073-48ae-97e9-1111392a752f",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "f6929630-aabd-4047-8199-45d529ba00dc",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "7063134a-d245-4cf2-8d07-5f252ab40c85",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "8ebcbe04-54a7-442f-bfaa-74572a86a558",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "f60357a4-9506-4b72-a477-73e45e44bfaf",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "matched",
					"source": {
						"groupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
						"id": "af418612-6920-4348-a892-d5e8ebae7e1f",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				}
			],
			"labels": {
				"id": "c89fa7cb-d7b1-42da-aa21-8cb417aa8ac8",
				"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
				"position": {
					"x": "342.09998474121096",
					"y": "270.8"
				},
				"height": "281.4172668457031",
				"label": "",
				"style": "",
				"width": "388.0479431152344"
			},
			"processors": [
				{
					"id": "af418612-6920-4348-a892-d5e8ebae7e1f",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"position": {
						"x": "386.6000061035156",
						"y": "284.5999755859375"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file) in order to apply the\n                                regular expressions. Files larger than the specified maximum will not be fully\n                                evaluated.",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Capture Group Length",
									"value": {
										"defaultValue": "1024",
										"description": "Specifies the maximum number of characters a given capture group value can\n                                have. Any characters beyond the max will be truncated.",
										"displayName": "Maximum Capture Group Length",
										"dynamic": "false",
										"name": "Maximum Capture Group Length",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Canonical Equivalence",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that two characters match only when their full canonical\n                                decompositions match.",
										"displayName": "Enable Canonical Equivalence",
										"dynamic": "false",
										"name": "Enable Canonical Equivalence",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Case-insensitive Matching",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that two characters match even if they are in a different case. Can\n                                also be specified via the embeded flag (?i).",
										"displayName": "Enable Case-insensitive Matching",
										"dynamic": "false",
										"name": "Enable Case-insensitive Matching",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Permit Whitespace and Comments in Pattern",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "In this mode, whitespace is ignored, and embedded comments starting with # are\n                                ignored until the end of a line. Can also be specified via the embeded flag (?x).",
										"displayName": "Permit Whitespace and Comments in Pattern",
										"dynamic": "false",
										"name": "Permit Whitespace and Comments in Pattern",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable DOTALL Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that the expression '.' should match any character, including a line\n                                terminator. Can also be specified via the embeded flag (?s).",
										"displayName": "Enable DOTALL Mode",
										"dynamic": "false",
										"name": "Enable DOTALL Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Literal Parsing of the Pattern",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that Metacharacters and escape characters should be given no special\n                                meaning.",
										"displayName": "Enable Literal Parsing of the Pattern",
										"dynamic": "false",
										"name": "Enable Literal Parsing of the Pattern",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Multiline Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that '^' and '$' should match just after and just before a line\n                                terminator or end of sequence, instead of only the begining or end of the entire input.\n                                Can also be specified via the embeded flag (?m).",
										"displayName": "Enable Multiline Mode",
										"dynamic": "false",
										"name": "Enable Multiline Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Unicode-aware Case Folding",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "When used with 'Enable Case-insensitive Matching', matches in a manner\n                                consistent with the Unicode Standard. Can also be specified via the embeded flag (?u).",
										"displayName": "Enable Unicode-aware Case Folding",
										"dynamic": "false",
										"name": "Enable Unicode-aware Case Folding",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Unicode Predefined Character Classes",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Specifies conformance with the Unicode Technical Standard #18: Unicode Regular\n                                Expression Annex C: Compatibility Properties. Can also be specified via the embeded flag\n                                (?U).",
										"displayName": "Enable Unicode Predefined Character Classes",
										"dynamic": "false",
										"name": "Enable Unicode Predefined Character Classes",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Unix Lines Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that only the '\n                                ' line terminator is recognized in the behavior of '.', '^', and '$'. Can also be\n                                specified via the embeded flag (?d).",
										"displayName": "Enable Unix Lines Mode",
										"dynamic": "false",
										"name": "Enable Unix Lines Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Include Capture Group 0",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "Indicates that Capture Group 0 should be included as an attribute. Capture\n                                Group 0 represents the entirety of the regular expression match, is typically not used,\n                                and could have considerable length.",
										"displayName": "Include Capture Group 0",
										"dynamic": "false",
										"name": "Include Capture Group 0",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "csv",
									"value": {
										"description": "",
										"displayName": "csv",
										"dynamic": "true",
										"name": "csv",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Character Set",
									"value": "UTF-8"
								},
								{
									"key": "Maximum Buffer Size",
									"value": "1 MB"
								},
								{
									"key": "Maximum Capture Group Length",
									"value": "1024"
								},
								{
									"key": "Enable Canonical Equivalence",
									"value": "false"
								},
								{
									"key": "Enable Case-insensitive Matching",
									"value": "false"
								},
								{
									"key": "Permit Whitespace and Comments in Pattern",
									"value": "false"
								},
								{
									"key": "Enable DOTALL Mode",
									"value": "false"
								},
								{
									"key": "Enable Literal Parsing of the Pattern",
									"value": "false"
								},
								{
									"key": "Enable Multiline Mode",
									"value": "false"
								},
								{
									"key": "Enable Unicode-aware Case Folding",
									"value": "false"
								},
								{
									"key": "Enable Unicode Predefined Character Classes",
									"value": "false"
								},
								{
									"key": "Enable Unix Lines Mode",
									"value": "false"
								},
								{
									"key": "Include Capture Group 0",
									"value": "false"
								},
								{
									"key": "csv",
									"value": "(.+),(.+),(.+),(.+)"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "ExtractText",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles are routed to this relationship when the Regular Expression is successfully\n                    evaluated and the FlowFile is modified as a result",
							"name": "matched"
						},
						{
							"autoTerminate": "true",
							"description": "FlowFiles are routed to this relationship when no provided Regular Expression matches the\n                    content of the FlowFile",
							"name": "unmatched"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ExtractText"
				},
				{
					"id": "f60357a4-9506-4b72-a477-73e45e44bfaf",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"position": {
						"x": "393.0",
						"y": "440.3999938964844"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": {
										"defaultValue": "(?s:^.*$)",
										"description": "The Regular Expression to search for in the FlowFile content",
										"displayName": "Regular Expression",
										"dynamic": "false",
										"name": "Regular Expression",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Replacement Value",
									"value": {
										"defaultValue": "$1",
										"description": "The value to replace the regular expression with. Back-references to Regular\n                                Expression capturing groups are supported, but back-references that reference capturing\n                                groups that do not exist in the regular expression will be treated as literal value.",
										"displayName": "Replacement Value",
										"dynamic": "false",
										"name": "Replacement Value",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file or per line, depending\n                                on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in\n                                Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile\n                                will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than\n                                this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is\n                                provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB\n                                or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular\n                                Expression' is set to '.*'",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Evaluation Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Line-by-Line",
												"value": "Line-by-Line"
											},
											{
												"displayName": "Entire text",
												"value": "Entire text"
											}
										],
										"defaultValue": "Entire text",
										"description": "Evaluate the 'Regular Expression' against each line (Line-by-Line) or buffer\n                                the entire file into memory (Entire Text) and then evaluate the 'Regular Expression'.",
										"displayName": "Evaluation Mode",
										"dynamic": "false",
										"name": "Evaluation Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": "(?s:^.*$)"
								},
								{
									"key": "Replacement Value",
									"value": "{ \"field1\" : \"${csv.1}\", \"field2\" : \"${csv.2}\",\n                            \"field3\" : \"${csv.3}\", \"field4\" : \"${csv.4}\" }"
								},
								{
									"key": "Character Set",
									"value": "UTF-8"
								},
								{
									"key": "Maximum Buffer Size",
									"value": "1 MB"
								},
								{
									"key": "Evaluation Mode",
									"value": "Entire text"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "ReplaceText",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "FlowFiles that could not be updated are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles that have been successfully updated are routed to this relationship, as well as\n                    FlowFiles whose content does not match the given Regular Expression",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ReplaceText"
				},
				{
					"id": "5d4cd549-2624-49cc-a82d-f58a9575a471",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"position": {
						"x": "389.6000061035156",
						"y": "595.0"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": "",
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": "",
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "UpdateAttribute",
					"relationships": {
						"autoTerminate": "true",
						"description": "All FlowFiles are routed to this relationship",
						"name": "success"
					},
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
				},
				{
					"id": "f6929630-aabd-4047-8199-45d529ba00dc",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"position": {
						"x": "379.0000305175781",
						"y": "127.59999084472656"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": {
										"defaultValue": "(?s:^.*$)",
										"description": "The Regular Expression to search for in the FlowFile content",
										"displayName": "Regular Expression",
										"dynamic": "false",
										"name": "Regular Expression",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Replacement Value",
									"value": {
										"defaultValue": "$1",
										"description": "The value to replace the regular expression with. Back-references to Regular\n                                Expression capturing groups are supported, but back-references that reference capturing\n                                groups that do not exist in the regular expression will be treated as literal value.",
										"displayName": "Replacement Value",
										"dynamic": "false",
										"name": "Replacement Value",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file or per line, depending\n                                on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in\n                                Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile\n                                will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than\n                                this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is\n                                provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB\n                                or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular\n                                Expression' is set to '.*'",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Evaluation Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Line-by-Line",
												"value": "Line-by-Line"
											},
											{
												"displayName": "Entire text",
												"value": "Entire text"
											}
										],
										"defaultValue": "Entire text",
										"description": "Evaluate the 'Regular Expression' against each line (Line-by-Line) or buffer\n                                the entire file into memory (Entire Text) and then evaluate the 'Regular Expression'.",
										"displayName": "Evaluation Mode",
										"dynamic": "false",
										"name": "Evaluation Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": "(?s:^.*$)"
								},
								{
									"key": "Replacement Value",
									"value": "a,b,c,d"
								},
								{
									"key": "Character Set",
									"value": "UTF-8"
								},
								{
									"key": "Maximum Buffer Size",
									"value": "1 MB"
								},
								{
									"key": "Evaluation Mode",
									"value": "Entire text"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "ReplaceText",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "FlowFiles that could not be updated are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles that have been successfully updated are routed to this relationship, as well as\n                    FlowFiles whose content does not match the given Regular Expression",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ReplaceText"
				},
				{
					"id": "7063134a-d245-4cf2-8d07-5f252ab40c85",
					"parentGroupId": "0ef4dff7-1324-40b8-9ae8-db3eb4ccd2af",
					"position": {
						"x": "371.60003662109375",
						"y": "-28.199995040893555"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "File Size",
									"value": {
										"description": "The size of the file that will be used",
										"displayName": "File Size",
										"dynamic": "false",
										"name": "File Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Batch Size",
									"value": {
										"defaultValue": "1",
										"description": "The number of FlowFiles to be transferred in each invocation",
										"displayName": "Batch Size",
										"dynamic": "false",
										"name": "Batch Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Data Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "Binary",
												"value": "Binary"
											},
											{
												"displayName": "Text",
												"value": "Text"
											}
										],
										"defaultValue": "Binary",
										"description": "Specifies whether the data should be Text or Binary",
										"displayName": "Data Format",
										"dynamic": "false",
										"name": "Data Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Unique FlowFiles",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, each FlowFile that is generated will be unique. If false, a random\n                                value will be generated and all FlowFiles will get the same content but this offers much\n                                higher throughput",
										"displayName": "Unique FlowFiles",
										"dynamic": "false",
										"name": "Unique FlowFiles",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "File Size",
									"value": "1 b"
								},
								{
									"key": "Batch Size",
									"value": "1"
								},
								{
									"key": "Data Format",
									"value": "Binary"
								},
								{
									"key": "Unique FlowFiles",
									"value": "false"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "10 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GenerateFlowFile",
					"relationships": {
						"autoTerminate": "false",
						"description": "",
						"name": "success"
					},
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
				}
			]
		},
		"timestamp": "09/22/2022 09:09:59 EDT"
	}
}