containers/nifi/nifi-deployment-automation/ansible/templates/registry/CSV_to_SQL_Demo.json
{
	"template": {
		"description": "This Process Group accepts a CSV Input, Splits the text, extracts values from the CSV, builds an insert statement, and executes statement.",
		"groupId": "7c84501d-d10c-407c-b9f3-1d80e38fe36a",
		"name": "CSV to SQL Demo",
		"snippet": {
			"processGroups": {
				"id": "9cde21f0-35bc-352d-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "12847569-de65-32a1-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "db47ac77-7c0c-3d7c-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "f476b710-5c56-3cec-0000-000000000000",
								"type": "INPUT_PORT"
							},
							"zIndex": "0"
						},
						{
							"id": "139e7c7e-a7a1-3f74-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "77f9a1ce-1402-31bd-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "adfee4d4-92f4-3fd1-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "7813043d-e3c1-3420-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "1756.6461181640625",
								"y": "614.6948852539062"
							},
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "3111b336-f6ca-3745-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "0",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "failure",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "77f9a1ce-1402-31bd-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "9c53cfbb-35ff-3ad9-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "72f1929a-e924-3d79-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "77f9a1ce-1402-31bd-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "c7704798-8b93-33a3-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "1638.7344489250645",
								"y": "554.8461520699675"
							},
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "3111b336-f6ca-3745-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "retry",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "77f9a1ce-1402-31bd-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "e4e79198-ec1b-380e-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "adfee4d4-92f4-3fd1-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "matched",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "46665d16-c6d7-34d7-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "ed6da61b-ac3f-3223-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "46665d16-c6d7-34d7-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "splits",
							"source": {
								"groupId": "9cde21f0-35bc-352d-0000-000000000000",
								"id": "db47ac77-7c0c-3d7c-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"controllerServices": {
						"id": "f4493d35-ceab-3183-0000-000000000000",
						"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
						"bundle": {
							"artifact": "nifi-dbcp-service-nar",
							"group": "org.apache.nifi",
							"version": "1.9.0.3.4.1.1-4"
						},
						"comments": "",
						"descriptors": {
							"entry": [
								{
									"key": "Database Connection URL",
									"value": {
										"name": "Database Connection URL"
									}
								},
								{
									"key": "Database Driver Class Name",
									"value": {
										"name": "Database Driver Class Name"
									}
								},
								{
									"key": "database-driver-locations",
									"value": {
										"name": "database-driver-locations"
									}
								},
								{
									"key": "kerberos-credentials-service",
									"value": {
										"identifiesControllerService": "org.apache.nifi.kerberos.KerberosCredentialsService",
										"name": "kerberos-credentials-service"
									}
								},
								{
									"key": "Database User",
									"value": {
										"name": "Database User"
									}
								},
								{
									"key": "Password",
									"value": {
										"name": "Password"
									}
								},
								{
									"key": "Max Wait Time",
									"value": {
										"name": "Max Wait Time"
									}
								},
								{
									"key": "Max Total Connections",
									"value": {
										"name": "Max Total Connections"
									}
								},
								{
									"key": "Validation-query",
									"value": {
										"name": "Validation-query"
									}
								},
								{
									"key": "dbcp-min-idle-conns",
									"value": {
										"name": "dbcp-min-idle-conns"
									}
								},
								{
									"key": "dbcp-max-idle-conns",
									"value": {
										"name": "dbcp-max-idle-conns"
									}
								},
								{
									"key": "dbcp-max-conn-lifetime",
									"value": {
										"name": "dbcp-max-conn-lifetime"
									}
								},
								{
									"key": "dbcp-time-between-eviction-runs",
									"value": {
										"name": "dbcp-time-between-eviction-runs"
									}
								},
								{
									"key": "dbcp-min-evictable-idle-time",
									"value": {
										"name": "dbcp-min-evictable-idle-time"
									}
								},
								{
									"key": "dbcp-soft-min-evictable-idle-time",
									"value": {
										"name": "dbcp-soft-min-evictable-idle-time"
									}
								}
							]
						},
						"name": "DBCPConnectionPool",
						"persistsState": "false",
						"properties": {
							"entry": [
								{
									"key": "Database Connection URL",
									"value": "jdbc:mysql://localhost/inventory"
								},
								{
									"key": "Database Driver Class Name",
									"value": "com.mysql.jdbc.Driver"
								},
								{
									"key": "database-driver-locations",
									"value": "/usr/share/java/mysql-connector-java.jar"
								},
								{
									"key": "kerberos-credentials-service"
								},
								{
									"key": "Database User"
								},
								{
									"key": "Password"
								},
								{
									"key": "Max Wait Time"
								},
								{
									"key": "Max Total Connections"
								},
								{
									"key": "Validation-query"
								},
								{
									"key": "dbcp-min-idle-conns"
								},
								{
									"key": "dbcp-max-idle-conns"
								},
								{
									"key": "dbcp-max-conn-lifetime"
								},
								{
									"key": "dbcp-time-between-eviction-runs"
								},
								{
									"key": "dbcp-min-evictable-idle-time"
								},
								{
									"key": "dbcp-soft-min-evictable-idle-time"
								}
							]
						},
						"state": "ENABLED",
						"type": "org.apache.nifi.dbcp.DBCPConnectionPool"
					},
					"inputPorts": {
						"id": "f476b710-5c56-3cec-0000-000000000000",
						"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
						"position": {
							"x": "1075.5774304650568",
							"y": "58.94738196171272"
						},
						"concurrentlySchedulableTaskCount": "1",
						"name": "CSV Input",
						"state": "STOPPED",
						"type": "INPUT_PORT"
					},
					"outputPorts": [
						{
							"id": "3111b336-f6ca-3745-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"position": {
								"x": "1519.0976428674003",
								"y": "693.9872955969669"
							},
							"concurrentlySchedulableTaskCount": "1",
							"name": "EOL",
							"state": "STOPPED",
							"type": "OUTPUT_PORT",
							"validationErrors": "'Port 'EOL'' is invalid because Output connection for port 'EOL' is not defined."
						},
						{
							"id": "72f1929a-e924-3d79-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"position": {
								"x": "2011.5774866173997",
								"y": "695.4272479895448"
							},
							"concurrentlySchedulableTaskCount": "1",
							"name": "Success Output",
							"state": "STOPPED",
							"type": "OUTPUT_PORT",
							"validationErrors": "'Port 'Success Output'' is invalid because Output connection for port 'Success Output' is not defined."
						}
					],
					"processors": [
						{
							"id": "46665d16-c6d7-34d7-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"position": {
								"x": "1477.4455206935686",
								"y": "222.01428035685885"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Character Set",
											"value": {
												"name": "Character Set"
											}
										},
										{
											"key": "Maximum Buffer Size",
											"value": {
												"name": "Maximum Buffer Size"
											}
										},
										{
											"key": "Maximum Capture Group Length",
											"value": {
												"name": "Maximum Capture Group Length"
											}
										},
										{
											"key": "Enable Canonical Equivalence",
											"value": {
												"name": "Enable Canonical Equivalence"
											}
										},
										{
											"key": "Enable Case-insensitive Matching",
											"value": {
												"name": "Enable Case-insensitive Matching"
											}
										},
										{
											"key": "Permit Whitespace and Comments in Pattern",
											"value": {
												"name": "Permit Whitespace and Comments in Pattern"
											}
										},
										{
											"key": "Enable DOTALL Mode",
											"value": {
												"name": "Enable DOTALL Mode"
											}
										},
										{
											"key": "Enable Literal Parsing of the Pattern",
											"value": {
												"name": "Enable Literal Parsing of the Pattern"
											}
										},
										{
											"key": "Enable Multiline Mode",
											"value": {
												"name": "Enable Multiline Mode"
											}
										},
										{
											"key": "Enable Unicode-aware Case Folding",
											"value": {
												"name": "Enable Unicode-aware Case Folding"
											}
										},
										{
											"key": "Enable Unicode Predefined Character Classes",
											"value": {
												"name": "Enable Unicode Predefined Character Classes"
											}
										},
										{
											"key": "Enable Unix Lines Mode",
											"value": {
												"name": "Enable Unix Lines Mode"
											}
										},
										{
											"key": "Include Capture Group 0",
											"value": {
												"name": "Include Capture Group 0"
											}
										},
										{
											"key": "extract-text-enable-repeating-capture-group",
											"value": {
												"name": "extract-text-enable-repeating-capture-group"
											}
										},
										{
											"key": "qty",
											"value": {
												"name": "qty"
											}
										},
										{
											"key": "sku",
											"value": {
												"name": "sku"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Character Set",
											"value": "UTF-8"
										},
										{
											"key": "Maximum Buffer Size",
											"value": "1 MB"
										},
										{
											"key": "Maximum Capture Group Length",
											"value": "1024"
										},
										{
											"key": "Enable Canonical Equivalence",
											"value": "false"
										},
										{
											"key": "Enable Case-insensitive Matching",
											"value": "false"
										},
										{
											"key": "Permit Whitespace and Comments in Pattern",
											"value": "false"
										},
										{
											"key": "Enable DOTALL Mode",
											"value": "false"
										},
										{
											"key": "Enable Literal Parsing of the Pattern",
											"value": "false"
										},
										{
											"key": "Enable Multiline Mode",
											"value": "false"
										},
										{
											"key": "Enable Unicode-aware Case Folding",
											"value": "false"
										},
										{
											"key": "Enable Unicode Predefined Character Classes",
											"value": "false"
										},
										{
											"key": "Enable Unix Lines Mode",
											"value": "false"
										},
										{
											"key": "Include Capture Group 0",
											"value": "true"
										},
										{
											"key": "extract-text-enable-repeating-capture-group",
											"value": "false"
										},
										{
											"key": "qty",
											"value": ".*?,(\\d+)$"
										},
										{
											"key": "sku",
											"value": "(.*?),.*?"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ExtractText",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "matched"
								},
								{
									"autoTerminate": "true",
									"name": "unmatched"
								}
							],
							"state": "STOPPED",
							"style": {
								"entry": {
									"key": "background-color",
									"value": "#38fa03"
								}
							},
							"type": "org.apache.nifi.processors.standard.ExtractText"
						},
						{
							"id": "77f9a1ce-1402-31bd-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"position": {
								"x": "1955.5309229514787",
								"y": "479.78496459765574"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "ERROR",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "JDBC Connection Pool",
											"value": {
												"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
												"name": "JDBC Connection Pool"
											}
										},
										{
											"key": "putsql-sql-statement",
											"value": {
												"name": "putsql-sql-statement"
											}
										},
										{
											"key": "Support Fragmented Transactions",
											"value": {
												"name": "Support Fragmented Transactions"
											}
										},
										{
											"key": "database-session-autocommit",
											"value": {
												"name": "database-session-autocommit"
											}
										},
										{
											"key": "Transaction Timeout",
											"value": {
												"name": "Transaction Timeout"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Obtain Generated Keys",
											"value": {
												"name": "Obtain Generated Keys"
											}
										},
										{
											"key": "rollback-on-failure",
											"value": {
												"name": "rollback-on-failure"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "JDBC Connection Pool",
											"value": "f4493d35-ceab-3183-0000-000000000000"
										},
										{
											"key": "putsql-sql-statement"
										},
										{
											"key": "Support Fragmented Transactions",
											"value": "false"
										},
										{
											"key": "database-session-autocommit",
											"value": "false"
										},
										{
											"key": "Transaction Timeout",
											"value": "100 s"
										},
										{
											"key": "Batch Size",
											"value": "100"
										},
										{
											"key": "Obtain Generated Keys",
											"value": "false"
										},
										{
											"key": "rollback-on-failure",
											"value": "false"
										}
									]
								},
								"runDurationMillis": "2000",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "PutSQL",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "retry"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.PutSQL"
						},
						{
							"id": "adfee4d4-92f4-3fd1-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"position": {
								"x": "1948.0237818381975",
								"y": "225.22952178759726"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Regular Expression",
											"value": {
												"name": "Regular Expression"
											}
										},
										{
											"key": "Replacement Value",
											"value": {
												"name": "Replacement Value"
											}
										},
										{
											"key": "Character Set",
											"value": {
												"name": "Character Set"
											}
										},
										{
											"key": "Maximum Buffer Size",
											"value": {
												"name": "Maximum Buffer Size"
											}
										},
										{
											"key": "Replacement Strategy",
											"value": {
												"name": "Replacement Strategy"
											}
										},
										{
											"key": "Evaluation Mode",
											"value": {
												"name": "Evaluation Mode"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Regular Expression",
											"value": "(?s)(^.*$)"
										},
										{
											"key": "Replacement Value",
											"value": "INSERT INTO inventory (sku,qty) VALUES ('${sku}',${qty});"
										},
										{
											"key": "Character Set",
											"value": "UTF-8"
										},
										{
											"key": "Maximum Buffer Size",
											"value": "1 MB"
										},
										{
											"key": "Replacement Strategy",
											"value": "Always Replace"
										},
										{
											"key": "Evaluation Mode",
											"value": "Entire text"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ReplaceText",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.ReplaceText"
						},
						{
							"id": "db47ac77-7c0c-3d7c-0000-000000000000",
							"parentGroupId": "9cde21f0-35bc-352d-0000-000000000000",
							"position": {
								"x": "1017.6342091604693",
								"y": "220.85057607841517"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Line Split Count",
											"value": {
												"name": "Line Split Count"
											}
										},
										{
											"key": "Maximum Fragment Size",
											"value": {
												"name": "Maximum Fragment Size"
											}
										},
										{
											"key": "Header Line Count",
											"value": {
												"name": "Header Line Count"
											}
										},
										{
											"key": "Header Line Marker Characters",
											"value": {
												"name": "Header Line Marker Characters"
											}
										},
										{
											"key": "Remove Trailing Newlines",
											"value": {
												"name": "Remove Trailing Newlines"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Line Split Count",
											"value": "1"
										},
										{
											"key": "Maximum Fragment Size"
										},
										{
											"key": "Header Line Count",
											"value": "0"
										},
										{
											"key": "Header Line Marker Characters"
										},
										{
											"key": "Remove Trailing Newlines",
											"value": "true"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "SplitText",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"name": "original"
								},
								{
									"autoTerminate": "false",
									"name": "splits"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.SplitText"
						}
					]
				},
				"name": "CSV to SQL Demo",
				"variables": ""
			}
		},
		"timestamp": "02/12/2020 13:09:32 UTC",
		"_encoding-version": "1.2"
	}
}
