containers/nifi/nifi-deployment-automation/ansible/templates/registry/CSV_to_Table_Demo.json
{
	"template": {
		"description": "In this template we take a CSV and turn it into an HTML Table.",
		"groupId": "7c84501d-d10c-407c-b9f3-1d80e38fe36a",
		"name": "CSV to Table Demo",
		"snippet": {
			"processGroups": {
				"id": "16689748-53ce-3d84-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "1be7b6fc-74d5-3918-0000-000000000000",
							"parentGroupId": "16689748-53ce-3d84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "16689748-53ce-3d84-0000-000000000000",
								"id": "38623b72-9967-30d9-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "16689748-53ce-3d84-0000-000000000000",
								"id": "076588e9-45f2-3597-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "803e9415-7d3c-35c9-0000-000000000000",
							"parentGroupId": "16689748-53ce-3d84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "16689748-53ce-3d84-0000-000000000000",
								"id": "076588e9-45f2-3597-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "16689748-53ce-3d84-0000-000000000000",
								"id": "ae02646b-b3c0-3726-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "c4809596-5f2e-3705-0000-000000000000",
							"parentGroupId": "16689748-53ce-3d84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-219.80838924429554",
								"y": "474.1305828195598"
							},
							"destination": {
								"groupId": "16689748-53ce-3d84-0000-000000000000",
								"id": "38623b72-9967-30d9-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "failure",
							"source": {
								"groupId": "16689748-53ce-3d84-0000-000000000000",
								"id": "076588e9-45f2-3597-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"outputPorts": {
						"id": "38623b72-9967-30d9-0000-000000000000",
						"parentGroupId": "16689748-53ce-3d84-0000-000000000000",
						"position": {
							"x": "-91.57790649436788",
							"y": "517.0000075204024"
						},
						"concurrentlySchedulableTaskCount": "1",
						"name": "Output",
						"state": "STOPPED",
						"type": "OUTPUT_PORT",
						"validationErrors": "'Port 'Output'' is invalid because Output connection for port 'Output' is not defined."
					},
					"processors": [
						{
							"id": "076588e9-45f2-3597-0000-000000000000",
							"parentGroupId": "16689748-53ce-3d84-0000-000000000000",
							"position": {
								"x": "-139.0388719942232",
								"y": "301.2611581187171"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Regular Expression",
											"value": {
												"name": "Regular Expression"
											}
										},
										{
											"key": "Replacement Value",
											"value": {
												"name": "Replacement Value"
											}
										},
										{
											"key": "Character Set",
											"value": {
												"name": "Character Set"
											}
										},
										{
											"key": "Maximum Buffer Size",
											"value": {
												"name": "Maximum Buffer Size"
											}
										},
										{
											"key": "Replacement Strategy",
											"value": {
												"name": "Replacement Strategy"
											}
										},
										{
											"key": "Evaluation Mode",
											"value": {
												"name": "Evaluation Mode"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Regular Expression",
											"value": "(?s)(^.*$)"
										},
										{
											"key": "Replacement Value",
											"value": "<table><tr><td>\n${'$1':replace(',','</td><td>'):replace('\\n','</td></tr>\\n<tr><td>')}\n</table>"
										},
										{
											"key": "Character Set",
											"value": "UTF-8"
										},
										{
											"key": "Maximum Buffer Size",
											"value": "1 MB"
										},
										{
											"key": "Replacement Strategy",
											"value": "Regex Replace"
										},
										{
											"key": "Evaluation Mode",
											"value": "Entire text"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ReplaceText",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.ReplaceText"
						},
						{
							"id": "ae02646b-b3c0-3726-0000-000000000000",
							"parentGroupId": "16689748-53ce-3d84-0000-000000000000",
							"position": {
								"x": "-140.57790073905085",
								"y": "78.10521808555313"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "File Size",
											"value": {
												"name": "File Size"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Data Format",
											"value": {
												"name": "Data Format"
											}
										},
										{
											"key": "Unique FlowFiles",
											"value": {
												"name": "Unique FlowFiles"
											}
										},
										{
											"key": "generate-ff-custom-text",
											"value": {
												"name": "generate-ff-custom-text"
											}
										},
										{
											"key": "character-set",
											"value": {
												"name": "character-set"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "File Size",
											"value": "0B"
										},
										{
											"key": "Batch Size",
											"value": "1"
										},
										{
											"key": "Data Format",
											"value": "Text"
										},
										{
											"key": "Unique FlowFiles",
											"value": "false"
										},
										{
											"key": "generate-ff-custom-text",
											"value": "Release Cause,Previous Count,Current Count,Change_Ratio,SEVERITY\nSIP: [487] Request Terminated,173,393,1.271676300578034682,Critical"
										},
										{
											"key": "character-set",
											"value": "UTF-8"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "1 min",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "GenerateFlowFile",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
						}
					]
				},
				"name": "CSV to Table Demo",
				"variables": ""
			}
		},
		"timestamp": "02/12/2020 13:19:18 UTC",
		"_encoding-version": "1.2"
	}
}
