containers/nifi/nifi-deployment-automation/ansible/templates/registry/Decompression_Circular_Flow.json
{
	"template": {
		"description": "Decompression_Circular_Flow.xml\tThis flow demonstrates taking an archive that is created with several levels of compression and then continuously decompressing it using a loop until the archived file is extracted out.",
		"name": "Decompression Circular Flow",
		"snippet": {
			"connections": [
				{
					"id": "415665e0-274a-4195-84e1-bc7c2da0ff07",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": {
						"x": "1357.1998291015625",
						"y": "869.7398681640625"
					},
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "41861b69-9438-42d9-8180-172bcd5e39f8",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "0",
					"name": "",
					"selectedRelationships": "gzip",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "27fd32f8-091c-4216-b08d-c0668d790030",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "4223d2f0-59d9-433e-8365-7e2a97e21c17",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": {
						"x": "1627.9197998046875",
						"y": "508.2999267578125"
					},
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "c00ed5e4-5491-4b2e-8562-49e4154f231d",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "0",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "41861b69-9438-42d9-8180-172bcd5e39f8",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "13aeb4b7-a890-4a30-b665-932b04b64fec",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "4f9bf421-02a6-49b4-8a25-82e71321d2f7",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "08da9b05-0613-465f-b257-514095951e9f",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "2e2a31bd-86a8-40ba-9ec7-9da6856eef5e",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "979.999978085227",
							"y": "300.99998512455966"
						},
						{
							"x": "979.999978085227",
							"y": "350.99998512455966"
						}
					],
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "4f9bf421-02a6-49b4-8a25-82e71321d2f7",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "4f9bf421-02a6-49b4-8a25-82e71321d2f7",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "079e9e2f-6cd2-4dc0-a858-6baacaf4c9ed",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "985.999978085227",
							"y": "458.99998512455966"
						},
						{
							"x": "985.999978085227",
							"y": "508.99998512455966"
						}
					],
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "57e6ed8d-c37b-48fa-8a3d-9d95a03ccd26",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "57e6ed8d-c37b-48fa-8a3d-9d95a03ccd26",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "a512b6ec-6ead-4135-bdd4-af9125cb4c55",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "36a57eb0-729a-4dbb-b634-ebd510ddb75e",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "57e6ed8d-c37b-48fa-8a3d-9d95a03ccd26",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "fd76234c-112d-47c1-a595-df94445929d0",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "08da9b05-0613-465f-b257-514095951e9f",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "d1979e9a-04f8-4b25-9cce-8cb06cb6bcb6",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "146be504-a734-4ae0-b6f3-c301bd77b130",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "981.999978085227",
							"y": "146.9999698657706"
						},
						{
							"x": "981.999978085227",
							"y": "196.9999698657706"
						}
					],
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "08da9b05-0613-465f-b257-514095951e9f",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "08da9b05-0613-465f-b257-514095951e9f",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "2544cd91-3544-4156-adbf-7f1941c229d1",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "41861b69-9438-42d9-8180-172bcd5e39f8",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "36a57eb0-729a-4dbb-b634-ebd510ddb75e",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "94f55614-0b0c-4cff-8116-649158c77ef6",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "57e6ed8d-c37b-48fa-8a3d-9d95a03ccd26",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "4f9bf421-02a6-49b4-8a25-82e71321d2f7",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "7915da62-5eee-4195-bd48-d55240508113",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "27fd32f8-091c-4216-b08d-c0668d790030",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "c00ed5e4-5491-4b2e-8562-49e4154f231d",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "7d5c3c41-776b-4176-bbd1-c884fdea1a33",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "985.999978085227",
							"y": "629.9999851245597"
						},
						{
							"x": "985.999978085227",
							"y": "679.9999851245597"
						}
					],
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "36a57eb0-729a-4dbb-b634-ebd510ddb75e",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "36a57eb0-729a-4dbb-b634-ebd510ddb75e",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "377f52ed-ffd4-4cb2-8cd4-474ee81f883b",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "ca2287e1-ac3f-4d55-bf53-078820c9519f",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "unmatched",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "27fd32f8-091c-4216-b08d-c0668d790030",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "5da2afa5-2e37-4629-95c8-d0f1535a78a2",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "1616.3997802734375",
							"y": "580.2999267578125"
						},
						{
							"x": "1620.1265869140625",
							"y": "716.6499633789062"
						}
					],
					"destination": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "41861b69-9438-42d9-8180-172bcd5e39f8",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "5 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
						"id": "41861b69-9438-42d9-8180-172bcd5e39f8",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				}
			],
			"processors": [
				{
					"id": "57e6ed8d-c37b-48fa-8a3d-9d95a03ccd26",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "576.999978085227",
						"y": "433.99998512455966"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "compress",
												"value": "compress"
											},
											{
												"displayName": "decompress",
												"value": "decompress"
											}
										],
										"defaultValue": "compress",
										"description": "Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "use mime.type attribute",
												"value": "use mime.type attribute"
											},
											{
												"displayName": "gzip",
												"value": "gzip"
											},
											{
												"displayName": "bzip2",
												"value": "bzip2"
											},
											{
												"displayName": "xz-lzma2",
												"value": "xz-lzma2"
											},
											{
												"displayName": "lzma",
												"value": "lzma"
											}
										],
										"defaultValue": "use mime.type attribute",
										"description": "The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, and LZMA",
										"displayName": "Compression Format",
										"dynamic": "false",
										"name": "Compression Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "0",
												"value": "0"
											},
											{
												"displayName": "1",
												"value": "1"
											},
											{
												"displayName": "2",
												"value": "2"
											},
											{
												"displayName": "3",
												"value": "3"
											},
											{
												"displayName": "4",
												"value": "4"
											},
											{
												"displayName": "5",
												"value": "5"
											},
											{
												"displayName": "6",
												"value": "6"
											},
											{
												"displayName": "7",
												"value": "7"
											},
											{
												"displayName": "8",
												"value": "8"
											},
											{
												"displayName": "9",
												"value": "9"
											}
										],
										"defaultValue": "1",
										"description": "The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving",
										"displayName": "Compression Level",
										"dynamic": "false",
										"name": "Compression Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Update Filename",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data",
										"displayName": "Update Filename",
										"dynamic": "false",
										"name": "Update Filename",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode"
								},
								{
									"key": "Compression Format",
									"value": "gzip"
								},
								{
									"key": "Compression Level"
								},
								{
									"key": "Update Filename"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GZIP CompressContent",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the failure relationship if they fail to compress/decompress",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.CompressContent"
				},
				{
					"id": "36a57eb0-729a-4dbb-b634-ebd510ddb75e",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "576.999978085227",
						"y": "604.9999851245597"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "compress",
												"value": "compress"
											},
											{
												"displayName": "decompress",
												"value": "decompress"
											}
										],
										"defaultValue": "compress",
										"description": "Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "use mime.type attribute",
												"value": "use mime.type attribute"
											},
											{
												"displayName": "gzip",
												"value": "gzip"
											},
											{
												"displayName": "bzip2",
												"value": "bzip2"
											},
											{
												"displayName": "xz-lzma2",
												"value": "xz-lzma2"
											},
											{
												"displayName": "lzma",
												"value": "lzma"
											}
										],
										"defaultValue": "use mime.type attribute",
										"description": "The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, and LZMA",
										"displayName": "Compression Format",
										"dynamic": "false",
										"name": "Compression Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "0",
												"value": "0"
											},
											{
												"displayName": "1",
												"value": "1"
											},
											{
												"displayName": "2",
												"value": "2"
											},
											{
												"displayName": "3",
												"value": "3"
											},
											{
												"displayName": "4",
												"value": "4"
											},
											{
												"displayName": "5",
												"value": "5"
											},
											{
												"displayName": "6",
												"value": "6"
											},
											{
												"displayName": "7",
												"value": "7"
											},
											{
												"displayName": "8",
												"value": "8"
											},
											{
												"displayName": "9",
												"value": "9"
											}
										],
										"defaultValue": "1",
										"description": "The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving",
										"displayName": "Compression Level",
										"dynamic": "false",
										"name": "Compression Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Update Filename",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data",
										"displayName": "Update Filename",
										"dynamic": "false",
										"name": "Update Filename",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode"
								},
								{
									"key": "Compression Format",
									"value": "gzip"
								},
								{
									"key": "Compression Level"
								},
								{
									"key": "Update Filename"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GZIP CompressContent",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the failure relationship if they fail to compress/decompress",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.CompressContent"
				},
				{
					"id": "c00ed5e4-5491-4b2e-8562-49e4154f231d",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "1754.6399097258525",
						"y": "603.3398581714347"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": "",
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": "",
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "IdentifyMimeType",
					"relationships": {
						"autoTerminate": "false",
						"description": "All FlowFiles are routed to success",
						"name": "success"
					},
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.IdentifyMimeType"
				},
				{
					"id": "4f9bf421-02a6-49b4-8a25-82e71321d2f7",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "570.999978085227",
						"y": "275.99998512455966"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "compress",
												"value": "compress"
											},
											{
												"displayName": "decompress",
												"value": "decompress"
											}
										],
										"defaultValue": "compress",
										"description": "Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "use mime.type attribute",
												"value": "use mime.type attribute"
											},
											{
												"displayName": "gzip",
												"value": "gzip"
											},
											{
												"displayName": "bzip2",
												"value": "bzip2"
											},
											{
												"displayName": "xz-lzma2",
												"value": "xz-lzma2"
											},
											{
												"displayName": "lzma",
												"value": "lzma"
											}
										],
										"defaultValue": "use mime.type attribute",
										"description": "The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, and LZMA",
										"displayName": "Compression Format",
										"dynamic": "false",
										"name": "Compression Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "0",
												"value": "0"
											},
											{
												"displayName": "1",
												"value": "1"
											},
											{
												"displayName": "2",
												"value": "2"
											},
											{
												"displayName": "3",
												"value": "3"
											},
											{
												"displayName": "4",
												"value": "4"
											},
											{
												"displayName": "5",
												"value": "5"
											},
											{
												"displayName": "6",
												"value": "6"
											},
											{
												"displayName": "7",
												"value": "7"
											},
											{
												"displayName": "8",
												"value": "8"
											},
											{
												"displayName": "9",
												"value": "9"
											}
										],
										"defaultValue": "1",
										"description": "The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving",
										"displayName": "Compression Level",
										"dynamic": "false",
										"name": "Compression Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Update Filename",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data",
										"displayName": "Update Filename",
										"dynamic": "false",
										"name": "Update Filename",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode"
								},
								{
									"key": "Compression Format",
									"value": "gzip"
								},
								{
									"key": "Compression Level"
								},
								{
									"key": "Update Filename"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GZIP CompressContent",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the failure relationship if they fail to compress/decompress",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.CompressContent"
				},
				{
					"id": "d1979e9a-04f8-4b25-9cce-8cb06cb6bcb6",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "128.99997808522699",
						"y": "125.99998512455966"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "File Size",
									"value": {
										"description": "The size of the file that will be used",
										"displayName": "File Size",
										"dynamic": "false",
										"name": "File Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Batch Size",
									"value": {
										"defaultValue": "1",
										"description": "The number of FlowFiles to be transferred in each invocation",
										"displayName": "Batch Size",
										"dynamic": "false",
										"name": "Batch Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Data Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "Binary",
												"value": "Binary"
											},
											{
												"displayName": "Text",
												"value": "Text"
											}
										],
										"defaultValue": "Binary",
										"description": "Specifies whether the data should be Text or Binary",
										"displayName": "Data Format",
										"dynamic": "false",
										"name": "Data Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Unique FlowFiles",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
										"displayName": "Unique FlowFiles",
										"dynamic": "false",
										"name": "Unique FlowFiles",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "File Size",
									"value": "10kb"
								},
								{
									"key": "Batch Size"
								},
								{
									"key": "Data Format"
								},
								{
									"key": "Unique FlowFiles"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "1 min",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GenerateFlowFile",
					"relationships": {
						"autoTerminate": "false",
						"description": "",
						"name": "success"
					},
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
				},
				{
					"id": "08da9b05-0613-465f-b257-514095951e9f",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "572.999978085227",
						"y": "121.9999698657706"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "compress",
												"value": "compress"
											},
											{
												"displayName": "decompress",
												"value": "decompress"
											}
										],
										"defaultValue": "compress",
										"description": "Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "use mime.type attribute",
												"value": "use mime.type attribute"
											},
											{
												"displayName": "gzip",
												"value": "gzip"
											},
											{
												"displayName": "bzip2",
												"value": "bzip2"
											},
											{
												"displayName": "xz-lzma2",
												"value": "xz-lzma2"
											},
											{
												"displayName": "lzma",
												"value": "lzma"
											}
										],
										"defaultValue": "use mime.type attribute",
										"description": "The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, and LZMA",
										"displayName": "Compression Format",
										"dynamic": "false",
										"name": "Compression Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "0",
												"value": "0"
											},
											{
												"displayName": "1",
												"value": "1"
											},
											{
												"displayName": "2",
												"value": "2"
											},
											{
												"displayName": "3",
												"value": "3"
											},
											{
												"displayName": "4",
												"value": "4"
											},
											{
												"displayName": "5",
												"value": "5"
											},
											{
												"displayName": "6",
												"value": "6"
											},
											{
												"displayName": "7",
												"value": "7"
											},
											{
												"displayName": "8",
												"value": "8"
											},
											{
												"displayName": "9",
												"value": "9"
											}
										],
										"defaultValue": "1",
										"description": "The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving",
										"displayName": "Compression Level",
										"dynamic": "false",
										"name": "Compression Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Update Filename",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data",
										"displayName": "Update Filename",
										"dynamic": "false",
										"name": "Update Filename",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode"
								},
								{
									"key": "Compression Format",
									"value": "gzip"
								},
								{
									"key": "Compression Level"
								},
								{
									"key": "Update Filename"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GZIP CompressContent",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the failure relationship if they fail to compress/decompress",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.CompressContent"
				},
				{
					"id": "27fd32f8-091c-4216-b08d-c0668d790030",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "1761.2801294524145",
						"y": "818.8799900073723"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Routing Strategy",
									"value": {
										"allowableValues": [
											{
												"description": "A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'",
												"displayName": "Route to Property name",
												"value": "Route to Property name"
											},
											{
												"description": "Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match",
												"displayName": "Route to 'matched' if all match",
												"value": "Route to 'match' if all match"
											},
											{
												"description": "Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match",
												"displayName": "Route to 'matched' if any matches",
												"value": "Route to 'match' if any matches"
											}
										],
										"defaultValue": "Route to Property name",
										"description": "Specifies how to determine which relationship to use when evaluating the Expression Language",
										"displayName": "Routing Strategy",
										"dynamic": "false",
										"name": "Routing Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "gzip",
									"value": {
										"description": "",
										"displayName": "gzip",
										"dynamic": "true",
										"name": "gzip",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Routing Strategy"
								},
								{
									"key": "gzip",
									"value": "${mime.type:toUpper():contains(\"GZIP\")}"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "Compressed?",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "",
							"name": "gzip"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles that do not match any user-define expression will be routed here",
							"name": "unmatched"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.RouteOnAttribute"
				},
				{
					"id": "ca2287e1-ac3f-4d55-bf53-078820c9519f",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "1757.2002954680395",
						"y": "1053.1598972339348"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Log Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "trace",
												"value": "trace"
											},
											{
												"displayName": "debug",
												"value": "debug"
											},
											{
												"displayName": "info",
												"value": "info"
											},
											{
												"displayName": "warn",
												"value": "warn"
											},
											{
												"displayName": "error",
												"value": "error"
											}
										],
										"defaultValue": "info",
										"description": "The Log Level to use when logging the Attributes",
										"displayName": "Log Level",
										"dynamic": "false",
										"name": "Log Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Log Payload",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.",
										"displayName": "Log Payload",
										"dynamic": "false",
										"name": "Log Payload",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Attributes to Log",
									"value": {
										"description": "A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.",
										"displayName": "Attributes to Log",
										"dynamic": "false",
										"name": "Attributes to Log",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Attributes to Ignore",
									"value": {
										"description": "A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.",
										"displayName": "Attributes to Ignore",
										"dynamic": "false",
										"name": "Attributes to Ignore",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Log Level"
								},
								{
									"key": "Log Payload"
								},
								{
									"key": "Attributes to Log"
								},
								{
									"key": "Attributes to Ignore"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "LogAttribute",
					"relationships": {
						"autoTerminate": "true",
						"description": "All FlowFiles are routed to this relationship",
						"name": "success"
					},
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.LogAttribute"
				},
				{
					"id": "41861b69-9438-42d9-8180-172bcd5e39f8",
					"parentGroupId": "7348553d-4836-4622-82ce-09d3d1ffa88c",
					"position": {
						"x": "1201.999978085227",
						"y": "603.9999851245597"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "compress",
												"value": "compress"
											},
											{
												"displayName": "decompress",
												"value": "decompress"
											}
										],
										"defaultValue": "compress",
										"description": "Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "use mime.type attribute",
												"value": "use mime.type attribute"
											},
											{
												"displayName": "gzip",
												"value": "gzip"
											},
											{
												"displayName": "bzip2",
												"value": "bzip2"
											},
											{
												"displayName": "xz-lzma2",
												"value": "xz-lzma2"
											},
											{
												"displayName": "lzma",
												"value": "lzma"
											}
										],
										"defaultValue": "use mime.type attribute",
										"description": "The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, and LZMA",
										"displayName": "Compression Format",
										"dynamic": "false",
										"name": "Compression Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Compression Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "0",
												"value": "0"
											},
											{
												"displayName": "1",
												"value": "1"
											},
											{
												"displayName": "2",
												"value": "2"
											},
											{
												"displayName": "3",
												"value": "3"
											},
											{
												"displayName": "4",
												"value": "4"
											},
											{
												"displayName": "5",
												"value": "5"
											},
											{
												"displayName": "6",
												"value": "6"
											},
											{
												"displayName": "7",
												"value": "7"
											},
											{
												"displayName": "8",
												"value": "8"
											},
											{
												"displayName": "9",
												"value": "9"
											}
										],
										"defaultValue": "1",
										"description": "The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving",
										"displayName": "Compression Level",
										"dynamic": "false",
										"name": "Compression Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Update Filename",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data",
										"displayName": "Update Filename",
										"dynamic": "false",
										"name": "Update Filename",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode",
									"value": "decompress"
								},
								{
									"key": "Compression Format",
									"value": "gzip"
								},
								{
									"key": "Compression Level"
								},
								{
									"key": "Update Filename"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "Uncompress GZIP",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the failure relationship if they fail to compress/decompress",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed",
							"name": "success"
						}
					],
					"state": "RUNNING",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.CompressContent"
				}
			]
		},
		"timestamp": "08/19/2022 15:47:01 UTC"
	}
}