containers/nifi/nifi-deployment-automation/ansible/templates/registry/Decrypt_Alter_Encrypt_OpenSSL.json
{
	"template": {
		"description": "This template shows the ability to decrypt openssl encrypted data, which is then altered, re-encrypted using openssl compatible KDF strategy with a new password, and written out so command line verification can occur.",
		"name": "Decrypt Alter Encrypt OpenSSL",
		"snippet": {
			"connections": [
				{
					"id": "ea1be6e7-f988-40bf-9d7d-47a8a85f2d51",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "474eea76-c3f4-414c-b1b4-dc1cd36513e2",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "f432032c-7714-4b9a-8802-fbb750f1525c",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "60f507a2-3537-4dac-afac-a354b596f45c",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "481.8044094334341",
							"y": "380.55161580063475"
						},
						{
							"x": "481.8044094334341",
							"y": "430.55161580063475"
						}
					],
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "474eea76-c3f4-414c-b1b4-dc1cd36513e2",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "474eea76-c3f4-414c-b1b4-dc1cd36513e2",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "d3fd9f27-28cf-4ecc-974f-0f04ae294141",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "f91a24a3-153a-4b22-be19-734723b0ad67",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "f6a884c3-5ea0-4a24-8ee2-9cad4114acd4",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "d3852fb2-d663-4497-93a2-5dbcb6ff4137",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "ec70a88c-2bd6-4d3e-a59b-8cc31066b7c3",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "f4af5722-c311-4a07-b3a6-dd49acf18f5c",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "ba4a5081-b834-4da8-8ed4-0e246aff4a18",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "f432032c-7714-4b9a-8802-fbb750f1525c",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "ec70a88c-2bd6-4d3e-a59b-8cc31066b7c3",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "b3d31cf0-7547-4ede-ac1c-28dd558172d0",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "f6a884c3-5ea0-4a24-8ee2-9cad4114acd4",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "474eea76-c3f4-414c-b1b4-dc1cd36513e2",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "b3a61b2b-3ec3-4cc5-b235-3c6e019092c5",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"bends": [
						{
							"x": "482.25586700439453",
							"y": "48.57764434814453"
						},
						{
							"x": "482.25586700439453",
							"y": "98.57764434814453"
						}
					],
					"destination": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "ec70a88c-2bd6-4d3e-a59b-8cc31066b7c3",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "715fc9b5-f280-4752-8c29-73598e016399",
						"id": "ec70a88c-2bd6-4d3e-a59b-8cc31066b7c3",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				}
			],
			"labels": [
				{
					"id": "2182bf8b-3c4e-4da1-b218-b693d3e9e50c",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "-403.7761315612253",
						"y": "-175.18875100702337"
					},
					"height": "179.88436889648438",
					"label": "This template is configured to expect that your Java install \nhas unlimited strength JCE installed.  You can shorten the \nlength of the password for decryption to something less \nthan 16 characters if not.  So using command line openssl \nrun this command to encrypt some interesting text file you \nhave.\n\n'openssl enc -aes-256-cbc -e -in LICENSE -out salted_raw.enc \n   -k thisIsABadPassword -p'\n\n\nPut a copy of that resulting 'salted-raw.enc' file into a \ndirectory called 'input'",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "12px"
						}
					},
					"width": "415.233154296875"
				},
				{
					"id": "9c590238-cb87-4b84-a1b8-44c3cd2d73b4",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "-433.75691591108847",
						"y": "557.8401046070869"
					},
					"height": "179.88436889648438",
					"label": "Now the altered data is written to a directory called 'output'\nTo decrypt it on the command line run\n\n'openssl enc -aes-256-cbc -d -in salted_raw.enc-new -out salted_raw.enc \n   -k secret -p'\n\nNow you can review the results of salted_raw.enc and it should\nbe the plaintext of the modified object!",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "12px"
						}
					},
					"width": "415.233154296875"
				}
			],
			"processors": [
				{
					"id": "474eea76-c3f4-414c-b1b4-dc1cd36513e2",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "72.80440943343416",
						"y": "355.55161580063475"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "passphrase is 'secret'",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Encrypt",
												"value": "Encrypt"
											},
											{
												"displayName": "Decrypt",
												"value": "Decrypt"
											}
										],
										"defaultValue": "Encrypt",
										"description": "Specifies whether the content should be encrypted or decrypted",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "key-derivation-function",
									"value": {
										"allowableValues": [
											{
												"displayName": "NIFI_LEGACY",
												"value": "NIFI_LEGACY"
											},
											{
												"displayName": "OPENSSL_EVP_BYTES_TO_KEY",
												"value": "OPENSSL_EVP_BYTES_TO_KEY"
											}
										],
										"defaultValue": "NIFI_LEGACY",
										"description": "Specifies the key derivation function to generate the key from the password (and salt)",
										"displayName": "Key Derivation Function",
										"dynamic": "false",
										"name": "key-derivation-function",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Encryption Algorithm",
									"value": {
										"allowableValues": [
											{
												"displayName": "MD5_128AES",
												"value": "MD5_128AES"
											},
											{
												"displayName": "MD5_192AES",
												"value": "MD5_192AES"
											},
											{
												"displayName": "MD5_256AES",
												"value": "MD5_256AES"
											},
											{
												"displayName": "MD5_DES",
												"value": "MD5_DES"
											},
											{
												"displayName": "MD5_RC2",
												"value": "MD5_RC2"
											},
											{
												"displayName": "SHA1_RC2",
												"value": "SHA1_RC2"
											},
											{
												"displayName": "SHA1_DES",
												"value": "SHA1_DES"
											},
											{
												"displayName": "SHA_128AES",
												"value": "SHA_128AES"
											},
											{
												"displayName": "SHA_192AES",
												"value": "SHA_192AES"
											},
											{
												"displayName": "SHA_256AES",
												"value": "SHA_256AES"
											},
											{
												"displayName": "SHA_40RC2",
												"value": "SHA_40RC2"
											},
											{
												"displayName": "SHA_128RC2",
												"value": "SHA_128RC2"
											},
											{
												"displayName": "SHA_40RC4",
												"value": "SHA_40RC4"
											},
											{
												"displayName": "SHA_128RC4",
												"value": "SHA_128RC4"
											},
											{
												"displayName": "SHA256_128AES",
												"value": "SHA256_128AES"
											},
											{
												"displayName": "SHA256_192AES",
												"value": "SHA256_192AES"
											},
											{
												"displayName": "SHA256_256AES",
												"value": "SHA256_256AES"
											},
											{
												"displayName": "SHA_2KEYTRIPLEDES",
												"value": "SHA_2KEYTRIPLEDES"
											},
											{
												"displayName": "SHA_3KEYTRIPLEDES",
												"value": "SHA_3KEYTRIPLEDES"
											},
											{
												"displayName": "SHA_TWOFISH",
												"value": "SHA_TWOFISH"
											},
											{
												"displayName": "PGP",
												"value": "PGP"
											},
											{
												"displayName": "PGP_ASCII_ARMOR",
												"value": "PGP_ASCII_ARMOR"
											}
										],
										"defaultValue": "MD5_128AES",
										"description": "The Encryption Algorithm to use",
										"displayName": "Encryption Algorithm",
										"dynamic": "false",
										"name": "Encryption Algorithm",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Password",
									"value": {
										"description": "The Password to use for encrypting or decrypting the data",
										"displayName": "Password",
										"dynamic": "false",
										"name": "Password",
										"required": "false",
										"sensitive": "true",
										"supportsEl": "false"
									}
								},
								{
									"key": "public-keyring-file",
									"value": {
										"description": "In a PGP encrypt mode, this keyring contains the public key of the recipient",
										"displayName": "Public Keyring File",
										"dynamic": "false",
										"name": "public-keyring-file",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "public-key-user-id",
									"value": {
										"description": "In a PGP encrypt mode, this user id of the recipient",
										"displayName": "Public Key User Id",
										"dynamic": "false",
										"name": "public-key-user-id",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "private-keyring-file",
									"value": {
										"description": "In a PGP decrypt mode, this keyring contains the private key of the recipient",
										"displayName": "Private Keyring File",
										"dynamic": "false",
										"name": "private-keyring-file",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "private-keyring-passphrase",
									"value": {
										"description": "In a PGP decrypt mode, this is the private keyring passphrase",
										"displayName": "Private Keyring Passphrase",
										"dynamic": "false",
										"name": "private-keyring-passphrase",
										"required": "false",
										"sensitive": "true",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode",
									"value": "Encrypt"
								},
								{
									"key": "key-derivation-function",
									"value": "OPENSSL_EVP_BYTES_TO_KEY"
								},
								{
									"key": "Encryption Algorithm",
									"value": "MD5_256AES"
								},
								{
									"key": "Password"
								},
								{
									"key": "public-keyring-file"
								},
								{
									"key": "public-key-user-id"
								},
								{
									"key": "private-keyring-file"
								},
								{
									"key": "private-keyring-passphrase"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "encrypt",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "Any FlowFile that cannot be encrypted or decrypted will be routed to failure",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "Any FlowFile that is successfully encrypted or decrypted will be routed to success",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.EncryptContent"
				},
				{
					"id": "f432032c-7714-4b9a-8802-fbb750f1525c",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "72.63615755177341",
						"y": "189.59037333231709"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": {
										"defaultValue": "(?s:^.*$)",
										"description": "The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
										"displayName": "Search Value",
										"dynamic": "false",
										"name": "Regular Expression",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Replacement Value",
									"value": {
										"defaultValue": "$1",
										"description": "The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value.",
										"displayName": "Replacement Value",
										"dynamic": "false",
										"name": "Replacement Value",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular Expression' is set to '.*'",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Replacement Strategy",
									"value": {
										"allowableValues": [
											{
												"description": "Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text.",
												"displayName": "Prepend",
												"value": "Prepend"
											},
											{
												"description": "Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text.",
												"displayName": "Append",
												"value": "Append"
											},
											{
												"description": "Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.",
												"displayName": "Regex Replace",
												"value": "Regex Replace"
											},
											{
												"description": "Search for all instances of the Search Value and replace the matches with the Replacement Value.",
												"displayName": "Literal Replace",
												"value": "Literal Replace"
											}
										],
										"defaultValue": "Regex Replace",
										"description": "The strategy for how and what to replace within the FlowFile's text content.",
										"displayName": "Replacement Strategy",
										"dynamic": "false",
										"name": "Replacement Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Evaluation Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Line-by-Line",
												"value": "Line-by-Line"
											},
											{
												"displayName": "Entire text",
												"value": "Entire text"
											}
										],
										"defaultValue": "Entire text",
										"description": "Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
										"displayName": "Evaluation Mode",
										"dynamic": "false",
										"name": "Evaluation Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Regular Expression"
								},
								{
									"key": "Replacement Value",
									"value": "This is now the first line!"
								},
								{
									"key": "Character Set"
								},
								{
									"key": "Maximum Buffer Size"
								},
								{
									"key": "Replacement Strategy",
									"value": "Prepend"
								},
								{
									"key": "Evaluation Mode"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "Alter Plaintext",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "FlowFiles that could not be updated are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ReplaceText"
				},
				{
					"id": "ec70a88c-2bd6-4d3e-a59b-8cc31066b7c3",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "73.25586700439453",
						"y": "23.57764434814453"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Encrypt",
												"value": "Encrypt"
											},
											{
												"displayName": "Decrypt",
												"value": "Decrypt"
											}
										],
										"defaultValue": "Encrypt",
										"description": "Specifies whether the content should be encrypted or decrypted",
										"displayName": "Mode",
										"dynamic": "false",
										"name": "Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "key-derivation-function",
									"value": {
										"allowableValues": [
											{
												"displayName": "NIFI_LEGACY",
												"value": "NIFI_LEGACY"
											},
											{
												"displayName": "OPENSSL_EVP_BYTES_TO_KEY",
												"value": "OPENSSL_EVP_BYTES_TO_KEY"
											}
										],
										"defaultValue": "NIFI_LEGACY",
										"description": "Specifies the key derivation function to generate the key from the password (and salt)",
										"displayName": "Key Derivation Function",
										"dynamic": "false",
										"name": "key-derivation-function",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Encryption Algorithm",
									"value": {
										"allowableValues": [
											{
												"displayName": "MD5_128AES",
												"value": "MD5_128AES"
											},
											{
												"displayName": "MD5_192AES",
												"value": "MD5_192AES"
											},
											{
												"displayName": "MD5_256AES",
												"value": "MD5_256AES"
											},
											{
												"displayName": "MD5_DES",
												"value": "MD5_DES"
											},
											{
												"displayName": "MD5_RC2",
												"value": "MD5_RC2"
											},
											{
												"displayName": "SHA1_RC2",
												"value": "SHA1_RC2"
											},
											{
												"displayName": "SHA1_DES",
												"value": "SHA1_DES"
											},
											{
												"displayName": "SHA_128AES",
												"value": "SHA_128AES"
											},
											{
												"displayName": "SHA_192AES",
												"value": "SHA_192AES"
											},
											{
												"displayName": "SHA_256AES",
												"value": "SHA_256AES"
											},
											{
												"displayName": "SHA_40RC2",
												"value": "SHA_40RC2"
											},
											{
												"displayName": "SHA_128RC2",
												"value": "SHA_128RC2"
											},
											{
												"displayName": "SHA_40RC4",
												"value": "SHA_40RC4"
											},
											{
												"displayName": "SHA_128RC4",
												"value": "SHA_128RC4"
											},
											{
												"displayName": "SHA256_128AES",
												"value": "SHA256_128AES"
											},
											{
												"displayName": "SHA256_192AES",
												"value": "SHA256_192AES"
											},
											{
												"displayName": "SHA256_256AES",
												"value": "SHA256_256AES"
											},
											{
												"displayName": "SHA_2KEYTRIPLEDES",
												"value": "SHA_2KEYTRIPLEDES"
											},
											{
												"displayName": "SHA_3KEYTRIPLEDES",
												"value": "SHA_3KEYTRIPLEDES"
											},
											{
												"displayName": "SHA_TWOFISH",
												"value": "SHA_TWOFISH"
											},
											{
												"displayName": "PGP",
												"value": "PGP"
											},
											{
												"displayName": "PGP_ASCII_ARMOR",
												"value": "PGP_ASCII_ARMOR"
											}
										],
										"defaultValue": "MD5_128AES",
										"description": "The Encryption Algorithm to use",
										"displayName": "Encryption Algorithm",
										"dynamic": "false",
										"name": "Encryption Algorithm",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Password",
									"value": {
										"description": "The Password to use for encrypting or decrypting the data",
										"displayName": "Password",
										"dynamic": "false",
										"name": "Password",
										"required": "false",
										"sensitive": "true",
										"supportsEl": "false"
									}
								},
								{
									"key": "public-keyring-file",
									"value": {
										"description": "In a PGP encrypt mode, this keyring contains the public key of the recipient",
										"displayName": "Public Keyring File",
										"dynamic": "false",
										"name": "public-keyring-file",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "public-key-user-id",
									"value": {
										"description": "In a PGP encrypt mode, this user id of the recipient",
										"displayName": "Public Key User Id",
										"dynamic": "false",
										"name": "public-key-user-id",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "private-keyring-file",
									"value": {
										"description": "In a PGP decrypt mode, this keyring contains the private key of the recipient",
										"displayName": "Private Keyring File",
										"dynamic": "false",
										"name": "private-keyring-file",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "private-keyring-passphrase",
									"value": {
										"description": "In a PGP decrypt mode, this is the private keyring passphrase",
										"displayName": "Private Keyring Passphrase",
										"dynamic": "false",
										"name": "private-keyring-passphrase",
										"required": "false",
										"sensitive": "true",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Mode",
									"value": "Decrypt"
								},
								{
									"key": "key-derivation-function",
									"value": "OPENSSL_EVP_BYTES_TO_KEY"
								},
								{
									"key": "Encryption Algorithm",
									"value": "MD5_256AES"
								},
								{
									"key": "Password"
								},
								{
									"key": "public-keyring-file"
								},
								{
									"key": "public-key-user-id"
								},
								{
									"key": "private-keyring-file"
								},
								{
									"key": "private-keyring-passphrase"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "decrypt",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "Any FlowFile that cannot be encrypted or decrypted will be routed to failure",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "Any FlowFile that is successfully encrypted or decrypted will be routed to success",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.EncryptContent"
				},
				{
					"id": "f91a24a3-153a-4b22-be19-734723b0ad67",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "78.5338440992667",
						"y": "690.5839512862004"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Directory",
									"value": {
										"description": "The directory to which files should be written. You may use expression language such as /aa/bb/${path}",
										"displayName": "Directory",
										"dynamic": "false",
										"name": "Directory",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": {
										"allowableValues": [
											{
												"displayName": "replace",
												"value": "replace"
											},
											{
												"displayName": "ignore",
												"value": "ignore"
											},
											{
												"displayName": "fail",
												"value": "fail"
											}
										],
										"defaultValue": "fail",
										"description": "Indicates what should happen when a file with the same name already exists in the output directory",
										"displayName": "Conflict Resolution Strategy",
										"dynamic": "false",
										"name": "Conflict Resolution Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Create Missing Directories",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.",
										"displayName": "Create Missing Directories",
										"dynamic": "false",
										"name": "Create Missing Directories",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum File Count",
									"value": {
										"description": "Specifies the maximum number of files that can exist in the output directory",
										"displayName": "Maximum File Count",
										"dynamic": "false",
										"name": "Maximum File Count",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Last Modified Time",
									"value": {
										"description": "Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.",
										"displayName": "Last Modified Time",
										"dynamic": "false",
										"name": "Last Modified Time",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Permissions",
									"value": {
										"description": "Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.",
										"displayName": "Permissions",
										"dynamic": "false",
										"name": "Permissions",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Owner",
									"value": {
										"description": "Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.",
										"displayName": "Owner",
										"dynamic": "false",
										"name": "Owner",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Group",
									"value": {
										"description": "Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.",
										"displayName": "Group",
										"dynamic": "false",
										"name": "Group",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Directory",
									"value": "output"
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": "ignore"
								},
								{
									"key": "Create Missing Directories"
								},
								{
									"key": "Maximum File Count"
								},
								{
									"key": "Last Modified Time"
								},
								{
									"key": "Permissions"
								},
								{
									"key": "Owner"
								},
								{
									"key": "Group"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "Write Output",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "Files that could not be written to the output directory for some reason are transferred to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "true",
							"description": "Files that have been successfully written to the output directory are transferred to this relationship",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.PutFile"
				},
				{
					"id": "f6a884c3-5ea0-4a24-8ee2-9cad4114acd4",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "72.52391763208107",
						"y": "527.9062022462058"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Delete Attributes Expression",
									"value": {
										"description": "Regular expression for attributes to be deleted from flowfiles.",
										"displayName": "Delete Attributes Expression",
										"dynamic": "false",
										"name": "Delete Attributes Expression",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "filename",
									"value": {
										"description": "",
										"displayName": "filename",
										"dynamic": "true",
										"name": "filename",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Delete Attributes Expression"
								},
								{
									"key": "filename",
									"value": "${filename}-new"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "Change filename",
					"relationships": {
						"autoTerminate": "false",
						"description": "All FlowFiles are routed to this relationship",
						"name": "success"
					},
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
				},
				{
					"id": "f4af5722-c311-4a07-b3a6-dd49acf18f5c",
					"parentGroupId": "715fc9b5-f280-4752-8c29-73598e016399",
					"position": {
						"x": "74.64932250976562",
						"y": "-141.0136947631836"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Input Directory",
									"value": {
										"description": "The input directory from which to pull files",
										"displayName": "Input Directory",
										"dynamic": "false",
										"name": "Input Directory",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "File Filter",
									"value": {
										"defaultValue": "[^\\.].*",
										"description": "Only files whose names match the given regular expression will be picked up",
										"displayName": "File Filter",
										"dynamic": "false",
										"name": "File Filter",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Path Filter",
									"value": {
										"description": "When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned",
										"displayName": "Path Filter",
										"dynamic": "false",
										"name": "Path Filter",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Batch Size",
									"value": {
										"defaultValue": "10",
										"description": "The maximum number of files to pull in each iteration",
										"displayName": "Batch Size",
										"dynamic": "false",
										"name": "Batch Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Keep Source File",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.",
										"displayName": "Keep Source File",
										"dynamic": "false",
										"name": "Keep Source File",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Recurse Subdirectories",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "Indicates whether or not to pull files from subdirectories",
										"displayName": "Recurse Subdirectories",
										"dynamic": "false",
										"name": "Recurse Subdirectories",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Polling Interval",
									"value": {
										"defaultValue": "0 sec",
										"description": "Indicates how long to wait before performing a directory listing",
										"displayName": "Polling Interval",
										"dynamic": "false",
										"name": "Polling Interval",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Ignore Hidden Files",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "Indicates whether or not hidden files should be ignored",
										"displayName": "Ignore Hidden Files",
										"dynamic": "false",
										"name": "Ignore Hidden Files",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Minimum File Age",
									"value": {
										"defaultValue": "0 sec",
										"description": "The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored",
										"displayName": "Minimum File Age",
										"dynamic": "false",
										"name": "Minimum File Age",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum File Age",
									"value": {
										"description": "The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored",
										"displayName": "Maximum File Age",
										"dynamic": "false",
										"name": "Maximum File Age",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Minimum File Size",
									"value": {
										"defaultValue": "0 B",
										"description": "The minimum size that a file must be in order to be pulled",
										"displayName": "Minimum File Size",
										"dynamic": "false",
										"name": "Minimum File Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum File Size",
									"value": {
										"description": "The maximum size that a file can be in order to be pulled",
										"displayName": "Maximum File Size",
										"dynamic": "false",
										"name": "Maximum File Size",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Input Directory",
									"value": "input"
								},
								{
									"key": "File Filter",
									"value": "[^\\.].*"
								},
								{
									"key": "Path Filter"
								},
								{
									"key": "Batch Size",
									"value": "10"
								},
								{
									"key": "Keep Source File",
									"value": "false"
								},
								{
									"key": "Recurse Subdirectories",
									"value": "true"
								},
								{
									"key": "Polling Interval",
									"value": "0 sec"
								},
								{
									"key": "Ignore Hidden Files",
									"value": "true"
								},
								{
									"key": "Minimum File Age",
									"value": "0 sec"
								},
								{
									"key": "Maximum File Age"
								},
								{
									"key": "Minimum File Size",
									"value": "0 B"
								},
								{
									"key": "Maximum File Size"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "Get input",
					"relationships": {
						"autoTerminate": "false",
						"description": "All files are routed to success",
						"name": "success"
					},
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.GetFile"
				}
			]
		},
		"timestamp": "12/04/2022 17:01:28 EST"
	}
}