containers/nifi/nifi-deployment-automation/ansible/templates/registry/ElasticsearchDemonstration.json
{
	"template": {
		"description": "A series of disconnected flows which demonstrates different functionality of the FetchElasticSearch and PutElasticSearch processors.",
		"name": "ElasticsearchDemonstration",
		"snippet": {
			"connections": [
				{
					"id": "2a6a66a4-39fc-4b80-a3fe-655fdc98f5a1",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "31bf7630-4e5a-437e-83f4-0d9cdc8a3fdb",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "58f4a514-b265-4e38-bb13-faf03f273477",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "4acf2737-241f-4076-bb2c-9a3556e2fe5f",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "ccb5ba27-98db-475d-be1e-f85e1276b172",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "matched",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "0cc0e07c-d213-4ed3-9410-bfb18b8dab96",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "1f891b8d-57b6-4f5c-b52e-706b6d1610d7",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "47bf5446-b705-42a0-b4b6-c483418d8486",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "matched",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "b7469f68-dd03-47b5-9766-d7a1daa12fef",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "3fb7edee-629e-437a-bdda-00b8f70b5135",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "b1c415b8-a5e7-47f8-a4ce-8433b31670f4",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "Response",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "31bf7630-4e5a-437e-83f4-0d9cdc8a3fdb",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "25a863f7-0b77-45ac-9a05-c871d93d6f53",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "d0da290d-6a11-4f57-8068-c4b26335987f",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "merged",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "0605add2-07f4-4667-a2f0-bdfdcfa23906",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "6c3eab8b-92cb-40b1-8a2d-6ffc53718165",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "b7469f68-dd03-47b5-9766-d7a1daa12fef",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "ccb5ba27-98db-475d-be1e-f85e1276b172",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "b8c1b2a3-637c-4dc8-bb8a-04a54a056a9c",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "3f395d1d-63c6-4dc4-bb60-555910f314f2",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "7f8b6624-9495-4a3b-a7af-f39573a585e0",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "edfbba29-794a-487a-bec1-00d441d1cf4a",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "9f7ee567-8de8-4ae1-b5e8-87cdbc70dc76",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "3f395d1d-63c6-4dc4-bb60-555910f314f2",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "c8d89b2d-01c8-487b-8cd6-98716f78629c",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "0cc0e07c-d213-4ed3-9410-bfb18b8dab96",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "split",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "b1c415b8-a5e7-47f8-a4ce-8433b31670f4",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "23fdbe7c-3ae9-48bd-b248-53224b7d366f",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "74a545ef-15e9-4c82-af05-2e8034a9f56f",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "47bf5446-b705-42a0-b4b6-c483418d8486",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "fff7e1e8-2cdb-4024-b6c6-3255b5f71e4c",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "0605add2-07f4-4667-a2f0-bdfdcfa23906",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "74a545ef-15e9-4c82-af05-2e8034a9f56f",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "41efa6f7-44a6-4cff-8879-4602cd1c81ed",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"backPressureDataSizeThreshold": "0 MB",
					"backPressureObjectThreshold": "0",
					"destination": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "58f4a514-b265-4e38-bb13-faf03f273477",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
						"id": "d39e7410-cd1f-4b2c-84b3-1bbd713ce70c",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				}
			],
			"labels": [
				{
					"id": "c4787068-abec-477a-9412-2fecd8cd58bb",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "536.912050462989",
						"y": "399.42426769088786"
					},
					"height": "140.57574462890625",
					"label": "The flow below gets documents from Elasticsearch.\nSpecify the ID to retrieve. This can be done dynamically \nby sending FlowFiles, each with an attribute\ncontaining the ID, then using Expression Language\nin the FetchElasticsearch processor to refer\nto the attribute. This example uses the mod() operator\nto get IDs from 0 to 9.",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "14px"
						}
					},
					"width": "382.08795166015625"
				},
				{
					"id": "f8cbd61c-04c5-42b7-ba0f-b96e140ea3b0",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "584.912050462989",
						"y": "57.42426769088786"
					},
					"height": "80.57572937011719",
					"label": "The process group below (PutES) gets \nrandom user data from a public API, then \ninserts each user document into \nElasticsearch",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "14px"
						}
					},
					"width": "287.08795166015625"
				},
				{
					"id": "ceb42eb2-e39a-4385-9585-aaed2246672b",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1176.6878662109375",
						"y": "205.43511962890625"
					},
					"height": "97.79426574707031",
					"label": "This flow uses InvokeHttp to call the Elasticsearch\nSearch API to retrieve all document IDs for users \nwho are female. FetchElasticsearch is then used to\nretrieve those documents and write them to disk.",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "14px"
						}
					},
					"width": "361.69561767578125"
				}
			],
			"processGroups": {
				"id": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
				"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
				"position": {
					"x": "544.0",
					"y": "155.0"
				},
				"activeRemotePortCount": "0",
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "c0e54d7f-0c5b-49c2-8a28-9e4ef4e41afa",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"backPressureDataSizeThreshold": "0 MB",
							"backPressureObjectThreshold": "0",
							"destination": {
								"groupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
								"id": "37c653e4-efe4-4802-ae19-53424ad54cc9",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"name": "",
							"selectedRelationships": "Response",
							"source": {
								"groupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
								"id": "58c25b1f-8cac-47b8-baa5-71b848bfc82f",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "9f03c061-c4fd-45d0-a384-4b58d11665d5",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"backPressureDataSizeThreshold": "0 MB",
							"backPressureObjectThreshold": "0",
							"destination": {
								"groupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
								"id": "1645d0bd-37b2-4e18-93a7-da4b1c02842d",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"name": "",
							"selectedRelationships": "split",
							"source": {
								"groupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
								"id": "37c653e4-efe4-4802-ae19-53424ad54cc9",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "36d4c532-0ddf-45e1-9873-c6d1e92bb96f",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"backPressureDataSizeThreshold": "0 MB",
							"backPressureObjectThreshold": "0",
							"destination": {
								"groupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
								"id": "c1080534-3010-4f7c-a66e-befcbd755d9a",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
								"id": "1645d0bd-37b2-4e18-93a7-da4b1c02842d",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"labels": {
						"id": "fd58c2ee-3b06-443d-a4d6-325857d5f116",
						"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
						"position": {
							"x": "540.9120199454109",
							"y": "146.0837868864445"
						},
						"height": "117.82491302490234",
						"label": "This flow gets random user data \nfrom a public API, then inserts \neach user document into \nElasticsearch",
						"style": {
							"entry": {
								"key": "font-size",
								"value": "14px"
							}
						},
						"width": "236.7937774658203"
					},
					"processors": [
						{
							"id": "a988ce47-c257-4af9-95e0-93b712300aae",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"position": {
								"x": "541.40283203125",
								"y": "491.8624572753906"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"defaultConcurrentTasks": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "1"
										},
										{
											"key": "EVENT_DRIVEN",
											"value": "0"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "1"
										}
									]
								},
								"defaultSchedulingPeriod": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "0 sec"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "* * * * * ?"
										}
									]
								},
								"descriptors": {
									"entry": [
										{
											"key": "Directory",
											"value": {
												"description": "The directory to which files should be written. You may use expression language such as /aa/bb/${path}",
												"displayName": "Directory",
												"dynamic": "false",
												"name": "Directory",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Conflict Resolution Strategy",
											"value": {
												"allowableValues": [
													{
														"displayName": "replace",
														"value": "replace"
													},
													{
														"displayName": "ignore",
														"value": "ignore"
													},
													{
														"displayName": "fail",
														"value": "fail"
													}
												],
												"defaultValue": "fail",
												"description": "Indicates what should happen when a file with the same name already exists in the output directory",
												"displayName": "Conflict Resolution Strategy",
												"dynamic": "false",
												"name": "Conflict Resolution Strategy",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Create Missing Directories",
											"value": {
												"allowableValues": [
													{
														"displayName": "true",
														"value": "true"
													},
													{
														"displayName": "false",
														"value": "false"
													}
												],
												"defaultValue": "true",
												"description": "If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.",
												"displayName": "Create Missing Directories",
												"dynamic": "false",
												"name": "Create Missing Directories",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Maximum File Count",
											"value": {
												"description": "Specifies the maximum number of files that can exist in the output directory",
												"displayName": "Maximum File Count",
												"dynamic": "false",
												"name": "Maximum File Count",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Last Modified Time",
											"value": {
												"description": "Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.",
												"displayName": "Last Modified Time",
												"dynamic": "false",
												"name": "Last Modified Time",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Permissions",
											"value": {
												"description": "Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.",
												"displayName": "Permissions",
												"dynamic": "false",
												"name": "Permissions",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Owner",
											"value": {
												"description": "Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.",
												"displayName": "Owner",
												"dynamic": "false",
												"name": "Owner",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Group",
											"value": {
												"description": "Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.",
												"displayName": "Group",
												"dynamic": "false",
												"name": "Group",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										}
									]
								},
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Directory",
											"value": "data/debug/out"
										},
										{
											"key": "Conflict Resolution Strategy",
											"value": "fail"
										},
										{
											"key": "Create Missing Directories",
											"value": "true"
										},
										{
											"key": "Maximum File Count"
										},
										{
											"key": "Last Modified Time"
										},
										{
											"key": "Permissions"
										},
										{
											"key": "Owner"
										},
										{
											"key": "Group"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"name": "For debugging",
							"relationships": [
								{
									"autoTerminate": "true",
									"description": "Files that could not be written to the output directory for some reason are transferred to this relationship",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"description": "Files that have been successfully written to the output directory are transferred to this relationship",
									"name": "success"
								}
							],
							"state": "DISABLED",
							"style": "",
							"supportsEventDriven": "false",
							"supportsParallelProcessing": "true",
							"type": "org.apache.nifi.processors.standard.PutFile"
						},
						{
							"id": "58c25b1f-8cac-47b8-baa5-71b848bfc82f",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"position": {
								"x": "180.0",
								"y": "2.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"defaultConcurrentTasks": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "1"
										},
										{
											"key": "EVENT_DRIVEN",
											"value": "0"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "1"
										}
									]
								},
								"defaultSchedulingPeriod": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "0 sec"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "* * * * * ?"
										}
									]
								},
								"descriptors": {
									"entry": [
										{
											"key": "HTTP Method",
											"value": {
												"defaultValue": "GET",
												"description": "HTTP request method (GET, POST, PUT, DELETE, HEAD, OPTIONS). Arbitrary methods are also supported. Methods other than POST and PUT will be sent without a message body.",
												"displayName": "HTTP Method",
												"dynamic": "false",
												"name": "HTTP Method",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Remote URL",
											"value": {
												"description": "Remote URL which will be connected to, including scheme, host, port, path.",
												"displayName": "Remote URL",
												"dynamic": "false",
												"name": "Remote URL",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "SSL Context Service",
											"value": {
												"allowableValues": {
													"displayName": "StandardSSLContextService",
													"value": "47fdb81f-331c-4171-b448-efa81a7071e1"
												},
												"description": "The SSL Context Service used to provide client certificate information for TLS/SSL (https) connections.",
												"displayName": "SSL Context Service",
												"dynamic": "false",
												"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
												"name": "SSL Context Service",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Connection Timeout",
											"value": {
												"defaultValue": "5 secs",
												"description": "Max wait time for connection to remote service.",
												"displayName": "Connection Timeout",
												"dynamic": "false",
												"name": "Connection Timeout",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Read Timeout",
											"value": {
												"defaultValue": "15 secs",
												"description": "Max wait time for response from remote service.",
												"displayName": "Read Timeout",
												"dynamic": "false",
												"name": "Read Timeout",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Include Date Header",
											"value": {
												"allowableValues": [
													{
														"displayName": "True",
														"value": "True"
													},
													{
														"displayName": "False",
														"value": "False"
													}
												],
												"defaultValue": "True",
												"description": "Include an RFC-2616 Date header in the request.",
												"displayName": "Include Date Header",
												"dynamic": "false",
												"name": "Include Date Header",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Follow Redirects",
											"value": {
												"allowableValues": [
													{
														"displayName": "True",
														"value": "True"
													},
													{
														"displayName": "False",
														"value": "False"
													}
												],
												"defaultValue": "True",
												"description": "Follow HTTP redirects issued by remote server.",
												"displayName": "Follow Redirects",
												"dynamic": "false",
												"name": "Follow Redirects",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Attributes to Send",
											"value": {
												"description": "Regular expression that defines which attributes to send as HTTP headers in the request. If not defined, no attributes are sent as headers. Also any dynamic properties set will be sent as headers. The dynamic property key will be the header key and the dynamic property value will be interpreted as expression language will be the header value.",
												"displayName": "Attributes to Send",
												"dynamic": "false",
												"name": "Attributes to Send",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Basic Authentication Username",
											"value": {
												"description": "The username to be used by the client to authenticate against the Remote URL.  Cannot include control characters (0-31), ':', or DEL (127).",
												"displayName": "Basic Authentication Username",
												"dynamic": "false",
												"name": "Basic Authentication Username",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Basic Authentication Password",
											"value": {
												"description": "The password to be used by the client to authenticate against the Remote URL.",
												"displayName": "Basic Authentication Password",
												"dynamic": "false",
												"name": "Basic Authentication Password",
												"required": "false",
												"sensitive": "true",
												"supportsEl": "false"
											}
										},
										{
											"key": "Proxy Host",
											"value": {
												"description": "The fully qualified hostname or IP address of the proxy server",
												"displayName": "Proxy Host",
												"dynamic": "false",
												"name": "Proxy Host",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Proxy Port",
											"value": {
												"description": "The port of the proxy server",
												"displayName": "Proxy Port",
												"dynamic": "false",
												"name": "Proxy Port",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Put Response Body In Attribute",
											"value": {
												"description": "If set, the response body received back will be put into an attribute of the original FlowFile instead of a separate FlowFile. The attribute key to put to is determined by evaluating value of this property.",
												"displayName": "Put Response Body In Attribute",
												"dynamic": "false",
												"name": "Put Response Body In Attribute",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Max Length To Put In Attribute",
											"value": {
												"defaultValue": "256",
												"description": "If routing the response body to an attribute of the original (by setting the \"Put response body in attribute\" property or by receiving an error status code), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.",
												"displayName": "Max Length To Put In Attribute",
												"dynamic": "false",
												"name": "Max Length To Put In Attribute",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Digest Authentication",
											"value": {
												"allowableValues": [
													{
														"displayName": "true",
														"value": "true"
													},
													{
														"displayName": "false",
														"value": "false"
													}
												],
												"defaultValue": "false",
												"description": "Whether to communicate with the website using Digest Authentication. 'Basic Authentication Username' and 'Basic Authentication Password' are used for authentication.",
												"displayName": "Use Digest Authentication",
												"dynamic": "false",
												"name": "Digest Authentication",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Always Output Response",
											"value": {
												"allowableValues": [
													{
														"displayName": "true",
														"value": "true"
													},
													{
														"displayName": "false",
														"value": "false"
													}
												],
												"defaultValue": "false",
												"description": "Will force a response FlowFile to be generated and routed to the 'Response' relationship regardless of what the server status code received is or if the processor is configured to put the server response body in the request attribute. In the later configuration a request FlowFile with the response body in the attribute and a typical response FlowFile will be emitted to their respective relationships.",
												"displayName": "Always Output Response",
												"dynamic": "false",
												"name": "Always Output Response",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Trusted Hostname",
											"value": {
												"description": "Bypass the normal truststore hostname verifier to allow the specified remote hostname as trusted. Enabling this property has MITM security implications, use wisely. Will still accept other connections based on the normal truststore hostname verifier. Only valid with SSL (HTTPS) connections.",
												"displayName": "Trusted Hostname",
												"dynamic": "false",
												"name": "Trusted Hostname",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Add Response Headers to Request",
											"value": {
												"allowableValues": [
													{
														"displayName": "true",
														"value": "true"
													},
													{
														"displayName": "false",
														"value": "false"
													}
												],
												"defaultValue": "false",
												"description": "Enabling this property saves all the response headers to the original request. This may be when the response headers are needed but a response is not generated due to the status code received.",
												"displayName": "Add Response Headers to Request",
												"dynamic": "false",
												"name": "Add Response Headers to Request",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										}
									]
								},
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "HTTP Method",
											"value": "GET"
										},
										{
											"key": "Remote URL",
											"value": "http://api.randomuser.me/0.6/?format=json&nat=us&results=100"
										},
										{
											"key": "SSL Context Service"
										},
										{
											"key": "Connection Timeout",
											"value": "5 secs"
										},
										{
											"key": "Read Timeout",
											"value": "15 secs"
										},
										{
											"key": "Include Date Header",
											"value": "True"
										},
										{
											"key": "Follow Redirects",
											"value": "True"
										},
										{
											"key": "Attributes to Send"
										},
										{
											"key": "Basic Authentication Username"
										},
										{
											"key": "Basic Authentication Password"
										},
										{
											"key": "Proxy Host"
										},
										{
											"key": "Proxy Port"
										},
										{
											"key": "Put Response Body In Attribute"
										},
										{
											"key": "Max Length To Put In Attribute",
											"value": "256"
										},
										{
											"key": "Digest Authentication",
											"value": "false"
										},
										{
											"key": "Always Output Response",
											"value": "false"
										},
										{
											"key": "Trusted Hostname"
										},
										{
											"key": "Add Response Headers to Request",
											"value": "false"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "2 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"name": "Fetch User Data",
							"relationships": [
								{
									"autoTerminate": "true",
									"description": "The original FlowFile will be routed on any type of connection failure, timeout or general exception. It will have new attributes detailing the request.",
									"name": "Failure"
								},
								{
									"autoTerminate": "true",
									"description": "The original FlowFile will be routed on any status code that should NOT be retried (1xx, 3xx, 4xx status codes).  It will have new attributes detailing the request.",
									"name": "No Retry"
								},
								{
									"autoTerminate": "true",
									"description": "The original FlowFile will be routed upon success (2xx status codes). It will have new attributes detailing the success of the request.",
									"name": "Original"
								},
								{
									"autoTerminate": "false",
									"description": "A Response FlowFile will be routed upon success (2xx status codes). If the 'Output Response Regardless' property is true then the response will be sent to this relationship regardless of the status code received.",
									"name": "Response"
								},
								{
									"autoTerminate": "true",
									"description": "The original FlowFile will be routed on any status code that can be retried (5xx status codes). It will have new attributes detailing the request.",
									"name": "Retry"
								}
							],
							"state": "STOPPED",
							"style": "",
							"supportsEventDriven": "false",
							"supportsParallelProcessing": "true",
							"type": "org.apache.nifi.processors.standard.InvokeHTTP"
						},
						{
							"id": "1645d0bd-37b2-4e18-93a7-da4b1c02842d",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"position": {
								"x": "186.0",
								"y": "324.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"defaultConcurrentTasks": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "1"
										},
										{
											"key": "EVENT_DRIVEN",
											"value": "0"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "1"
										}
									]
								},
								"defaultSchedulingPeriod": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "0 sec"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "* * * * * ?"
										}
									]
								},
								"descriptors": {
									"entry": [
										{
											"key": "Delete Attributes Expression",
											"value": {
												"description": "Regular expression for attributes to be deleted from flowfiles.",
												"displayName": "Delete Attributes Expression",
												"dynamic": "false",
												"name": "Delete Attributes Expression",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "docid",
											"value": {
												"description": "",
												"displayName": "docid",
												"dynamic": "true",
												"name": "docid",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "filename",
											"value": {
												"description": "",
												"displayName": "filename",
												"dynamic": "true",
												"name": "filename",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "true"
											}
										}
									]
								},
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Delete Attributes Expression"
										},
										{
											"key": "docid",
											"value": "${nextInt()}"
										},
										{
											"key": "filename",
											"value": "${uuid}"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"name": "UpdateAttribute",
							"relationships": {
								"autoTerminate": "false",
								"description": "All FlowFiles are routed to this relationship",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"supportsEventDriven": "true",
							"supportsParallelProcessing": "true",
							"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
						},
						{
							"id": "37c653e4-efe4-4802-ae19-53424ad54cc9",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"position": {
								"x": "181.0",
								"y": "158.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"defaultConcurrentTasks": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "1"
										},
										{
											"key": "EVENT_DRIVEN",
											"value": "0"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "1"
										}
									]
								},
								"defaultSchedulingPeriod": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "0 sec"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "* * * * * ?"
										}
									]
								},
								"descriptors": {
									"entry": [
										{
											"key": "JsonPath Expression",
											"value": {
												"description": "A JsonPath expression that indicates the array element to split into JSON/scalar fragments.",
												"displayName": "JsonPath Expression",
												"dynamic": "false",
												"name": "JsonPath Expression",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Null Value Representation",
											"value": {
												"allowableValues": [
													{
														"displayName": "empty string",
														"value": "empty string"
													},
													{
														"displayName": "the string 'null'",
														"value": "the string 'null'"
													}
												],
												"defaultValue": "empty string",
												"description": "Indicates the desired representation of JSON Path expressions resulting in a null value.",
												"displayName": "Null Value Representation",
												"dynamic": "false",
												"name": "Null Value Representation",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										}
									]
								},
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "JsonPath Expression",
											"value": "$.results[*].user"
										},
										{
											"key": "Null Value Representation",
											"value": "empty string"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"name": "SplitJson",
							"relationships": [
								{
									"autoTerminate": "true",
									"description": "If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"description": "The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship",
									"name": "original"
								},
								{
									"autoTerminate": "false",
									"description": "All segments of the original FlowFile will be routed to this relationship",
									"name": "split"
								}
							],
							"state": "STOPPED",
							"style": "",
							"supportsEventDriven": "true",
							"supportsParallelProcessing": "true",
							"type": "org.apache.nifi.processors.standard.SplitJson"
						},
						{
							"id": "c1080534-3010-4f7c-a66e-befcbd755d9a",
							"parentGroupId": "b625eb3f-6ecd-46be-adf8-ac71bae6f524",
							"position": {
								"x": "187.0",
								"y": "493.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"defaultConcurrentTasks": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "1"
										},
										{
											"key": "EVENT_DRIVEN",
											"value": "0"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "1"
										}
									]
								},
								"defaultSchedulingPeriod": {
									"entry": [
										{
											"key": "TIMER_DRIVEN",
											"value": "0 sec"
										},
										{
											"key": "CRON_DRIVEN",
											"value": "* * * * * ?"
										}
									]
								},
								"descriptors": {
									"entry": [
										{
											"key": "Cluster Name",
											"value": {
												"description": "Name of the ES cluster (for example, elasticsearch_brew). Defaults to 'elasticsearch'",
												"displayName": "Cluster Name",
												"dynamic": "false",
												"name": "Cluster Name",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "ElasticSearch Hosts",
											"value": {
												"description": "ElasticSearch Hosts, which should be comma separated and colon for hostname/port host1:port,host2:port,....  For example testcluster:9300.",
												"displayName": "ElasticSearch Hosts",
												"dynamic": "false",
												"name": "ElasticSearch Hosts",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "SSL Context Service",
											"value": {
												"allowableValues": {
													"displayName": "StandardSSLContextService",
													"value": "47fdb81f-331c-4171-b448-efa81a7071e1"
												},
												"description": "The SSL Context Service used to provide client certificate information for TLS/SSL connections. This service only app",
												"displayName": "SSL Context Service",
												"dynamic": "false",
												"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
												"name": "SSL Context Service",
												"required": "false",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "ElasticSearch Ping Timeout",
											"value": {
												"defaultValue": "5s",
												"description": "The ping timeout used to determine when a node is unreachable. For example, 5s (5 seconds). If non-local recommended is 30s",
												"displayName": "ElasticSearch Ping Timeout",
												"dynamic": "false",
												"name": "ElasticSearch Ping Timeout",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Sampler Interval",
											"value": {
												"defaultValue": "5s",
												"description": "Node sampler interval. For example, 5s (5 seconds) If non-local recommended is 30s",
												"displayName": "Sampler Interval",
												"dynamic": "false",
												"name": "Sampler Interval",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Identifier Attribute",
											"value": {
												"description": "The name of the attribute containing the identifier for each FlowFile",
												"displayName": "Identifier Attribute",
												"dynamic": "false",
												"name": "Identifier Attribute",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										},
										{
											"key": "Index",
											"value": {
												"description": "The name of the index to insert into",
												"displayName": "Index",
												"dynamic": "false",
												"name": "Index",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Type",
											"value": {
												"description": "The type of this document (used by Elasticsearch for indexing and searching)",
												"displayName": "Type",
												"dynamic": "false",
												"name": "Type",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "true"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"defaultValue": "100",
												"description": "The preferred number of FlowFiles to put to the database in a single transaction",
												"displayName": "Batch Size",
												"dynamic": "false",
												"name": "Batch Size",
												"required": "true",
												"sensitive": "false",
												"supportsEl": "false"
											}
										}
									]
								},
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Cluster Name",
											"value": "elasticsearch"
										},
										{
											"key": "ElasticSearch Hosts",
											"value": "192.168.99.100:32768"
										},
										{
											"key": "SSL Context Service"
										},
										{
											"key": "ElasticSearch Ping Timeout",
											"value": "5s"
										},
										{
											"key": "Sampler Interval",
											"value": "5s"
										},
										{
											"key": "Identifier Attribute",
											"value": "docid"
										},
										{
											"key": "Index",
											"value": "randomuser.me"
										},
										{
											"key": "Type",
											"value": "user"
										},
										{
											"key": "Batch Size",
											"value": "100"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"name": "PutElasticsearch",
							"relationships": [
								{
									"autoTerminate": "true",
									"description": "All FlowFiles that cannot be written to Elasticsearch are routed to this relationship",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"description": "A FlowFile is routed to this relationship if the database cannot be updated but attempting the operation again may succeed",
									"name": "retry"
								},
								{
									"autoTerminate": "true",
									"description": "All FlowFiles that are written to Elasticsearch are routed to this relationship",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"supportsEventDriven": "true",
							"supportsParallelProcessing": "true",
							"type": "org.apache.nifi.processors.elasticsearch.PutElasticsearch"
						}
					]
				},
				"disabledCount": "1",
				"inactiveRemotePortCount": "0",
				"inputPortCount": "0",
				"invalidCount": "0",
				"name": "PutES",
				"outputPortCount": "0",
				"parent": {
					"id": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"name": "NiFi Flow"
				},
				"runningCount": "0",
				"stoppedCount": "4"
			},
			"processors": [
				{
					"id": "b7469f68-dd03-47b5-9766-d7a1daa12fef",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1606.8376339601016",
						"y": "876.3435765046215"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Destination",
									"value": {
										"allowableValues": [
											{
												"displayName": "flowfile-content",
												"value": "flowfile-content"
											},
											{
												"displayName": "flowfile-attribute",
												"value": "flowfile-attribute"
											}
										],
										"defaultValue": "flowfile-content",
										"description": "Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.",
										"displayName": "Destination",
										"dynamic": "false",
										"name": "Destination",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Return Type",
									"value": {
										"allowableValues": [
											{
												"displayName": "auto-detect",
												"value": "auto-detect"
											},
											{
												"displayName": "json",
												"value": "json"
											},
											{
												"displayName": "scalar",
												"value": "scalar"
											}
										],
										"defaultValue": "auto-detect",
										"description": "Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.",
										"displayName": "Return Type",
										"dynamic": "false",
										"name": "Return Type",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Path Not Found Behavior",
									"value": {
										"allowableValues": [
											{
												"displayName": "warn",
												"value": "warn"
											},
											{
												"displayName": "ignore",
												"value": "ignore"
											}
										],
										"defaultValue": "ignore",
										"description": "Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.",
										"displayName": "Path Not Found Behavior",
										"dynamic": "false",
										"name": "Path Not Found Behavior",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Null Value Representation",
									"value": {
										"allowableValues": [
											{
												"displayName": "empty string",
												"value": "empty string"
											},
											{
												"displayName": "the string 'null'",
												"value": "the string 'null'"
											}
										],
										"defaultValue": "empty string",
										"description": "Indicates the desired representation of JSON Path expressions resulting in a null value.",
										"displayName": "Null Value Representation",
										"dynamic": "false",
										"name": "Null Value Representation",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "firstname",
									"value": {
										"description": "",
										"displayName": "firstname",
										"dynamic": "true",
										"name": "firstname",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "lastname",
									"value": {
										"description": "",
										"displayName": "lastname",
										"dynamic": "true",
										"name": "lastname",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Destination",
									"value": "flowfile-attribute"
								},
								{
									"key": "Return Type",
									"value": "auto-detect"
								},
								{
									"key": "Path Not Found Behavior",
									"value": "warn"
								},
								{
									"key": "Null Value Representation",
									"value": "empty string"
								},
								{
									"key": "firstname",
									"value": "$.name.first"
								},
								{
									"key": "lastname",
									"value": "$.name.last"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "EvaluateJsonPath",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result",
							"name": "matched"
						},
						{
							"autoTerminate": "true",
							"description": "FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content",
							"name": "unmatched"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.EvaluateJsonPath"
				},
				{
					"id": "0cc0e07c-d213-4ed3-9410-bfb18b8dab96",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1601.5076656578785",
						"y": "550.8467543353819"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Capture Group Length",
									"value": {
										"defaultValue": "1024",
										"description": "Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.",
										"displayName": "Maximum Capture Group Length",
										"dynamic": "false",
										"name": "Maximum Capture Group Length",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Canonical Equivalence",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that two characters match only when their full canonical decompositions match.",
										"displayName": "Enable Canonical Equivalence",
										"dynamic": "false",
										"name": "Enable Canonical Equivalence",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Case-insensitive Matching",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).",
										"displayName": "Enable Case-insensitive Matching",
										"dynamic": "false",
										"name": "Enable Case-insensitive Matching",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Permit Whitespace and Comments in Pattern",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).",
										"displayName": "Permit Whitespace and Comments in Pattern",
										"dynamic": "false",
										"name": "Permit Whitespace and Comments in Pattern",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable DOTALL Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).",
										"displayName": "Enable DOTALL Mode",
										"dynamic": "false",
										"name": "Enable DOTALL Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Literal Parsing of the Pattern",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that Metacharacters and escape characters should be given no special meaning.",
										"displayName": "Enable Literal Parsing of the Pattern",
										"dynamic": "false",
										"name": "Enable Literal Parsing of the Pattern",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Multiline Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).",
										"displayName": "Enable Multiline Mode",
										"dynamic": "false",
										"name": "Enable Multiline Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Unicode-aware Case Folding",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).",
										"displayName": "Enable Unicode-aware Case Folding",
										"dynamic": "false",
										"name": "Enable Unicode-aware Case Folding",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Unicode Predefined Character Classes",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).",
										"displayName": "Enable Unicode Predefined Character Classes",
										"dynamic": "false",
										"name": "Enable Unicode Predefined Character Classes",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Enable Unix Lines Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Indicates that only the '\n' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).",
										"displayName": "Enable Unix Lines Mode",
										"dynamic": "false",
										"name": "Enable Unix Lines Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Include Capture Group 0",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.",
										"displayName": "Include Capture Group 0",
										"dynamic": "false",
										"name": "Include Capture Group 0",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "es-doc-id",
									"value": {
										"description": "",
										"displayName": "es-doc-id",
										"dynamic": "true",
										"name": "es-doc-id",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Character Set",
									"value": "UTF-8"
								},
								{
									"key": "Maximum Buffer Size",
									"value": "1 MB"
								},
								{
									"key": "Maximum Capture Group Length",
									"value": "1024"
								},
								{
									"key": "Enable Canonical Equivalence",
									"value": "false"
								},
								{
									"key": "Enable Case-insensitive Matching",
									"value": "false"
								},
								{
									"key": "Permit Whitespace and Comments in Pattern",
									"value": "false"
								},
								{
									"key": "Enable DOTALL Mode",
									"value": "false"
								},
								{
									"key": "Enable Literal Parsing of the Pattern",
									"value": "false"
								},
								{
									"key": "Enable Multiline Mode",
									"value": "false"
								},
								{
									"key": "Enable Unicode-aware Case Folding",
									"value": "false"
								},
								{
									"key": "Enable Unicode Predefined Character Classes",
									"value": "false"
								},
								{
									"key": "Enable Unix Lines Mode",
									"value": "false"
								},
								{
									"key": "Include Capture Group 0",
									"value": "false"
								},
								{
									"key": "es-doc-id",
									"value": "(.*)"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "ExtractText",
					"relationships": [
						{
							"autoTerminate": "false",
							"description": "FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result",
							"name": "matched"
						},
						{
							"autoTerminate": "true",
							"description": "FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile",
							"name": "unmatched"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ExtractText"
				},
				{
					"id": "d0da290d-6a11-4f57-8068-c4b26335987f",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1183.740021528517",
						"y": "378.16296934655713"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Directory",
									"value": {
										"description": "The directory to which files should be written. You may use expression language such as /aa/bb/${path}",
										"displayName": "Directory",
										"dynamic": "false",
										"name": "Directory",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": {
										"allowableValues": [
											{
												"displayName": "replace",
												"value": "replace"
											},
											{
												"displayName": "ignore",
												"value": "ignore"
											},
											{
												"displayName": "fail",
												"value": "fail"
											}
										],
										"defaultValue": "fail",
										"description": "Indicates what should happen when a file with the same name already exists in the output directory",
										"displayName": "Conflict Resolution Strategy",
										"dynamic": "false",
										"name": "Conflict Resolution Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Create Missing Directories",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.",
										"displayName": "Create Missing Directories",
										"dynamic": "false",
										"name": "Create Missing Directories",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum File Count",
									"value": {
										"description": "Specifies the maximum number of files that can exist in the output directory",
										"displayName": "Maximum File Count",
										"dynamic": "false",
										"name": "Maximum File Count",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Last Modified Time",
									"value": {
										"description": "Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.",
										"displayName": "Last Modified Time",
										"dynamic": "false",
										"name": "Last Modified Time",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Permissions",
									"value": {
										"description": "Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.",
										"displayName": "Permissions",
										"dynamic": "false",
										"name": "Permissions",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Owner",
									"value": {
										"description": "Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.",
										"displayName": "Owner",
										"dynamic": "false",
										"name": "Owner",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Group",
									"value": {
										"description": "Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.",
										"displayName": "Group",
										"dynamic": "false",
										"name": "Group",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Directory",
									"value": "data/users/out/"
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": "replace"
								},
								{
									"key": "Create Missing Directories",
									"value": "true"
								},
								{
									"key": "Maximum File Count"
								},
								{
									"key": "Last Modified Time"
								},
								{
									"key": "Permissions"
								},
								{
									"key": "Owner"
								},
								{
									"key": "Group"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "PutFile",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "Files that could not be written to the output directory for some reason are transferred to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "true",
							"description": "Files that have been successfully written to the output directory are transferred to this relationship",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.PutFile"
				},
				{
					"id": "47bf5446-b705-42a0-b4b6-c483418d8486",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1185.1105078597466",
						"y": "875.199585772652"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Delete Attributes Expression",
									"value": {
										"description": "Regular expression for attributes to be deleted from flowfiles.",
										"displayName": "Delete Attributes Expression",
										"dynamic": "false",
										"name": "Delete Attributes Expression",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "userdoc.name",
									"value": {
										"description": "",
										"displayName": "userdoc.name",
										"dynamic": "true",
										"name": "userdoc.name",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Delete Attributes Expression"
								},
								{
									"key": "userdoc.name",
									"value": "${firstname:append(' '):append(${lastname})}"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "UpdateAttribute",
					"relationships": {
						"autoTerminate": "false",
						"description": "All FlowFiles are routed to this relationship",
						"name": "success"
					},
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
				},
				{
					"id": "9f7ee567-8de8-4ae1-b5e8-87cdbc70dc76",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "573.0",
						"y": "865.0"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Directory",
									"value": {
										"description": "The directory to which files should be written. You may use expression language such as /aa/bb/${path}",
										"displayName": "Directory",
										"dynamic": "false",
										"name": "Directory",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": {
										"allowableValues": [
											{
												"displayName": "replace",
												"value": "replace"
											},
											{
												"displayName": "ignore",
												"value": "ignore"
											},
											{
												"displayName": "fail",
												"value": "fail"
											}
										],
										"defaultValue": "fail",
										"description": "Indicates what should happen when a file with the same name already exists in the output directory",
										"displayName": "Conflict Resolution Strategy",
										"dynamic": "false",
										"name": "Conflict Resolution Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Create Missing Directories",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "true",
										"description": "If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.",
										"displayName": "Create Missing Directories",
										"dynamic": "false",
										"name": "Create Missing Directories",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum File Count",
									"value": {
										"description": "Specifies the maximum number of files that can exist in the output directory",
										"displayName": "Maximum File Count",
										"dynamic": "false",
										"name": "Maximum File Count",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Last Modified Time",
									"value": {
										"description": "Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.",
										"displayName": "Last Modified Time",
										"dynamic": "false",
										"name": "Last Modified Time",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Permissions",
									"value": {
										"description": "Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.",
										"displayName": "Permissions",
										"dynamic": "false",
										"name": "Permissions",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Owner",
									"value": {
										"description": "Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.",
										"displayName": "Owner",
										"dynamic": "false",
										"name": "Owner",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Group",
									"value": {
										"description": "Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.",
										"displayName": "Group",
										"dynamic": "false",
										"name": "Group",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Directory",
									"value": "data/fetch/out"
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": "fail"
								},
								{
									"key": "Create Missing Directories",
									"value": "true"
								},
								{
									"key": "Maximum File Count"
								},
								{
									"key": "Last Modified Time"
								},
								{
									"key": "Permissions"
								},
								{
									"key": "Owner"
								},
								{
									"key": "Group"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "PutFile",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "Files that could not be written to the output directory for some reason are transferred to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "true",
							"description": "Files that have been successfully written to the output directory are transferred to this relationship",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.PutFile"
				},
				{
					"id": "b1c415b8-a5e7-47f8-a4ce-8433b31670f4",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1600.6366105836246",
						"y": "376.7308569754865"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "JsonPath Expression",
									"value": {
										"description": "A JsonPath expression that indicates the array element to split into JSON/scalar fragments.",
										"displayName": "JsonPath Expression",
										"dynamic": "false",
										"name": "JsonPath Expression",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Null Value Representation",
									"value": {
										"allowableValues": [
											{
												"displayName": "empty string",
												"value": "empty string"
											},
											{
												"displayName": "the string 'null'",
												"value": "the string 'null'"
											}
										],
										"defaultValue": "empty string",
										"description": "Indicates the desired representation of JSON Path expressions resulting in a null value.",
										"displayName": "Null Value Representation",
										"dynamic": "false",
										"name": "Null Value Representation",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "JsonPath Expression",
									"value": "$.hits.hits[*]._id"
								},
								{
									"key": "Null Value Representation",
									"value": "empty string"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "SplitJson",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "true",
							"description": "The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship",
							"name": "original"
						},
						{
							"autoTerminate": "false",
							"description": "All segments of the original FlowFile will be routed to this relationship",
							"name": "split"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.SplitJson"
				},
				{
					"id": "58f4a514-b265-4e38-bb13-faf03f273477",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1594.2944927913395",
						"y": "25.3916490206191"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": {
										"defaultValue": "(?s:^.*$)",
										"description": "The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
										"displayName": "Search Value",
										"dynamic": "false",
										"name": "Regular Expression",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Replacement Value",
									"value": {
										"defaultValue": "$1",
										"description": "The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not \"Standard\" attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).",
										"displayName": "Replacement Value",
										"dynamic": "false",
										"name": "Replacement Value",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the <Replacement Strategy> property is set to one of: Append, Prepend, Always Replace",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Replacement Strategy",
									"value": {
										"allowableValues": [
											{
												"description": "Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text.",
												"displayName": "Prepend",
												"value": "Prepend"
											},
											{
												"description": "Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text.",
												"displayName": "Append",
												"value": "Append"
											},
											{
												"description": "Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.",
												"displayName": "Regex Replace",
												"value": "Regex Replace"
											},
											{
												"description": "Search for all instances of the Search Value and replace the matches with the Replacement Value.",
												"displayName": "Literal Replace",
												"value": "Literal Replace"
											},
											{
												"description": "Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the <Evaluation Mode> property) and does not bother searching for any value. When this strategy is chosen, the <Search Value> property is ignored.",
												"displayName": "Always Replace",
												"value": "Always Replace"
											}
										],
										"defaultValue": "Regex Replace",
										"description": "The strategy for how and what to replace within the FlowFile's text content.",
										"displayName": "Replacement Strategy",
										"dynamic": "false",
										"name": "Replacement Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Evaluation Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Line-by-Line",
												"value": "Line-by-Line"
											},
											{
												"displayName": "Entire text",
												"value": "Entire text"
											}
										],
										"defaultValue": "Entire text",
										"description": "Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
										"displayName": "Evaluation Mode",
										"dynamic": "false",
										"name": "Evaluation Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": "(?s:^.*$)"
								},
								{
									"key": "Replacement Value",
									"value": "{\n  \"query\":{\n    \"bool\":{\n        \"must\": [\n            {\"match\":{\"gender\":\"female\"}}\n        ]}\n    }\n}"
								},
								{
									"key": "Character Set",
									"value": "UTF-8"
								},
								{
									"key": "Maximum Buffer Size",
									"value": "1 MB"
								},
								{
									"key": "Replacement Strategy",
									"value": "Regex Replace"
								},
								{
									"key": "Evaluation Mode",
									"value": "Entire text"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "ReplaceText",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "FlowFiles that could not be updated are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ReplaceText"
				},
				{
					"id": "0605add2-07f4-4667-a2f0-bdfdcfa23906",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1183.125637263058",
						"y": "551.0791164516161"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Merge Strategy",
									"value": {
										"allowableValues": [
											{
												"description": "Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the <Correlation Attribute> property is set)",
												"displayName": "Bin-Packing Algorithm",
												"value": "Bin-Packing Algorithm"
											},
											{
												"description": "Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes <fragment.identifier>, <fragment.count>, and <fragment.index> or alternatively (for backward compatibility purposes) <segment.identifier>, <segment.count>, and <segment.index>. All FlowFiles with the same value for \"fragment.identifier\" will be grouped together. All FlowFiles in this group must have the same value for the \"fragment.count\" attribute. All FlowFiles in this group must have a unique value for the \"fragment.index\" attribute between 0 and the value of the \"fragment.count\" attribute.",
												"displayName": "Defragment",
												"value": "Defragment"
											}
										],
										"defaultValue": "Bin-Packing Algorithm",
										"description": "Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles",
										"displayName": "Merge Strategy",
										"dynamic": "false",
										"name": "Merge Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Merge Format",
									"value": {
										"allowableValues": [
											{
												"description": "A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' <path> attribute will be used to create a directory in the TAR file if the <Keep Paths> property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named <tar.permissions> that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.",
												"displayName": "TAR",
												"value": "TAR"
											},
											{
												"description": "A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' <path> attribute will be used to create a directory in the ZIP file if the <Keep Paths> property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The <Compression Level> property indicates the ZIP compression to use.",
												"displayName": "ZIP",
												"value": "ZIP"
											},
											{
												"description": "A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream",
												"displayName": "FlowFile Stream, v3",
												"value": "FlowFile Stream, v3"
											},
											{
												"description": "A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream",
												"displayName": "FlowFile Stream, v2",
												"value": "FlowFile Stream, v2"
											},
											{
												"description": "A bin of FlowFiles will be combined into a single Version 1 FlowFile Package",
												"displayName": "FlowFile Tar, v1",
												"value": "FlowFile Tar, v1"
											},
											{
												"description": "The contents of all FlowFiles will be concatenated together into a single FlowFile",
												"displayName": "Binary Concatenation",
												"value": "Binary Concatenation"
											},
											{
												"description": "The Avro contents of all FlowFiles will be concatenated together into a single FlowFile",
												"displayName": "Avro",
												"value": "Avro"
											}
										],
										"defaultValue": "Binary Concatenation",
										"description": "Determines the format that will be used to merge the content.",
										"displayName": "Merge Format",
										"dynamic": "false",
										"name": "Merge Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Attribute Strategy",
									"value": {
										"allowableValues": [
											{
												"displayName": "Keep Only Common Attributes",
												"value": "Keep Only Common Attributes"
											},
											{
												"displayName": "Keep All Unique Attributes",
												"value": "Keep All Unique Attributes"
											}
										],
										"defaultValue": "Keep Only Common Attributes",
										"description": "Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.",
										"displayName": "Attribute Strategy",
										"dynamic": "false",
										"name": "Attribute Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Correlation Attribute Name",
									"value": {
										"description": "If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.",
										"displayName": "Correlation Attribute Name",
										"dynamic": "false",
										"name": "Correlation Attribute Name",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Minimum Number of Entries",
									"value": {
										"defaultValue": "1",
										"description": "The minimum number of files to include in a bundle",
										"displayName": "Minimum Number of Entries",
										"dynamic": "false",
										"name": "Minimum Number of Entries",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Number of Entries",
									"value": {
										"description": "The maximum number of files to include in a bundle. If not specified, there is no maximum.",
										"displayName": "Maximum Number of Entries",
										"dynamic": "false",
										"name": "Maximum Number of Entries",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Minimum Group Size",
									"value": {
										"defaultValue": "0 B",
										"description": "The minimum size of for the bundle",
										"displayName": "Minimum Group Size",
										"dynamic": "false",
										"name": "Minimum Group Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Group Size",
									"value": {
										"description": "The maximum size for the bundle. If not specified, there is no maximum.",
										"displayName": "Maximum Group Size",
										"dynamic": "false",
										"name": "Maximum Group Size",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Max Bin Age",
									"value": {
										"description": "The maximum age of a Bin that will trigger a Bin to be complete. Expected format is <duration> <time unit> where <duration> is a positive integer and time unit is one of seconds, minutes, hours",
										"displayName": "Max Bin Age",
										"dynamic": "false",
										"name": "Max Bin Age",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum number of Bins",
									"value": {
										"defaultValue": "100",
										"description": "Specifies the maximum number of bins that can be held in memory at any one time",
										"displayName": "Maximum number of Bins",
										"dynamic": "false",
										"name": "Maximum number of Bins",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Delimiter Strategy",
									"value": {
										"allowableValues": [
											{
												"description": "The values of Header, Footer, and Demarcator will be retrieved from the contents of a file",
												"displayName": "Filename",
												"value": "Filename"
											},
											{
												"description": "The values of Header, Footer, and Demarcator will be specified as property values",
												"displayName": "Text",
												"value": "Text"
											}
										],
										"defaultValue": "Filename",
										"description": "Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.",
										"displayName": "Delimiter Strategy",
										"dynamic": "false",
										"name": "Delimiter Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Header File",
									"value": {
										"description": "Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.",
										"displayName": "Header",
										"dynamic": "false",
										"name": "Header File",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Footer File",
									"value": {
										"description": "Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.",
										"displayName": "Footer",
										"dynamic": "false",
										"name": "Footer File",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Demarcator File",
									"value": {
										"description": "Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.",
										"displayName": "Demarcator",
										"dynamic": "false",
										"name": "Demarcator File",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Compression Level",
									"value": {
										"allowableValues": [
											{
												"displayName": "0",
												"value": "0"
											},
											{
												"displayName": "1",
												"value": "1"
											},
											{
												"displayName": "2",
												"value": "2"
											},
											{
												"displayName": "3",
												"value": "3"
											},
											{
												"displayName": "4",
												"value": "4"
											},
											{
												"displayName": "5",
												"value": "5"
											},
											{
												"displayName": "6",
												"value": "6"
											},
											{
												"displayName": "7",
												"value": "7"
											},
											{
												"displayName": "8",
												"value": "8"
											},
											{
												"displayName": "9",
												"value": "9"
											}
										],
										"defaultValue": "1",
										"description": "Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored",
										"displayName": "Compression Level",
										"dynamic": "false",
										"name": "Compression Level",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Keep Path",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored",
										"displayName": "Keep Path",
										"dynamic": "false",
										"name": "Keep Path",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Merge Strategy",
									"value": "Bin-Packing Algorithm"
								},
								{
									"key": "Merge Format",
									"value": "Binary Concatenation"
								},
								{
									"key": "Attribute Strategy",
									"value": "Keep Only Common Attributes"
								},
								{
									"key": "Correlation Attribute Name"
								},
								{
									"key": "Minimum Number of Entries",
									"value": "1"
								},
								{
									"key": "Maximum Number of Entries"
								},
								{
									"key": "Minimum Group Size",
									"value": "0 B"
								},
								{
									"key": "Maximum Group Size"
								},
								{
									"key": "Max Bin Age"
								},
								{
									"key": "Maximum number of Bins",
									"value": "100"
								},
								{
									"key": "Delimiter Strategy",
									"value": "Filename"
								},
								{
									"key": "Header File"
								},
								{
									"key": "Footer File"
								},
								{
									"key": "Demarcator File"
								},
								{
									"key": "Compression Level",
									"value": "1"
								},
								{
									"key": "Keep Path",
									"value": "false"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "MergeContent",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "The FlowFile containing the merged content",
							"name": "merged"
						},
						{
							"autoTerminate": "true",
							"description": "The FlowFiles that were used to create the bundle",
							"name": "original"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.MergeContent"
				},
				{
					"id": "7f8b6624-9495-4a3b-a7af-f39573a585e0",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "577.0",
						"y": "545.0"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "File Size",
									"value": {
										"description": "The size of the file that will be used",
										"displayName": "File Size",
										"dynamic": "false",
										"name": "File Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Batch Size",
									"value": {
										"defaultValue": "1",
										"description": "The number of FlowFiles to be transferred in each invocation",
										"displayName": "Batch Size",
										"dynamic": "false",
										"name": "Batch Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Data Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "Binary",
												"value": "Binary"
											},
											{
												"displayName": "Text",
												"value": "Text"
											}
										],
										"defaultValue": "Binary",
										"description": "Specifies whether the data should be Text or Binary",
										"displayName": "Data Format",
										"dynamic": "false",
										"name": "Data Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Unique FlowFiles",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
										"displayName": "Unique FlowFiles",
										"dynamic": "false",
										"name": "Unique FlowFiles",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "File Size",
									"value": "0B"
								},
								{
									"key": "Batch Size",
									"value": "1"
								},
								{
									"key": "Data Format",
									"value": "Text"
								},
								{
									"key": "Unique FlowFiles",
									"value": "false"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "5 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GenerateFlowFile",
					"relationships": {
						"autoTerminate": "false",
						"description": "",
						"name": "success"
					},
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
				},
				{
					"id": "ccb5ba27-98db-475d-be1e-f85e1276b172",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1600.7532958984375",
						"y": "723.9892578125"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "0",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Cluster Name",
									"value": {
										"description": "Name of the ES cluster (for example, elasticsearch_brew). Defaults to 'elasticsearch'",
										"displayName": "Cluster Name",
										"dynamic": "false",
										"name": "Cluster Name",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "ElasticSearch Hosts",
									"value": {
										"description": "ElasticSearch Hosts, which should be comma separated and colon for hostname/port host1:port,host2:port,....  For example testcluster:9300.",
										"displayName": "ElasticSearch Hosts",
										"dynamic": "false",
										"name": "ElasticSearch Hosts",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "SSL Context Service",
									"value": {
										"allowableValues": {
											"displayName": "StandardSSLContextService",
											"value": "47fdb81f-331c-4171-b448-efa81a7071e1"
										},
										"description": "The SSL Context Service used to provide client certificate information for TLS/SSL connections. This service only app",
										"displayName": "SSL Context Service",
										"dynamic": "false",
										"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
										"name": "SSL Context Service",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "ElasticSearch Ping Timeout",
									"value": {
										"defaultValue": "5s",
										"description": "The ping timeout used to determine when a node is unreachable. For example, 5s (5 seconds). If non-local recommended is 30s",
										"displayName": "ElasticSearch Ping Timeout",
										"dynamic": "false",
										"name": "ElasticSearch Ping Timeout",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Sampler Interval",
									"value": {
										"defaultValue": "5s",
										"description": "Node sampler interval. For example, 5s (5 seconds) If non-local recommended is 30s",
										"displayName": "Sampler Interval",
										"dynamic": "false",
										"name": "Sampler Interval",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Document Identifier Attribute",
									"value": {
										"description": "The name of the attribute containing the identifier for each FlowFile",
										"displayName": "Document Identifier Attribute",
										"dynamic": "false",
										"name": "Document Identifier Attribute",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Index",
									"value": {
										"description": "The name of the index to read from",
										"displayName": "Index",
										"dynamic": "false",
										"name": "Index",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Type",
									"value": {
										"description": "The type of this document (used by Elasticsearch for indexing and searching)",
										"displayName": "Type",
										"dynamic": "false",
										"name": "Type",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Cluster Name",
									"value": "elasticsearch"
								},
								{
									"key": "ElasticSearch Hosts",
									"value": "192.168.99.100:32768"
								},
								{
									"key": "SSL Context Service"
								},
								{
									"key": "ElasticSearch Ping Timeout",
									"value": "5s"
								},
								{
									"key": "Sampler Interval",
									"value": "5s"
								},
								{
									"key": "Document Identifier Attribute",
									"value": "${es-doc-id}"
								},
								{
									"key": "Index",
									"value": "randomuser.me"
								},
								{
									"key": "Type",
									"value": "user"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "1 sec",
						"schedulingStrategy": "EVENT_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "FetchElasticsearch",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "All FlowFiles that cannot be read from Elasticsearch are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "true",
							"description": "A FlowFile is routed to this relationship if the document cannot be fetched but attempting the operation again may succeed",
							"name": "retry"
						},
						{
							"autoTerminate": "false",
							"description": "All FlowFiles that are read from Elasticsearch are routed to this relationship",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.elasticsearch.FetchElasticsearch"
				},
				{
					"id": "d39e7410-cd1f-4b2c-84b3-1bbd713ce70c",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1181.1589716660726",
						"y": "31.254830322412737"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "File Size",
									"value": {
										"description": "The size of the file that will be used",
										"displayName": "File Size",
										"dynamic": "false",
										"name": "File Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Batch Size",
									"value": {
										"defaultValue": "1",
										"description": "The number of FlowFiles to be transferred in each invocation",
										"displayName": "Batch Size",
										"dynamic": "false",
										"name": "Batch Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Data Format",
									"value": {
										"allowableValues": [
											{
												"displayName": "Binary",
												"value": "Binary"
											},
											{
												"displayName": "Text",
												"value": "Text"
											}
										],
										"defaultValue": "Binary",
										"description": "Specifies whether the data should be Text or Binary",
										"displayName": "Data Format",
										"dynamic": "false",
										"name": "Data Format",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Unique FlowFiles",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
										"displayName": "Unique FlowFiles",
										"dynamic": "false",
										"name": "Unique FlowFiles",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "File Size",
									"value": "0B"
								},
								{
									"key": "Batch Size",
									"value": "1"
								},
								{
									"key": "Data Format",
									"value": "Text"
								},
								{
									"key": "Unique FlowFiles",
									"value": "false"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "5 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "GenerateFlowFile",
					"relationships": {
						"autoTerminate": "false",
						"description": "",
						"name": "success"
					},
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
				},
				{
					"id": "3f395d1d-63c6-4dc4-bb60-555910f314f2",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "574.0",
						"y": "697.0"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Cluster Name",
									"value": {
										"description": "Name of the ES cluster (for example, elasticsearch_brew). Defaults to 'elasticsearch'",
										"displayName": "Cluster Name",
										"dynamic": "false",
										"name": "Cluster Name",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "ElasticSearch Hosts",
									"value": {
										"description": "ElasticSearch Hosts, which should be comma separated and colon for hostname/port host1:port,host2:port,....  For example testcluster:9300.",
										"displayName": "ElasticSearch Hosts",
										"dynamic": "false",
										"name": "ElasticSearch Hosts",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "SSL Context Service",
									"value": {
										"allowableValues": {
											"displayName": "StandardSSLContextService",
											"value": "47fdb81f-331c-4171-b448-efa81a7071e1"
										},
										"description": "The SSL Context Service used to provide client certificate information for TLS/SSL connections. This service only app",
										"displayName": "SSL Context Service",
										"dynamic": "false",
										"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
										"name": "SSL Context Service",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "ElasticSearch Ping Timeout",
									"value": {
										"defaultValue": "5s",
										"description": "The ping timeout used to determine when a node is unreachable. For example, 5s (5 seconds). If non-local recommended is 30s",
										"displayName": "ElasticSearch Ping Timeout",
										"dynamic": "false",
										"name": "ElasticSearch Ping Timeout",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Sampler Interval",
									"value": {
										"defaultValue": "5s",
										"description": "Node sampler interval. For example, 5s (5 seconds) If non-local recommended is 30s",
										"displayName": "Sampler Interval",
										"dynamic": "false",
										"name": "Sampler Interval",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Document Identifier Attribute",
									"value": {
										"description": "The name of the attribute containing the identifier for each FlowFile",
										"displayName": "Document Identifier Attribute",
										"dynamic": "false",
										"name": "Document Identifier Attribute",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Index",
									"value": {
										"description": "The name of the index to read from",
										"displayName": "Index",
										"dynamic": "false",
										"name": "Index",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Type",
									"value": {
										"description": "The type of this document (used by Elasticsearch for indexing and searching)",
										"displayName": "Type",
										"dynamic": "false",
										"name": "Type",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Cluster Name",
									"value": "elasticsearch"
								},
								{
									"key": "ElasticSearch Hosts",
									"value": "192.168.99.100:32768"
								},
								{
									"key": "SSL Context Service"
								},
								{
									"key": "ElasticSearch Ping Timeout",
									"value": "5s"
								},
								{
									"key": "Sampler Interval",
									"value": "5s"
								},
								{
									"key": "Document Identifier Attribute",
									"value": "${nextInt():mod(10)}"
								},
								{
									"key": "Index",
									"value": "randomuser.me"
								},
								{
									"key": "Type",
									"value": "user"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "2 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "FetchElasticsearch",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "All FlowFiles that cannot be read from Elasticsearch are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "true",
							"description": "A FlowFile is routed to this relationship if the document cannot be fetched but attempting the operation again may succeed",
							"name": "retry"
						},
						{
							"autoTerminate": "false",
							"description": "All FlowFiles that are read from Elasticsearch are routed to this relationship",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.elasticsearch.FetchElasticsearch"
				},
				{
					"id": "31bf7630-4e5a-437e-83f4-0d9cdc8a3fdb",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1596.4421997070312",
						"y": "210.25721073150635"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "HTTP Method",
									"value": {
										"defaultValue": "GET",
										"description": "HTTP request method (GET, POST, PUT, DELETE, HEAD, OPTIONS). Arbitrary methods are also supported. Methods other than POST and PUT will be sent without a message body.",
										"displayName": "HTTP Method",
										"dynamic": "false",
										"name": "HTTP Method",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Remote URL",
									"value": {
										"description": "Remote URL which will be connected to, including scheme, host, port, path.",
										"displayName": "Remote URL",
										"dynamic": "false",
										"name": "Remote URL",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "SSL Context Service",
									"value": {
										"allowableValues": {
											"displayName": "StandardSSLContextService",
											"value": "47fdb81f-331c-4171-b448-efa81a7071e1"
										},
										"description": "The SSL Context Service used to provide client certificate information for TLS/SSL (https) connections.",
										"displayName": "SSL Context Service",
										"dynamic": "false",
										"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
										"name": "SSL Context Service",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Connection Timeout",
									"value": {
										"defaultValue": "5 secs",
										"description": "Max wait time for connection to remote service.",
										"displayName": "Connection Timeout",
										"dynamic": "false",
										"name": "Connection Timeout",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Read Timeout",
									"value": {
										"defaultValue": "15 secs",
										"description": "Max wait time for response from remote service.",
										"displayName": "Read Timeout",
										"dynamic": "false",
										"name": "Read Timeout",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Include Date Header",
									"value": {
										"allowableValues": [
											{
												"displayName": "True",
												"value": "True"
											},
											{
												"displayName": "False",
												"value": "False"
											}
										],
										"defaultValue": "True",
										"description": "Include an RFC-2616 Date header in the request.",
										"displayName": "Include Date Header",
										"dynamic": "false",
										"name": "Include Date Header",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Follow Redirects",
									"value": {
										"allowableValues": [
											{
												"displayName": "True",
												"value": "True"
											},
											{
												"displayName": "False",
												"value": "False"
											}
										],
										"defaultValue": "True",
										"description": "Follow HTTP redirects issued by remote server.",
										"displayName": "Follow Redirects",
										"dynamic": "false",
										"name": "Follow Redirects",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Attributes to Send",
									"value": {
										"description": "Regular expression that defines which attributes to send as HTTP headers in the request. If not defined, no attributes are sent as headers. Also any dynamic properties set will be sent as headers. The dynamic property key will be the header key and the dynamic property value will be interpreted as expression language will be the header value.",
										"displayName": "Attributes to Send",
										"dynamic": "false",
										"name": "Attributes to Send",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Basic Authentication Username",
									"value": {
										"description": "The username to be used by the client to authenticate against the Remote URL.  Cannot include control characters (0-31), ':', or DEL (127).",
										"displayName": "Basic Authentication Username",
										"dynamic": "false",
										"name": "Basic Authentication Username",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Basic Authentication Password",
									"value": {
										"description": "The password to be used by the client to authenticate against the Remote URL.",
										"displayName": "Basic Authentication Password",
										"dynamic": "false",
										"name": "Basic Authentication Password",
										"required": "false",
										"sensitive": "true",
										"supportsEl": "false"
									}
								},
								{
									"key": "Proxy Host",
									"value": {
										"description": "The fully qualified hostname or IP address of the proxy server",
										"displayName": "Proxy Host",
										"dynamic": "false",
										"name": "Proxy Host",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Proxy Port",
									"value": {
										"description": "The port of the proxy server",
										"displayName": "Proxy Port",
										"dynamic": "false",
										"name": "Proxy Port",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Put Response Body In Attribute",
									"value": {
										"description": "If set, the response body received back will be put into an attribute of the original FlowFile instead of a separate FlowFile. The attribute key to put to is determined by evaluating value of this property.",
										"displayName": "Put Response Body In Attribute",
										"dynamic": "false",
										"name": "Put Response Body In Attribute",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Max Length To Put In Attribute",
									"value": {
										"defaultValue": "256",
										"description": "If routing the response body to an attribute of the original (by setting the \"Put response body in attribute\" property or by receiving an error status code), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.",
										"displayName": "Max Length To Put In Attribute",
										"dynamic": "false",
										"name": "Max Length To Put In Attribute",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Digest Authentication",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Whether to communicate with the website using Digest Authentication. 'Basic Authentication Username' and 'Basic Authentication Password' are used for authentication.",
										"displayName": "Use Digest Authentication",
										"dynamic": "false",
										"name": "Digest Authentication",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Always Output Response",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Will force a response FlowFile to be generated and routed to the 'Response' relationship regardless of what the server status code received is or if the processor is configured to put the server response body in the request attribute. In the later configuration a request FlowFile with the response body in the attribute and a typical response FlowFile will be emitted to their respective relationships.",
										"displayName": "Always Output Response",
										"dynamic": "false",
										"name": "Always Output Response",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Trusted Hostname",
									"value": {
										"description": "Bypass the normal truststore hostname verifier to allow the specified remote hostname as trusted. Enabling this property has MITM security implications, use wisely. Will still accept other connections based on the normal truststore hostname verifier. Only valid with SSL (HTTPS) connections.",
										"displayName": "Trusted Hostname",
										"dynamic": "false",
										"name": "Trusted Hostname",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Add Response Headers to Request",
									"value": {
										"allowableValues": [
											{
												"displayName": "true",
												"value": "true"
											},
											{
												"displayName": "false",
												"value": "false"
											}
										],
										"defaultValue": "false",
										"description": "Enabling this property saves all the response headers to the original request. This may be when the response headers are needed but a response is not generated due to the status code received.",
										"displayName": "Add Response Headers to Request",
										"dynamic": "false",
										"name": "Add Response Headers to Request",
										"required": "false",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "HTTP Method",
									"value": "POST"
								},
								{
									"key": "Remote URL",
									"value": "http://192.168.99.100:32769/randomuser.me/user/_search"
								},
								{
									"key": "SSL Context Service"
								},
								{
									"key": "Connection Timeout",
									"value": "5 secs"
								},
								{
									"key": "Read Timeout",
									"value": "15 secs"
								},
								{
									"key": "Include Date Header",
									"value": "True"
								},
								{
									"key": "Follow Redirects",
									"value": "True"
								},
								{
									"key": "Attributes to Send"
								},
								{
									"key": "Basic Authentication Username"
								},
								{
									"key": "Basic Authentication Password"
								},
								{
									"key": "Proxy Host"
								},
								{
									"key": "Proxy Port"
								},
								{
									"key": "Put Response Body In Attribute"
								},
								{
									"key": "Max Length To Put In Attribute",
									"value": "256"
								},
								{
									"key": "Digest Authentication",
									"value": "false"
								},
								{
									"key": "Always Output Response",
									"value": "false"
								},
								{
									"key": "Trusted Hostname"
								},
								{
									"key": "Add Response Headers to Request",
									"value": "false"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "InvokeHTTP",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "The original FlowFile will be routed on any type of connection failure, timeout or general exception. It will have new attributes detailing the request.",
							"name": "Failure"
						},
						{
							"autoTerminate": "true",
							"description": "The original FlowFile will be routed on any status code that should NOT be retried (1xx, 3xx, 4xx status codes).  It will have new attributes detailing the request.",
							"name": "No Retry"
						},
						{
							"autoTerminate": "true",
							"description": "The original FlowFile will be routed upon success (2xx status codes). It will have new attributes detailing the success of the request.",
							"name": "Original"
						},
						{
							"autoTerminate": "false",
							"description": "A Response FlowFile will be routed upon success (2xx status codes). If the 'Output Response Regardless' property is true then the response will be sent to this relationship regardless of the status code received.",
							"name": "Response"
						},
						{
							"autoTerminate": "true",
							"description": "The original FlowFile will be routed on any status code that can be retried (5xx status codes). It will have new attributes detailing the request.",
							"name": "Retry"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "false",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.InvokeHTTP"
				},
				{
					"id": "74a545ef-15e9-4c82-af05-2e8034a9f56f",
					"parentGroupId": "851f4c7e-51a1-4ae0-9cbc-453fa1fb9ded",
					"position": {
						"x": "1185.7344975535973",
						"y": "719.4959439235047"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"defaultConcurrentTasks": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "1"
								},
								{
									"key": "EVENT_DRIVEN",
									"value": "0"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "1"
								}
							]
						},
						"defaultSchedulingPeriod": {
							"entry": [
								{
									"key": "TIMER_DRIVEN",
									"value": "0 sec"
								},
								{
									"key": "CRON_DRIVEN",
									"value": "* * * * * ?"
								}
							]
						},
						"descriptors": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": {
										"defaultValue": "(?s:^.*$)",
										"description": "The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
										"displayName": "Search Value",
										"dynamic": "false",
										"name": "Regular Expression",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Replacement Value",
									"value": {
										"defaultValue": "$1",
										"description": "The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not \"Standard\" attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).",
										"displayName": "Replacement Value",
										"dynamic": "false",
										"name": "Replacement Value",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "true"
									}
								},
								{
									"key": "Character Set",
									"value": {
										"defaultValue": "UTF-8",
										"description": "The Character Set in which the file is encoded",
										"displayName": "Character Set",
										"dynamic": "false",
										"name": "Character Set",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Maximum Buffer Size",
									"value": {
										"defaultValue": "1 MB",
										"description": "Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the <Replacement Strategy> property is set to one of: Append, Prepend, Always Replace",
										"displayName": "Maximum Buffer Size",
										"dynamic": "false",
										"name": "Maximum Buffer Size",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Replacement Strategy",
									"value": {
										"allowableValues": [
											{
												"description": "Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text.",
												"displayName": "Prepend",
												"value": "Prepend"
											},
											{
												"description": "Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text.",
												"displayName": "Append",
												"value": "Append"
											},
											{
												"description": "Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.",
												"displayName": "Regex Replace",
												"value": "Regex Replace"
											},
											{
												"description": "Search for all instances of the Search Value and replace the matches with the Replacement Value.",
												"displayName": "Literal Replace",
												"value": "Literal Replace"
											},
											{
												"description": "Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the <Evaluation Mode> property) and does not bother searching for any value. When this strategy is chosen, the <Search Value> property is ignored.",
												"displayName": "Always Replace",
												"value": "Always Replace"
											}
										],
										"defaultValue": "Regex Replace",
										"description": "The strategy for how and what to replace within the FlowFile's text content.",
										"displayName": "Replacement Strategy",
										"dynamic": "false",
										"name": "Replacement Strategy",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								},
								{
									"key": "Evaluation Mode",
									"value": {
										"allowableValues": [
											{
												"displayName": "Line-by-Line",
												"value": "Line-by-Line"
											},
											{
												"displayName": "Entire text",
												"value": "Entire text"
											}
										],
										"defaultValue": "Entire text",
										"description": "Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
										"displayName": "Evaluation Mode",
										"dynamic": "false",
										"name": "Evaluation Mode",
										"required": "true",
										"sensitive": "false",
										"supportsEl": "false"
									}
								}
							]
						},
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Regular Expression",
									"value": "(?s:^.*$)"
								},
								{
									"key": "Replacement Value",
									"value": "${userdoc.name:append('\\n')}"
								},
								{
									"key": "Character Set",
									"value": "UTF-8"
								},
								{
									"key": "Maximum Buffer Size",
									"value": "1 MB"
								},
								{
									"key": "Replacement Strategy",
									"value": "Regex Replace"
								},
								{
									"key": "Evaluation Mode",
									"value": "Entire text"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"name": "ReplaceText",
					"relationships": [
						{
							"autoTerminate": "true",
							"description": "FlowFiles that could not be updated are routed to this relationship",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"description": "FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"supportsEventDriven": "true",
					"supportsParallelProcessing": "true",
					"type": "org.apache.nifi.processors.standard.ReplaceText"
				}
			]
		},
		"timestamp": "01/13/2022 11:46:26 EST"
	}
}