containers/nifi/nifi-deployment-automation/ansible/templates/registry/Excel_to_SQL_Demo.json
{
	"template": {
		"description": "In this demo convert an excel file to csv and insert results into sql.",
		"groupId": "7c84501d-d10c-407c-b9f3-1d80e38fe36a",
		"name": "Excel to SQL Demo",
		"snippet": {
			"controllerServices": {
				"id": "f4493d35-ceab-3183-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"bundle": {
					"artifact": "nifi-dbcp-service-nar",
					"group": "org.apache.nifi",
					"version": "1.9.0.3.4.1.1-4"
				},
				"comments": "",
				"descriptors": {
					"entry": [
						{
							"key": "Database Connection URL",
							"value": {
								"name": "Database Connection URL"
							}
						},
						{
							"key": "Database Driver Class Name",
							"value": {
								"name": "Database Driver Class Name"
							}
						},
						{
							"key": "database-driver-locations",
							"value": {
								"name": "database-driver-locations"
							}
						},
						{
							"key": "kerberos-credentials-service",
							"value": {
								"identifiesControllerService": "org.apache.nifi.kerberos.KerberosCredentialsService",
								"name": "kerberos-credentials-service"
							}
						},
						{
							"key": "Database User",
							"value": {
								"name": "Database User"
							}
						},
						{
							"key": "Password",
							"value": {
								"name": "Password"
							}
						},
						{
							"key": "Max Wait Time",
							"value": {
								"name": "Max Wait Time"
							}
						},
						{
							"key": "Max Total Connections",
							"value": {
								"name": "Max Total Connections"
							}
						},
						{
							"key": "Validation-query",
							"value": {
								"name": "Validation-query"
							}
						},
						{
							"key": "dbcp-min-idle-conns",
							"value": {
								"name": "dbcp-min-idle-conns"
							}
						},
						{
							"key": "dbcp-max-idle-conns",
							"value": {
								"name": "dbcp-max-idle-conns"
							}
						},
						{
							"key": "dbcp-max-conn-lifetime",
							"value": {
								"name": "dbcp-max-conn-lifetime"
							}
						},
						{
							"key": "dbcp-time-between-eviction-runs",
							"value": {
								"name": "dbcp-time-between-eviction-runs"
							}
						},
						{
							"key": "dbcp-min-evictable-idle-time",
							"value": {
								"name": "dbcp-min-evictable-idle-time"
							}
						},
						{
							"key": "dbcp-soft-min-evictable-idle-time",
							"value": {
								"name": "dbcp-soft-min-evictable-idle-time"
							}
						}
					]
				},
				"name": "DBCPConnectionPool",
				"persistsState": "false",
				"properties": {
					"entry": [
						{
							"key": "Database Connection URL",
							"value": "jdbc:mysql://localhost/inventory"
						},
						{
							"key": "Database Driver Class Name",
							"value": "com.mysql.jdbc.Driver"
						},
						{
							"key": "database-driver-locations",
							"value": "/usr/share/java/mysql-connector-java.jar"
						},
						{
							"key": "kerberos-credentials-service"
						},
						{
							"key": "Database User"
						},
						{
							"key": "Password"
						},
						{
							"key": "Max Wait Time"
						},
						{
							"key": "Max Total Connections"
						},
						{
							"key": "Validation-query"
						},
						{
							"key": "dbcp-min-idle-conns"
						},
						{
							"key": "dbcp-max-idle-conns"
						},
						{
							"key": "dbcp-max-conn-lifetime"
						},
						{
							"key": "dbcp-time-between-eviction-runs"
						},
						{
							"key": "dbcp-min-evictable-idle-time"
						},
						{
							"key": "dbcp-soft-min-evictable-idle-time"
						}
					]
				},
				"state": "ENABLED",
				"type": "org.apache.nifi.dbcp.DBCPConnectionPool"
			},
			"processGroups": {
				"id": "c1201c3b-fc68-3d27-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "018c77d6-291e-37aa-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "3f3e4767-2e5d-33ce-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "864ca009-ce3c-34eb-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "0f17b948-4187-35f7-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "0112b258-6c62-3e04-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "3f3e4767-2e5d-33ce-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "26c07308-db17-314c-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "10257764-d230-3a04-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "024a02f8-3aad-3c99-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "4514683f-d9be-371a-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "1781.6461181640625",
								"y": "639.6948852539062"
							},
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "9e3aa1b0-29a7-3956-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "failure",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "024a02f8-3aad-3c99-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "6bd7edaa-0c54-33e2-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "024a02f8-3aad-3c99-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "8998871a-1d08-3856-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "7a761ee7-5e42-3606-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "1781.872754589127",
								"y": "578.4724338082488"
							},
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "9e3aa1b0-29a7-3956-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "retry",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "024a02f8-3aad-3c99-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "8ac60ee7-6b34-3712-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "8998871a-1d08-3856-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "matched",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "e5295f74-4ec0-3b0c-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "b32578e3-2fdc-35f2-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "1549.3033447265625",
								"y": "309.66131591796875"
							},
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "9e3aa1b0-29a7-3956-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "0",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "failure",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "3f3e4767-2e5d-33ce-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "eba0efaa-e80d-381e-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "e5295f74-4ec0-3b0c-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "splits",
							"source": {
								"groupId": "c1201c3b-fc68-3d27-0000-000000000000",
								"id": "0112b258-6c62-3e04-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"outputPorts": [
						{
							"id": "10257764-d230-3a04-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "2036.5774866173997",
								"y": "720.4272479895448"
							},
							"concurrentlySchedulableTaskCount": "1",
							"name": "Success Output",
							"state": "STOPPED",
							"type": "OUTPUT_PORT",
							"validationErrors": "'Port 'Success Output'' is invalid because Output connection for port 'Success Output' is not defined."
						},
						{
							"id": "9e3aa1b0-29a7-3956-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "1544.0976428674003",
								"y": "718.9872955969669"
							},
							"concurrentlySchedulableTaskCount": "1",
							"name": "EOL",
							"state": "STOPPED",
							"type": "OUTPUT_PORT",
							"validationErrors": "'Port 'EOL'' is invalid because Output connection for port 'EOL' is not defined."
						}
					],
					"processors": [
						{
							"id": "0112b258-6c62-3e04-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "1963.4052052542193",
								"y": "-124.6648047809598"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Line Split Count",
											"value": {
												"name": "Line Split Count"
											}
										},
										{
											"key": "Maximum Fragment Size",
											"value": {
												"name": "Maximum Fragment Size"
											}
										},
										{
											"key": "Header Line Count",
											"value": {
												"name": "Header Line Count"
											}
										},
										{
											"key": "Header Line Marker Characters",
											"value": {
												"name": "Header Line Marker Characters"
											}
										},
										{
											"key": "Remove Trailing Newlines",
											"value": {
												"name": "Remove Trailing Newlines"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Line Split Count",
											"value": "1"
										},
										{
											"key": "Maximum Fragment Size"
										},
										{
											"key": "Header Line Count",
											"value": "0"
										},
										{
											"key": "Header Line Marker Characters"
										},
										{
											"key": "Remove Trailing Newlines",
											"value": "true"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "SplitText",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"name": "original"
								},
								{
									"autoTerminate": "false",
									"name": "splits"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.SplitText"
						},
						{
							"id": "024a02f8-3aad-3c99-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "1966.7938624046037",
								"y": "507.532340085937"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "ERROR",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "JDBC Connection Pool",
											"value": {
												"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
												"name": "JDBC Connection Pool"
											}
										},
										{
											"key": "putsql-sql-statement",
											"value": {
												"name": "putsql-sql-statement"
											}
										},
										{
											"key": "Support Fragmented Transactions",
											"value": {
												"name": "Support Fragmented Transactions"
											}
										},
										{
											"key": "database-session-autocommit",
											"value": {
												"name": "database-session-autocommit"
											}
										},
										{
											"key": "Transaction Timeout",
											"value": {
												"name": "Transaction Timeout"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Obtain Generated Keys",
											"value": {
												"name": "Obtain Generated Keys"
											}
										},
										{
											"key": "rollback-on-failure",
											"value": {
												"name": "rollback-on-failure"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "JDBC Connection Pool",
											"value": "f4493d35-ceab-3183-0000-000000000000"
										},
										{
											"key": "putsql-sql-statement"
										},
										{
											"key": "Support Fragmented Transactions",
											"value": "false"
										},
										{
											"key": "database-session-autocommit",
											"value": "false"
										},
										{
											"key": "Transaction Timeout",
											"value": "100 s"
										},
										{
											"key": "Batch Size",
											"value": "100"
										},
										{
											"key": "Obtain Generated Keys",
											"value": "false"
										},
										{
											"key": "rollback-on-failure",
											"value": "false"
										}
									]
								},
								"runDurationMillis": "2000",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "PutSQL",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "retry"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.PutSQL"
						},
						{
							"id": "3f3e4767-2e5d-33ce-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "1366.2925494679907",
								"y": "-122.19324957449498"
							},
							"bundle": {
								"artifact": "nifi-poi-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "extract-sheets",
											"value": {
												"name": "extract-sheets"
											}
										},
										{
											"key": "excel-extract-first-row",
											"value": {
												"name": "excel-extract-first-row"
											}
										},
										{
											"key": "excel-extract-column-to-skip",
											"value": {
												"name": "excel-extract-column-to-skip"
											}
										},
										{
											"key": "excel-format-values",
											"value": {
												"name": "excel-format-values"
											}
										},
										{
											"key": "CSV Format",
											"value": {
												"name": "CSV Format"
											}
										},
										{
											"key": "Value Separator",
											"value": {
												"name": "Value Separator"
											}
										},
										{
											"key": "Include Header Line",
											"value": {
												"name": "Include Header Line"
											}
										},
										{
											"key": "Quote Character",
											"value": {
												"name": "Quote Character"
											}
										},
										{
											"key": "Escape Character",
											"value": {
												"name": "Escape Character"
											}
										},
										{
											"key": "Comment Marker",
											"value": {
												"name": "Comment Marker"
											}
										},
										{
											"key": "Null String",
											"value": {
												"name": "Null String"
											}
										},
										{
											"key": "Trim Fields",
											"value": {
												"name": "Trim Fields"
											}
										},
										{
											"key": "Quote Mode",
											"value": {
												"name": "Quote Mode"
											}
										},
										{
											"key": "Record Separator",
											"value": {
												"name": "Record Separator"
											}
										},
										{
											"key": "Include Trailing Delimiter",
											"value": {
												"name": "Include Trailing Delimiter"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "extract-sheets"
										},
										{
											"key": "excel-extract-first-row",
											"value": "0"
										},
										{
											"key": "excel-extract-column-to-skip"
										},
										{
											"key": "excel-format-values",
											"value": "false"
										},
										{
											"key": "CSV Format",
											"value": "custom"
										},
										{
											"key": "Value Separator",
											"value": ","
										},
										{
											"key": "Include Header Line",
											"value": "true"
										},
										{
											"key": "Quote Character",
											"value": "\""
										},
										{
											"key": "Escape Character",
											"value": "\\"
										},
										{
											"key": "Comment Marker"
										},
										{
											"key": "Null String"
										},
										{
											"key": "Trim Fields",
											"value": "true"
										},
										{
											"key": "Quote Mode",
											"value": "NONE"
										},
										{
											"key": "Record Separator",
											"value": "\\n"
										},
										{
											"key": "Include Trailing Delimiter",
											"value": "false"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ConvertExcelToCSVProcessor",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"name": "original"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor"
						},
						{
							"id": "864ca009-ce3c-34eb-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "772.186004519428",
								"y": "-122.37602380077124"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Input Directory",
											"value": {
												"name": "Input Directory"
											}
										},
										{
											"key": "File Filter",
											"value": {
												"name": "File Filter"
											}
										},
										{
											"key": "Path Filter",
											"value": {
												"name": "Path Filter"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Keep Source File",
											"value": {
												"name": "Keep Source File"
											}
										},
										{
											"key": "Recurse Subdirectories",
											"value": {
												"name": "Recurse Subdirectories"
											}
										},
										{
											"key": "Polling Interval",
											"value": {
												"name": "Polling Interval"
											}
										},
										{
											"key": "Ignore Hidden Files",
											"value": {
												"name": "Ignore Hidden Files"
											}
										},
										{
											"key": "Minimum File Age",
											"value": {
												"name": "Minimum File Age"
											}
										},
										{
											"key": "Maximum File Age",
											"value": {
												"name": "Maximum File Age"
											}
										},
										{
											"key": "Minimum File Size",
											"value": {
												"name": "Minimum File Size"
											}
										},
										{
											"key": "Maximum File Size",
											"value": {
												"name": "Maximum File Size"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Input Directory",
											"value": "/local/folder/"
										},
										{
											"key": "File Filter",
											"value": "excelFilename.xlsx"
										},
										{
											"key": "Path Filter"
										},
										{
											"key": "Batch Size",
											"value": "10"
										},
										{
											"key": "Keep Source File",
											"value": "true"
										},
										{
											"key": "Recurse Subdirectories",
											"value": "true"
										},
										{
											"key": "Polling Interval",
											"value": "0 sec"
										},
										{
											"key": "Ignore Hidden Files",
											"value": "true"
										},
										{
											"key": "Minimum File Age",
											"value": "0 sec"
										},
										{
											"key": "Maximum File Age"
										},
										{
											"key": "Minimum File Size",
											"value": "0 B"
										},
										{
											"key": "Maximum File Size"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 0 4 * * ?",
								"schedulingStrategy": "CRON_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "GetFile",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.GetFile"
						},
						{
							"id": "8998871a-1d08-3856-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "1962.0342798850725",
								"y": "252.97692779345664"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Regular Expression",
											"value": {
												"name": "Regular Expression"
											}
										},
										{
											"key": "Replacement Value",
											"value": {
												"name": "Replacement Value"
											}
										},
										{
											"key": "Character Set",
											"value": {
												"name": "Character Set"
											}
										},
										{
											"key": "Maximum Buffer Size",
											"value": {
												"name": "Maximum Buffer Size"
											}
										},
										{
											"key": "Replacement Strategy",
											"value": {
												"name": "Replacement Strategy"
											}
										},
										{
											"key": "Evaluation Mode",
											"value": {
												"name": "Evaluation Mode"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Regular Expression",
											"value": "(?s)(^.*$)"
										},
										{
											"key": "Replacement Value",
											"value": "INSERT INTO inventory (sku,qty) VALUES ('${sku}',${qty});"
										},
										{
											"key": "Character Set",
											"value": "UTF-8"
										},
										{
											"key": "Maximum Buffer Size",
											"value": "1 MB"
										},
										{
											"key": "Replacement Strategy",
											"value": "Always Replace"
										},
										{
											"key": "Evaluation Mode",
											"value": "Entire text"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ReplaceText",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.ReplaceText"
						},
						{
							"id": "e5295f74-4ec0-3b0c-0000-000000000000",
							"parentGroupId": "c1201c3b-fc68-3d27-0000-000000000000",
							"position": {
								"x": "1964.2165167873186",
								"y": "61.498899497483876"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Character Set",
											"value": {
												"name": "Character Set"
											}
										},
										{
											"key": "Maximum Buffer Size",
											"value": {
												"name": "Maximum Buffer Size"
											}
										},
										{
											"key": "Maximum Capture Group Length",
											"value": {
												"name": "Maximum Capture Group Length"
											}
										},
										{
											"key": "Enable Canonical Equivalence",
											"value": {
												"name": "Enable Canonical Equivalence"
											}
										},
										{
											"key": "Enable Case-insensitive Matching",
											"value": {
												"name": "Enable Case-insensitive Matching"
											}
										},
										{
											"key": "Permit Whitespace and Comments in Pattern",
											"value": {
												"name": "Permit Whitespace and Comments in Pattern"
											}
										},
										{
											"key": "Enable DOTALL Mode",
											"value": {
												"name": "Enable DOTALL Mode"
											}
										},
										{
											"key": "Enable Literal Parsing of the Pattern",
											"value": {
												"name": "Enable Literal Parsing of the Pattern"
											}
										},
										{
											"key": "Enable Multiline Mode",
											"value": {
												"name": "Enable Multiline Mode"
											}
										},
										{
											"key": "Enable Unicode-aware Case Folding",
											"value": {
												"name": "Enable Unicode-aware Case Folding"
											}
										},
										{
											"key": "Enable Unicode Predefined Character Classes",
											"value": {
												"name": "Enable Unicode Predefined Character Classes"
											}
										},
										{
											"key": "Enable Unix Lines Mode",
											"value": {
												"name": "Enable Unix Lines Mode"
											}
										},
										{
											"key": "Include Capture Group 0",
											"value": {
												"name": "Include Capture Group 0"
											}
										},
										{
											"key": "extract-text-enable-repeating-capture-group",
											"value": {
												"name": "extract-text-enable-repeating-capture-group"
											}
										},
										{
											"key": "qty",
											"value": {
												"name": "qty"
											}
										},
										{
											"key": "sku",
											"value": {
												"name": "sku"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Character Set",
											"value": "UTF-8"
										},
										{
											"key": "Maximum Buffer Size",
											"value": "1 MB"
										},
										{
											"key": "Maximum Capture Group Length",
											"value": "1024"
										},
										{
											"key": "Enable Canonical Equivalence",
											"value": "false"
										},
										{
											"key": "Enable Case-insensitive Matching",
											"value": "false"
										},
										{
											"key": "Permit Whitespace and Comments in Pattern",
											"value": "false"
										},
										{
											"key": "Enable DOTALL Mode",
											"value": "false"
										},
										{
											"key": "Enable Literal Parsing of the Pattern",
											"value": "false"
										},
										{
											"key": "Enable Multiline Mode",
											"value": "false"
										},
										{
											"key": "Enable Unicode-aware Case Folding",
											"value": "false"
										},
										{
											"key": "Enable Unicode Predefined Character Classes",
											"value": "false"
										},
										{
											"key": "Enable Unix Lines Mode",
											"value": "false"
										},
										{
											"key": "Include Capture Group 0",
											"value": "true"
										},
										{
											"key": "extract-text-enable-repeating-capture-group",
											"value": "false"
										},
										{
											"key": "qty",
											"value": ".*?,(\\d+)$"
										},
										{
											"key": "sku",
											"value": "(.*?),.*?"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ExtractText",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "matched"
								},
								{
									"autoTerminate": "true",
									"name": "unmatched"
								}
							],
							"state": "STOPPED",
							"style": {
								"entry": {
									"key": "background-color",
									"value": "#ffffff"
								}
							},
							"type": "org.apache.nifi.processors.standard.ExtractText"
						}
					]
				},
				"name": "Excel to SQL Demo",
				"variables": ""
			}
		},
		"timestamp": "03/27/2020 12:51:03 UTC",
		"_encoding-version": "1.2"
	}
}
