containers/nifi/nifi-deployment-automation/ansible/templates/registry/InvokeHttp_Demo.json
{
	"template": {
		"description": "Demo post using credentials and mime.type.",
		"groupId": "7c84501d-d10c-407c-b9f3-1d80e38fe36a",
		"name": "InvokeHttp Demo",
		"snippet": {
			"processGroups": {
				"id": "ea5dd65d-7240-388c-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "739e1ea0-cc96-3f43-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-1024.938463731909",
								"y": "2127.710968619282"
							},
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "7d68e590-0115-3e30-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "Original",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "6b1fa121-a8dc-3b11-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "75778142-8c10-338a-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "6b1fa121-a8dc-3b11-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "aed16afb-d279-3bee-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "78d61e45-79e0-30b9-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-338.938463731909",
								"y": "2130.710968619282"
							},
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "7d68e590-0115-3e30-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "Response",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "6b1fa121-a8dc-3b11-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "a75c46b1-0a85-32de-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "aed16afb-d279-3bee-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "7bf335a3-ae6f-3073-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "c66dc9b8-1f4b-36c6-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-794.938463731909",
								"y": "2128.710968619282"
							},
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "7d68e590-0115-3e30-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "No Retry",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "6b1fa121-a8dc-3b11-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "ccb78a16-2551-3b08-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-1255.938463731909",
								"y": "2127.710968619282"
							},
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "7d68e590-0115-3e30-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "Retry",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "6b1fa121-a8dc-3b11-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "f2562914-5c20-31bb-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "7d68e590-0115-3e30-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "Failure",
							"source": {
								"groupId": "ea5dd65d-7240-388c-0000-000000000000",
								"id": "6b1fa121-a8dc-3b11-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"labels": [
						{
							"id": "988fd031-530b-3a4a-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"position": {
								"x": "-863.4384145149747",
								"y": "2255.7110537312024"
							},
							"height": "103.0",
							"label": "Notice use of Output Port for all relationships\nfrom InvokeHTTP. All are routed during initial testing\nbefore auto termination",
							"style": {
								"entry": {
									"key": "font-size",
									"value": "24px"
								}
							},
							"width": "595.0"
						},
						{
							"id": "c0d3f096-03fb-36e2-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"position": {
								"x": "-751.4384145149747",
								"y": "1834.7110537312024"
							},
							"height": "85.0",
							"label": "Post Call Here\nusing ${j_username} and ${j_password} attributes",
							"style": {
								"entry": {
									"key": "font-size",
									"value": "24px"
								}
							},
							"width": "578.0"
						},
						{
							"id": "fe8c14fb-2285-3133-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"position": {
								"x": "-1417.4384145149747",
								"y": "1827.7110537312024"
							},
							"height": "92.0",
							"label": "Username & Password defined here\nThese could be Variables or Parameters\n\nAlso define ${mime.type} here",
							"style": {
								"entry": {
									"key": "font-size",
									"value": "24px"
								}
							},
							"width": "509.0"
						}
					],
					"outputPorts": {
						"id": "7d68e590-0115-3e30-0000-000000000000",
						"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
						"position": {
							"x": "-687.4384145149747",
							"y": "2178.7110537312024"
						},
						"concurrentlySchedulableTaskCount": "1",
						"name": "Response",
						"state": "STOPPED",
						"type": "OUTPUT_PORT",
						"validationErrors": "'Port 'Response'' is invalid because Output connection for port 'Response' is not defined."
					},
					"processors": [
						{
							"id": "6b1fa121-a8dc-3b11-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"position": {
								"x": "-735.4385129488433",
								"y": "1946.7108835073618"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "HTTP Method",
											"value": {
												"name": "HTTP Method"
											}
										},
										{
											"key": "Remote URL",
											"value": {
												"name": "Remote URL"
											}
										},
										{
											"key": "SSL Context Service",
											"value": {
												"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
												"name": "SSL Context Service"
											}
										},
										{
											"key": "Connection Timeout",
											"value": {
												"name": "Connection Timeout"
											}
										},
										{
											"key": "Read Timeout",
											"value": {
												"name": "Read Timeout"
											}
										},
										{
											"key": "Include Date Header",
											"value": {
												"name": "Include Date Header"
											}
										},
										{
											"key": "Follow Redirects",
											"value": {
												"name": "Follow Redirects"
											}
										},
										{
											"key": "Attributes to Send",
											"value": {
												"name": "Attributes to Send"
											}
										},
										{
											"key": "Basic Authentication Username",
											"value": {
												"name": "Basic Authentication Username"
											}
										},
										{
											"key": "Basic Authentication Password",
											"value": {
												"name": "Basic Authentication Password"
											}
										},
										{
											"key": "proxy-configuration-service",
											"value": {
												"identifiesControllerService": "org.apache.nifi.proxy.ProxyConfigurationService",
												"name": "proxy-configuration-service"
											}
										},
										{
											"key": "Proxy Host",
											"value": {
												"name": "Proxy Host"
											}
										},
										{
											"key": "Proxy Port",
											"value": {
												"name": "Proxy Port"
											}
										},
										{
											"key": "Proxy Type",
											"value": {
												"name": "Proxy Type"
											}
										},
										{
											"key": "invokehttp-proxy-user",
											"value": {
												"name": "invokehttp-proxy-user"
											}
										},
										{
											"key": "invokehttp-proxy-password",
											"value": {
												"name": "invokehttp-proxy-password"
											}
										},
										{
											"key": "Put Response Body In Attribute",
											"value": {
												"name": "Put Response Body In Attribute"
											}
										},
										{
											"key": "Max Length To Put In Attribute",
											"value": {
												"name": "Max Length To Put In Attribute"
											}
										},
										{
											"key": "Digest Authentication",
											"value": {
												"name": "Digest Authentication"
											}
										},
										{
											"key": "Always Output Response",
											"value": {
												"name": "Always Output Response"
											}
										},
										{
											"key": "Trusted Hostname",
											"value": {
												"name": "Trusted Hostname"
											}
										},
										{
											"key": "Add Response Headers to Request",
											"value": {
												"name": "Add Response Headers to Request"
											}
										},
										{
											"key": "Content-Type",
											"value": {
												"name": "Content-Type"
											}
										},
										{
											"key": "send-message-body",
											"value": {
												"name": "send-message-body"
											}
										},
										{
											"key": "Use Chunked Encoding",
											"value": {
												"name": "Use Chunked Encoding"
											}
										},
										{
											"key": "Penalize on \"No Retry\"",
											"value": {
												"name": "Penalize on \"No Retry\""
											}
										},
										{
											"key": "use-etag",
											"value": {
												"name": "use-etag"
											}
										},
										{
											"key": "etag-max-cache-size",
											"value": {
												"name": "etag-max-cache-size"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "HTTP Method",
											"value": "POST"
										},
										{
											"key": "Remote URL",
											"value": "/j_security_check?j_username=${j_username}&j_password=${j_password}"
										},
										{
											"key": "SSL Context Service"
										},
										{
											"key": "Connection Timeout",
											"value": "5 secs"
										},
										{
											"key": "Read Timeout",
											"value": "15 secs"
										},
										{
											"key": "Include Date Header",
											"value": "True"
										},
										{
											"key": "Follow Redirects",
											"value": "True"
										},
										{
											"key": "Attributes to Send"
										},
										{
											"key": "Basic Authentication Username"
										},
										{
											"key": "Basic Authentication Password"
										},
										{
											"key": "proxy-configuration-service"
										},
										{
											"key": "Proxy Host"
										},
										{
											"key": "Proxy Port"
										},
										{
											"key": "Proxy Type",
											"value": "http"
										},
										{
											"key": "invokehttp-proxy-user"
										},
										{
											"key": "invokehttp-proxy-password"
										},
										{
											"key": "Put Response Body In Attribute"
										},
										{
											"key": "Max Length To Put In Attribute",
											"value": "256"
										},
										{
											"key": "Digest Authentication",
											"value": "false"
										},
										{
											"key": "Always Output Response",
											"value": "false"
										},
										{
											"key": "Trusted Hostname"
										},
										{
											"key": "Add Response Headers to Request",
											"value": "false"
										},
										{
											"key": "Content-Type",
											"value": "${mime.type}"
										},
										{
											"key": "send-message-body",
											"value": "true"
										},
										{
											"key": "Use Chunked Encoding",
											"value": "false"
										},
										{
											"key": "Penalize on \"No Retry\"",
											"value": "false"
										},
										{
											"key": "use-etag",
											"value": "false"
										},
										{
											"key": "etag-max-cache-size",
											"value": "10MB"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "InvokeHTTP",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "Failure"
								},
								{
									"autoTerminate": "false",
									"name": "No Retry"
								},
								{
									"autoTerminate": "false",
									"name": "Original"
								},
								{
									"autoTerminate": "false",
									"name": "Response"
								},
								{
									"autoTerminate": "false",
									"name": "Retry"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.InvokeHTTP"
						},
						{
							"id": "7bf335a3-ae6f-3073-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"position": {
								"x": "-1898.4384145149747",
								"y": "1945.7110537312024"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "File Size",
											"value": {
												"name": "File Size"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Data Format",
											"value": {
												"name": "Data Format"
											}
										},
										{
											"key": "Unique FlowFiles",
											"value": {
												"name": "Unique FlowFiles"
											}
										},
										{
											"key": "generate-ff-custom-text",
											"value": {
												"name": "generate-ff-custom-text"
											}
										},
										{
											"key": "character-set",
											"value": {
												"name": "character-set"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "File Size",
											"value": "0B"
										},
										{
											"key": "Batch Size",
											"value": "1"
										},
										{
											"key": "Data Format",
											"value": "Text"
										},
										{
											"key": "Unique FlowFiles",
											"value": "false"
										},
										{
											"key": "generate-ff-custom-text"
										},
										{
											"key": "character-set",
											"value": "UTF-8"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "GenerateFlowFile",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
						},
						{
							"id": "aed16afb-d279-3bee-0000-000000000000",
							"parentGroupId": "ea5dd65d-7240-388c-0000-000000000000",
							"position": {
								"x": "-1321.4384145149747",
								"y": "1947.7111758015149"
							},
							"bundle": {
								"artifact": "nifi-update-attribute-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Delete Attributes Expression",
											"value": {
												"name": "Delete Attributes Expression"
											}
										},
										{
											"key": "Store State",
											"value": {
												"name": "Store State"
											}
										},
										{
											"key": "Stateful Variables Initial Value",
											"value": {
												"name": "Stateful Variables Initial Value"
											}
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": {
												"name": "canonical-value-lookup-cache-size"
											}
										},
										{
											"key": "j_password",
											"value": {
												"name": "j_password"
											}
										},
										{
											"key": "j_username",
											"value": {
												"name": "j_username"
											}
										},
										{
											"key": "mime.type",
											"value": {
												"name": "mime.type"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Delete Attributes Expression"
										},
										{
											"key": "Store State",
											"value": "Do not store state"
										},
										{
											"key": "Stateful Variables Initial Value"
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": "100"
										},
										{
											"key": "j_password",
											"value": "password"
										},
										{
											"key": "j_username",
											"value": "username"
										},
										{
											"key": "mime.type",
											"value": "application/x-www-form-urlencoded"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "UpdateAttribute",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
						}
					]
				},
				"name": "InvokeHttp Demo",
				"variables": ""
			}
		},
		"timestamp": "04/28/2020 12:06:48 UTC",
		"_encoding-version": "1.2"
	}
}
