containers/nifi/nifi-deployment-automation/ansible/templates/registry/ListFile_FetchFile_PutFile_Demo.json
{
	"template": {
		"description": "",
		"groupId": "7c84501d-d10c-407c-b9f3-1d80e38fe36a",
		"name": "ListFile FetchFile PutFile Demo",
		"snippet": {
			"processGroups": {
				"id": "4d44704a-e8a4-37f1-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "4079baa9-c27d-391b-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-67.338623046875",
								"y": "355.0005187988281"
							},
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "3050efd5-5fe9-3187-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "0",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "0683263e-916c-3694-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "4b93c40f-4048-3505-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "0683263e-916c-3694-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "0",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "b503b1e8-f0a6-305b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "74b652ea-9038-344e-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "b503b1e8-f0a6-305b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "342ad551-2458-36f1-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "7b2694d6-beb9-34d2-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "3050efd5-5fe9-3187-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "failure",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "b503b1e8-f0a6-305b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "7b597ed1-200b-3831-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-758.338615551892",
								"y": "355.4860225828406"
							},
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "3050efd5-5fe9-3187-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "not.found",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "b503b1e8-f0a6-305b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "7cb151f9-a5ab-3bbc-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "157.661376953125",
								"y": "355.0005187988281"
							},
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "3050efd5-5fe9-3187-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "0",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "failure",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "0683263e-916c-3694-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "87001770-50ca-30e0-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"bends": {
								"x": "-304.33861555189196",
								"y": "355.4860225828406"
							},
							"destination": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "3050efd5-5fe9-3187-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "permission.denied",
							"source": {
								"groupId": "4d44704a-e8a4-37f1-0000-000000000000",
								"id": "b503b1e8-f0a6-305b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"outputPorts": {
						"id": "3050efd5-5fe9-3187-0000-000000000000",
						"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
						"position": {
							"x": "-659.3385851043945",
							"y": "400.0005268165139"
						},
						"concurrentlySchedulableTaskCount": "1",
						"name": "output",
						"state": "STOPPED",
						"type": "OUTPUT_PORT",
						"validationErrors": "'Port 'output'' is invalid because Output connection for port 'output' is not defined."
					},
					"processors": [
						{
							"id": "0683263e-916c-3694-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"position": {
								"x": "-107.3385851043945",
								"y": "163.0005268165139"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Directory",
											"value": {
												"name": "Directory"
											}
										},
										{
											"key": "Conflict Resolution Strategy",
											"value": {
												"name": "Conflict Resolution Strategy"
											}
										},
										{
											"key": "Create Missing Directories",
											"value": {
												"name": "Create Missing Directories"
											}
										},
										{
											"key": "Maximum File Count",
											"value": {
												"name": "Maximum File Count"
											}
										},
										{
											"key": "Last Modified Time",
											"value": {
												"name": "Last Modified Time"
											}
										},
										{
											"key": "Permissions",
											"value": {
												"name": "Permissions"
											}
										},
										{
											"key": "Owner",
											"value": {
												"name": "Owner"
											}
										},
										{
											"key": "Group",
											"value": {
												"name": "Group"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Directory",
											"value": "/output/${path}"
										},
										{
											"key": "Conflict Resolution Strategy",
											"value": "fail"
										},
										{
											"key": "Create Missing Directories",
											"value": "true"
										},
										{
											"key": "Maximum File Count"
										},
										{
											"key": "Last Modified Time"
										},
										{
											"key": "Permissions"
										},
										{
											"key": "Owner"
										},
										{
											"key": "Group"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "PutFile",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.PutFile"
						},
						{
							"id": "342ad551-2458-36f1-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"position": {
								"x": "-697.8127571288423",
								"y": "-17.36676347978107"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Input Directory",
											"value": {
												"name": "Input Directory"
											}
										},
										{
											"key": "listing-strategy",
											"value": {
												"name": "listing-strategy"
											}
										},
										{
											"key": "Recurse Subdirectories",
											"value": {
												"name": "Recurse Subdirectories"
											}
										},
										{
											"key": "Input Directory Location",
											"value": {
												"name": "Input Directory Location"
											}
										},
										{
											"key": "File Filter",
											"value": {
												"name": "File Filter"
											}
										},
										{
											"key": "Path Filter",
											"value": {
												"name": "Path Filter"
											}
										},
										{
											"key": "Include File Attributes",
											"value": {
												"name": "Include File Attributes"
											}
										},
										{
											"key": "Minimum File Age",
											"value": {
												"name": "Minimum File Age"
											}
										},
										{
											"key": "Maximum File Age",
											"value": {
												"name": "Maximum File Age"
											}
										},
										{
											"key": "Minimum File Size",
											"value": {
												"name": "Minimum File Size"
											}
										},
										{
											"key": "Maximum File Size",
											"value": {
												"name": "Maximum File Size"
											}
										},
										{
											"key": "Ignore Hidden Files",
											"value": {
												"name": "Ignore Hidden Files"
											}
										},
										{
											"key": "target-system-timestamp-precision",
											"value": {
												"name": "target-system-timestamp-precision"
											}
										},
										{
											"key": "et-state-cache",
											"value": {
												"identifiesControllerService": "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient",
												"name": "et-state-cache"
											}
										},
										{
											"key": "et-time-window",
											"value": {
												"name": "et-time-window"
											}
										},
										{
											"key": "et-initial-listing-target",
											"value": {
												"name": "et-initial-listing-target"
											}
										},
										{
											"key": "et-node-identifier",
											"value": {
												"name": "et-node-identifier"
											}
										},
										{
											"key": "track-performance",
											"value": {
												"name": "track-performance"
											}
										},
										{
											"key": "max-performance-metrics",
											"value": {
												"name": "max-performance-metrics"
											}
										},
										{
											"key": "max-operation-time",
											"value": {
												"name": "max-operation-time"
											}
										},
										{
											"key": "max-listing-time",
											"value": {
												"name": "max-listing-time"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Input Directory",
											"value": "/source"
										},
										{
											"key": "listing-strategy",
											"value": "timestamps"
										},
										{
											"key": "Recurse Subdirectories",
											"value": "true"
										},
										{
											"key": "Input Directory Location",
											"value": "Local"
										},
										{
											"key": "File Filter",
											"value": "[^\\.].*"
										},
										{
											"key": "Path Filter"
										},
										{
											"key": "Include File Attributes",
											"value": "true"
										},
										{
											"key": "Minimum File Age",
											"value": "0 sec"
										},
										{
											"key": "Maximum File Age"
										},
										{
											"key": "Minimum File Size",
											"value": "0 B"
										},
										{
											"key": "Maximum File Size"
										},
										{
											"key": "Ignore Hidden Files",
											"value": "true"
										},
										{
											"key": "target-system-timestamp-precision",
											"value": "auto-detect"
										},
										{
											"key": "et-state-cache"
										},
										{
											"key": "et-time-window",
											"value": "3 hours"
										},
										{
											"key": "et-initial-listing-target",
											"value": "all"
										},
										{
											"key": "et-node-identifier",
											"value": "${hostname()}"
										},
										{
											"key": "track-performance",
											"value": "false"
										},
										{
											"key": "max-performance-metrics",
											"value": "100000"
										},
										{
											"key": "max-operation-time",
											"value": "10 secs"
										},
										{
											"key": "max-listing-time",
											"value": "3 mins"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "10 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ListFile",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.ListFile"
						},
						{
							"id": "b503b1e8-f0a6-305b-0000-000000000000",
							"parentGroupId": "4d44704a-e8a4-37f1-0000-000000000000",
							"position": {
								"x": "-694.3386459993894",
								"y": "180.97151834916724"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "File to Fetch",
											"value": {
												"name": "File to Fetch"
											}
										},
										{
											"key": "Completion Strategy",
											"value": {
												"name": "Completion Strategy"
											}
										},
										{
											"key": "Move Destination Directory",
											"value": {
												"name": "Move Destination Directory"
											}
										},
										{
											"key": "Move Conflict Strategy",
											"value": {
												"name": "Move Conflict Strategy"
											}
										},
										{
											"key": "Log level when file not found",
											"value": {
												"name": "Log level when file not found"
											}
										},
										{
											"key": "Log level when permission denied",
											"value": {
												"name": "Log level when permission denied"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "File to Fetch",
											"value": "${absolute.path}/${filename}"
										},
										{
											"key": "Completion Strategy",
											"value": "Move File"
										},
										{
											"key": "Move Destination Directory",
											"value": "${absolute.path:substringAfterLast('/')}"
										},
										{
											"key": "Move Conflict Strategy",
											"value": "Rename"
										},
										{
											"key": "Log level when file not found",
											"value": "ERROR"
										},
										{
											"key": "Log level when permission denied",
											"value": "ERROR"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "FetchFile",
							"relationships": [
								{
									"autoTerminate": "false",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "not.found"
								},
								{
									"autoTerminate": "false",
									"name": "permission.denied"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.FetchFile"
						}
					]
				},
				"name": "ListFile FetchFile PutFile Demo",
				"variables": ""
			}
		},
		"timestamp": "06/04/2020 12:06:17 UTC",
		"_encoding-version": "1.2"
	}
}
