containers/nifi/nifi-deployment-automation/ansible/templates/registry/MiNiFi_Tail_Logs_to_NiFi_to_HDFS_Demo.json
{
	"template": {
		"description": "Learn how to use MiNiFi to tail log files, deliver to NiFi, and save to HDFS.",
		"groupId": "0fb00b4c-0172-1000-ffff-ffff83833fc3",
		"name": "MiNiFi Tail Logs to NiFi to HDFS Demo",
		"snippet": {
			"connections": [
				{
					"id": "15c8ec6b-1191-3a31-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "10000",
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d70e7932-1ced-37fe-0000-000000000000",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "a0e7e149-4c58-33db-0000-000000000000",
						"type": "INPUT_PORT"
					},
					"zIndex": "0"
				},
				{
					"id": "32e9e952-c6bb-3aa7-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "10000",
					"bends": [
						{
							"x": "455.0",
							"y": "652.50907310039"
						},
						{
							"x": "455.0",
							"y": "702.50907310039"
						}
					],
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d84342e1-d4fb-3d13-0000-000000000000",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d84342e1-d4fb-3d13-0000-000000000000",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "470b3ef9-e09b-3fc0-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "10000",
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d84342e1-d4fb-3d13-0000-000000000000",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"selectedRelationships": "ks3503-d050",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d70e7932-1ced-37fe-0000-000000000000",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "81620ca8-d9f5-3c72-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "10000",
					"bends": [
						{
							"x": "1037.0",
							"y": "643.50907310039"
						},
						{
							"x": "1037.0",
							"y": "693.50907310039"
						}
					],
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "0a924185-5299-34f8-0000-000000000000",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"selectedRelationships": "failure",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "0a924185-5299-34f8-0000-000000000000",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "90649173-1a6c-355f-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "10000",
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "555ecb96-450e-3156-0000-000000000000",
						"type": "OUTPUT_PORT"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "0a924185-5299-34f8-0000-000000000000",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "b3feeff6-94ed-33ec-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "10000",
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "0a924185-5299-34f8-0000-000000000000",
						"type": "PROCESSOR"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"selectedRelationships": "unmatched",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d70e7932-1ced-37fe-0000-000000000000",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				},
				{
					"id": "f8fb1205-7398-3827-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"backPressureDataSizeThreshold": "1 GB",
					"backPressureObjectThreshold": "100000",
					"destination": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "555ecb96-450e-3156-0000-000000000000",
						"type": "OUTPUT_PORT"
					},
					"flowFileExpiration": "0 sec",
					"labelIndex": "1",
					"loadBalanceCompression": "DO_NOT_COMPRESS",
					"loadBalancePartitionAttribute": "",
					"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
					"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
					"name": "",
					"selectedRelationships": "success",
					"source": {
						"groupId": "87247a6a-d5e9-3d84-0000-000000000000",
						"id": "d84342e1-d4fb-3d13-0000-000000000000",
						"type": "PROCESSOR"
					},
					"zIndex": "0"
				}
			],
			"inputPorts": {
				"id": "a0e7e149-4c58-33db-0000-000000000000",
				"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
				"position": {
					"x": "349.8220329284668",
					"y": "107.25029929667903"
				},
				"comments": "",
				"concurrentlySchedulableTaskCount": "1",
				"name": "MiNiFy Input",
				"state": "STOPPED",
				"type": "INPUT_PORT"
			},
			"labels": [
				{
					"id": "13afd696-88f7-306b-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "231.83236690781166",
						"y": "0.0"
					},
					"height": "52.82882308959961",
					"label": "This input port must be on main root canvas.",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "24px"
						}
					},
					"width": "501.2447814941406"
				},
				{
					"id": "7e99368f-2c29-3896-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "1194.2710638835194",
						"y": "95.03995849609373"
					},
					"height": "150.0",
					"label": "This flow is used to create the\n MiNiFi Template",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "24px"
						}
					},
					"width": "378.09596252441406"
				},
				{
					"id": "90e8cd10-3d41-3192-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "92.44038139603185",
						"y": "296.5826196289063"
					},
					"height": "105.36000442504883",
					"label": "This is used to \norganize per \nhostname.",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "24px"
						}
					},
					"width": "177.3599853515625"
				},
				{
					"id": "dcf96e6c-892f-3958-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "1218.5413875218285",
						"y": "520.1601887532611"
					},
					"height": "316.1728210449219",
					"label": "Instructions:\n\n1. Make sure MiNiFi installed on data source and able to communicate with this NiFi node\n2. Edit Demo Variables\n  - hadoopConfigurationResources\n3.  Start NiFi Input Port\n4. Edit Remote Process Group in MiNiFi Flow\n5. Create MiNiFi Flow Template in Nifi\n6. Import Template to MiNiFi\n7. Start MiNifi\n8. Monitor Flow and HDFS Endpoint",
					"style": {
						"entry": {
							"key": "font-size",
							"value": "24px"
						}
					},
					"width": "982.6239013671875"
				}
			],
			"outputPorts": {
				"id": "555ecb96-450e-3156-0000-000000000000",
				"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
				"position": {
					"x": "314.0",
					"y": "911.50907310039"
				},
				"comments": "",
				"concurrentlySchedulableTaskCount": "1",
				"name": "Output",
				"state": "STOPPED",
				"type": "OUTPUT_PORT",
				"validationErrors": "'Port 'Output'' is invalid because Output connection for port 'Output' is not defined."
			},
			"processGroups": {
				"id": "9fc50900-37a7-3478-0000-000000000000",
				"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
				"position": {
					"x": "1195.8081811523434",
					"y": "258.0104720261713"
				},
				"comments": "/var/log/messages\n/var/log/secure\n/var/log/yum.log",
				"contents": {
					"connections": [
						{
							"id": "53cb2c36-0fe3-39e0-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "429a6a3e-d57c-3af6-0000-000000000000",
								"id": "bd433f36-c930-1672-958f-d1b89b80a68b",
								"type": "REMOTE_INPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "897f8a9d-dec0-3e9e-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "d13d2e89-4c1b-3618-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "897f8a9d-dec0-3e9e-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "53efaebb-dcea-34c9-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "d874252c-f362-3b21-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "897f8a9d-dec0-3e9e-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "38afef28-9890-3305-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "e9fff9af-4fc2-3a42-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "897f8a9d-dec0-3e9e-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "9fc50900-37a7-3478-0000-000000000000",
								"id": "567bd4d1-86f5-3ea9-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"labels": {
						"id": "321da385-2246-3531-0000-000000000000",
						"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
						"position": {
							"x": "457.3050943928945",
							"y": "487.7666697052356"
						},
						"height": "127.41851806640625",
						"label": "Set this to the NiFi url running the input port.  \nThis should be the same NiFi instance that holds \nthis current process group.",
						"style": {
							"entry": {
								"key": "font-size",
								"value": "24px"
							}
						},
						"width": "546.30517578125"
					},
					"processors": [
						{
							"id": "38afef28-9890-3305-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"position": {
								"x": "1022.9999694824219",
								"y": "76.0"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "tail-mode",
											"value": {
												"name": "tail-mode"
											}
										},
										{
											"key": "File to Tail",
											"value": {
												"name": "File to Tail"
											}
										},
										{
											"key": "Rolling Filename Pattern",
											"value": {
												"name": "Rolling Filename Pattern"
											}
										},
										{
											"key": "tail-base-directory",
											"value": {
												"name": "tail-base-directory"
											}
										},
										{
											"key": "Initial Start Position",
											"value": {
												"name": "Initial Start Position"
											}
										},
										{
											"key": "File Location",
											"value": {
												"name": "File Location"
											}
										},
										{
											"key": "tailfile-recursive-lookup",
											"value": {
												"name": "tailfile-recursive-lookup"
											}
										},
										{
											"key": "tailfile-lookup-frequency",
											"value": {
												"name": "tailfile-lookup-frequency"
											}
										},
										{
											"key": "tailfile-maximum-age",
											"value": {
												"name": "tailfile-maximum-age"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "tail-mode",
											"value": "Single file"
										},
										{
											"key": "File to Tail",
											"value": "/var/log/secure"
										},
										{
											"key": "Rolling Filename Pattern",
											"value": "secure-*"
										},
										{
											"key": "tail-base-directory"
										},
										{
											"key": "Initial Start Position",
											"value": "Beginning of File"
										},
										{
											"key": "File Location",
											"value": "Local"
										},
										{
											"key": "tailfile-recursive-lookup",
											"value": "false"
										},
										{
											"key": "tailfile-lookup-frequency",
											"value": "10 minutes"
										},
										{
											"key": "tailfile-maximum-age",
											"value": "24 hours"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "5 min",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "tailSecureLog",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.TailFile"
						},
						{
							"id": "53efaebb-dcea-34c9-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"position": {
								"x": "622.9999694824219",
								"y": "77.0"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "tail-mode",
											"value": {
												"name": "tail-mode"
											}
										},
										{
											"key": "File to Tail",
											"value": {
												"name": "File to Tail"
											}
										},
										{
											"key": "Rolling Filename Pattern",
											"value": {
												"name": "Rolling Filename Pattern"
											}
										},
										{
											"key": "tail-base-directory",
											"value": {
												"name": "tail-base-directory"
											}
										},
										{
											"key": "Initial Start Position",
											"value": {
												"name": "Initial Start Position"
											}
										},
										{
											"key": "File Location",
											"value": {
												"name": "File Location"
											}
										},
										{
											"key": "tailfile-recursive-lookup",
											"value": {
												"name": "tailfile-recursive-lookup"
											}
										},
										{
											"key": "tailfile-lookup-frequency",
											"value": {
												"name": "tailfile-lookup-frequency"
											}
										},
										{
											"key": "tailfile-maximum-age",
											"value": {
												"name": "tailfile-maximum-age"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "tail-mode",
											"value": "Single file"
										},
										{
											"key": "File to Tail",
											"value": "/var/log/messages"
										},
										{
											"key": "Rolling Filename Pattern",
											"value": "mesages-*"
										},
										{
											"key": "tail-base-directory"
										},
										{
											"key": "Initial Start Position",
											"value": "Beginning of File"
										},
										{
											"key": "File Location",
											"value": "Local"
										},
										{
											"key": "tailfile-recursive-lookup",
											"value": "false"
										},
										{
											"key": "tailfile-lookup-frequency",
											"value": "10 minutes"
										},
										{
											"key": "tailfile-maximum-age",
											"value": "24 hours"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "5 min",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "tailMessagesLog",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.TailFile"
						},
						{
							"id": "567bd4d1-86f5-3ea9-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"position": {
								"x": "1442.9999694824219",
								"y": "75.0"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "tail-mode",
											"value": {
												"name": "tail-mode"
											}
										},
										{
											"key": "File to Tail",
											"value": {
												"name": "File to Tail"
											}
										},
										{
											"key": "Rolling Filename Pattern",
											"value": {
												"name": "Rolling Filename Pattern"
											}
										},
										{
											"key": "tail-base-directory",
											"value": {
												"name": "tail-base-directory"
											}
										},
										{
											"key": "Initial Start Position",
											"value": {
												"name": "Initial Start Position"
											}
										},
										{
											"key": "File Location",
											"value": {
												"name": "File Location"
											}
										},
										{
											"key": "tailfile-recursive-lookup",
											"value": {
												"name": "tailfile-recursive-lookup"
											}
										},
										{
											"key": "tailfile-lookup-frequency",
											"value": {
												"name": "tailfile-lookup-frequency"
											}
										},
										{
											"key": "tailfile-maximum-age",
											"value": {
												"name": "tailfile-maximum-age"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "tail-mode",
											"value": "Single file"
										},
										{
											"key": "File to Tail",
											"value": "/var/log/yum.log"
										},
										{
											"key": "Rolling Filename Pattern"
										},
										{
											"key": "tail-base-directory"
										},
										{
											"key": "Initial Start Position",
											"value": "Beginning of File"
										},
										{
											"key": "File Location",
											"value": "Local"
										},
										{
											"key": "tailfile-recursive-lookup",
											"value": "false"
										},
										{
											"key": "tailfile-lookup-frequency",
											"value": "10 minutes"
										},
										{
											"key": "tailfile-maximum-age",
											"value": "24 hours"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "5 min",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "tailYumLog",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.TailFile"
						},
						{
							"id": "897f8a9d-dec0-3e9e-0000-000000000000",
							"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
							"position": {
								"x": "1029.9999987392334",
								"y": "265.99999956435"
							},
							"bundle": {
								"artifact": "nifi-update-attribute-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Delete Attributes Expression",
											"value": {
												"name": "Delete Attributes Expression"
											}
										},
										{
											"key": "Store State",
											"value": {
												"name": "Store State"
											}
										},
										{
											"key": "Stateful Variables Initial Value",
											"value": {
												"name": "Stateful Variables Initial Value"
											}
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": {
												"name": "canonical-value-lookup-cache-size"
											}
										},
										{
											"key": "host_name",
											"value": {
												"name": "host_name"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Delete Attributes Expression"
										},
										{
											"key": "Store State",
											"value": "Do not store state"
										},
										{
											"key": "Stateful Variables Initial Value"
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": "100"
										},
										{
											"key": "host_name",
											"value": "${hostname()}"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "setHostName",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
						}
					],
					"remoteProcessGroups": {
						"id": "429a6a3e-d57c-3af6-0000-000000000000",
						"parentGroupId": "9fc50900-37a7-3478-0000-000000000000",
						"position": {
							"x": "1017.0",
							"y": "481.0"
						},
						"comments": "",
						"communicationsTimeout": "30 sec",
						"contents": {
							"inputPorts": {
								"batchSettings": "",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"connected": "true",
								"exists": "true",
								"groupId": "97a633ee-b042-1c0c-819f-e853d79628ac",
								"id": "bd433f36-c930-1672-958f-d1b89b80a68b",
								"name": "MiNiFy Input",
								"targetId": "bf833689-b09a-1c27-a787-cb4918dcbfa3",
								"targetRunning": "true",
								"transmitting": "false",
								"useCompression": "false"
							}
						},
						"proxyHost": "",
						"proxyUser": "",
						"targetUri": "http://ks3503-d051.demo.com:9090/nifi",
						"targetUris": "http://ks3503-d051.demo.com:9090/nifi",
						"transportProtocol": "RAW",
						"yieldDuration": "10 sec"
					}
				},
				"name": "Minifi Flow  - Tail Messages, Secure, Yum",
				"variables": ""
			},
			"processors": [
				{
					"id": "0a924185-5299-34f8-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "582.0",
						"y": "603.50907310039"
					},
					"bundle": {
						"artifact": "nifi-hadoop-nar",
						"group": "org.apache.nifi",
						"version": "1.9.0.3.4.1.1-4"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"descriptors": {
							"entry": [
								{
									"key": "Hadoop Configuration Resources",
									"value": {
										"name": "Hadoop Configuration Resources"
									}
								},
								{
									"key": "kerberos-credentials-service",
									"value": {
										"identifiesControllerService": "org.apache.nifi.kerberos.KerberosCredentialsService",
										"name": "kerberos-credentials-service"
									}
								},
								{
									"key": "Kerberos Principal",
									"value": {
										"name": "Kerberos Principal"
									}
								},
								{
									"key": "Kerberos Keytab",
									"value": {
										"name": "Kerberos Keytab"
									}
								},
								{
									"key": "Kerberos Relogin Period",
									"value": {
										"name": "Kerberos Relogin Period"
									}
								},
								{
									"key": "Additional Classpath Resources",
									"value": {
										"name": "Additional Classpath Resources"
									}
								},
								{
									"key": "Directory",
									"value": {
										"name": "Directory"
									}
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": {
										"name": "Conflict Resolution Strategy"
									}
								},
								{
									"key": "Block Size",
									"value": {
										"name": "Block Size"
									}
								},
								{
									"key": "IO Buffer Size",
									"value": {
										"name": "IO Buffer Size"
									}
								},
								{
									"key": "Replication",
									"value": {
										"name": "Replication"
									}
								},
								{
									"key": "Permissions umask",
									"value": {
										"name": "Permissions umask"
									}
								},
								{
									"key": "Remote Owner",
									"value": {
										"name": "Remote Owner"
									}
								},
								{
									"key": "Remote Group",
									"value": {
										"name": "Remote Group"
									}
								},
								{
									"key": "Compression codec",
									"value": {
										"name": "Compression codec"
									}
								}
							]
						},
						"executionNode": "ALL",
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Hadoop Configuration Resources",
									"value": "${hadoopConfigurationResources}"
								},
								{
									"key": "kerberos-credentials-service"
								},
								{
									"key": "Kerberos Principal"
								},
								{
									"key": "Kerberos Keytab"
								},
								{
									"key": "Kerberos Relogin Period",
									"value": "4 hours"
								},
								{
									"key": "Additional Classpath Resources"
								},
								{
									"key": "Directory",
									"value": "/tmp/logs/${RouteOnAttribute.Route}/"
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": "fail"
								},
								{
									"key": "Block Size"
								},
								{
									"key": "IO Buffer Size"
								},
								{
									"key": "Replication"
								},
								{
									"key": "Permissions umask"
								},
								{
									"key": "Remote Owner"
								},
								{
									"key": "Remote Group"
								},
								{
									"key": "Compression codec",
									"value": "NONE"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"executionNodeRestricted": "false",
					"name": "PutHDFS",
					"relationships": [
						{
							"autoTerminate": "false",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"type": "org.apache.nifi.processors.hadoop.PutHDFS"
				},
				{
					"id": "d70e7932-1ced-37fe-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "292.72314071655273",
						"y": "282.95707114726497"
					},
					"bundle": {
						"artifact": "nifi-standard-nar",
						"group": "org.apache.nifi",
						"version": "1.9.0.3.4.1.1-4"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"descriptors": {
							"entry": [
								{
									"key": "Routing Strategy",
									"value": {
										"name": "Routing Strategy"
									}
								},
								{
									"key": "ks3503-d050",
									"value": {
										"name": "ks3503-d050"
									}
								}
							]
						},
						"executionNode": "ALL",
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Routing Strategy",
									"value": "Route to Property name"
								},
								{
									"key": "ks3503-d050",
									"value": "${host_name:equals('ks3503-d050')}"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"executionNodeRestricted": "false",
					"name": "RouteOnAttribute",
					"relationships": [
						{
							"autoTerminate": "false",
							"name": "ks3503-d050"
						},
						{
							"autoTerminate": "false",
							"name": "unmatched"
						}
					],
					"state": "STOPPED",
					"style": "",
					"type": "org.apache.nifi.processors.standard.RouteOnAttribute"
				},
				{
					"id": "d84342e1-d4fb-3d13-0000-000000000000",
					"parentGroupId": "87247a6a-d5e9-3d84-0000-000000000000",
					"position": {
						"x": "0.0",
						"y": "612.50907310039"
					},
					"bundle": {
						"artifact": "nifi-hadoop-nar",
						"group": "org.apache.nifi",
						"version": "1.9.0.3.4.1.1-4"
					},
					"config": {
						"bulletinLevel": "WARN",
						"comments": "",
						"concurrentlySchedulableTaskCount": "1",
						"descriptors": {
							"entry": [
								{
									"key": "Hadoop Configuration Resources",
									"value": {
										"name": "Hadoop Configuration Resources"
									}
								},
								{
									"key": "kerberos-credentials-service",
									"value": {
										"identifiesControllerService": "org.apache.nifi.kerberos.KerberosCredentialsService",
										"name": "kerberos-credentials-service"
									}
								},
								{
									"key": "Kerberos Principal",
									"value": {
										"name": "Kerberos Principal"
									}
								},
								{
									"key": "Kerberos Keytab",
									"value": {
										"name": "Kerberos Keytab"
									}
								},
								{
									"key": "Kerberos Relogin Period",
									"value": {
										"name": "Kerberos Relogin Period"
									}
								},
								{
									"key": "Additional Classpath Resources",
									"value": {
										"name": "Additional Classpath Resources"
									}
								},
								{
									"key": "Directory",
									"value": {
										"name": "Directory"
									}
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": {
										"name": "Conflict Resolution Strategy"
									}
								},
								{
									"key": "Block Size",
									"value": {
										"name": "Block Size"
									}
								},
								{
									"key": "IO Buffer Size",
									"value": {
										"name": "IO Buffer Size"
									}
								},
								{
									"key": "Replication",
									"value": {
										"name": "Replication"
									}
								},
								{
									"key": "Permissions umask",
									"value": {
										"name": "Permissions umask"
									}
								},
								{
									"key": "Remote Owner",
									"value": {
										"name": "Remote Owner"
									}
								},
								{
									"key": "Remote Group",
									"value": {
										"name": "Remote Group"
									}
								},
								{
									"key": "Compression codec",
									"value": {
										"name": "Compression codec"
									}
								}
							]
						},
						"executionNode": "ALL",
						"lossTolerant": "false",
						"penaltyDuration": "30 sec",
						"properties": {
							"entry": [
								{
									"key": "Hadoop Configuration Resources",
									"value": "${hadoopConfigurationResources}"
								},
								{
									"key": "kerberos-credentials-service"
								},
								{
									"key": "Kerberos Principal"
								},
								{
									"key": "Kerberos Keytab"
								},
								{
									"key": "Kerberos Relogin Period",
									"value": "4 hours"
								},
								{
									"key": "Additional Classpath Resources"
								},
								{
									"key": "Directory",
									"value": "/tmp/logs/${RouteOnAttribute.Route}/"
								},
								{
									"key": "Conflict Resolution Strategy",
									"value": "fail"
								},
								{
									"key": "Block Size"
								},
								{
									"key": "IO Buffer Size"
								},
								{
									"key": "Replication"
								},
								{
									"key": "Permissions umask"
								},
								{
									"key": "Remote Owner"
								},
								{
									"key": "Remote Group"
								},
								{
									"key": "Compression codec",
									"value": "NONE"
								}
							]
						},
						"runDurationMillis": "0",
						"schedulingPeriod": "0 sec",
						"schedulingStrategy": "TIMER_DRIVEN",
						"yieldDuration": "1 sec"
					},
					"executionNodeRestricted": "false",
					"name": "PutHDFS",
					"relationships": [
						{
							"autoTerminate": "false",
							"name": "failure"
						},
						{
							"autoTerminate": "false",
							"name": "success"
						}
					],
					"state": "STOPPED",
					"style": "",
					"type": "org.apache.nifi.processors.hadoop.PutHDFS"
				}
			]
		},
		"timestamp": "05/13/2020 20:43:39 UTC",
		"_encoding-version": "1.2"
	}
}
