containers/nifi/nifi-deployment-automation/ansible/templates/registry/ReplaceText_Expression_Language_CSV_Reformatting.json
{
   "template":{
      "description":"This flow was used to verify nifi ticket 1249 which added the ability for ReplaceText to use expression language functions to access matching group values.",
      "name":"ReplaceText Expression Language CSV Reformatting",
      "snippet":{
         "connections":[
            {
               "id":"86c736a2-6434-4d3a-9ebb-6a4f99b26fe1",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
                  "id":"25b139c3-db89-4272-bfdd-2a862277c7c2",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
                  "id":"b268f335-2a91-44e8-aa1d-891bc6b84a20",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"80eab842-9376-44d9-b1da-123c36c86faa",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
                  "id":"b268f335-2a91-44e8-aa1d-891bc6b84a20",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
                  "id":"67626c71-910a-4342-8051-d24de4fc2fcb",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"53cf55eb-3478-47be-a268-19122286c69c",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
                  "id":"67626c71-910a-4342-8051-d24de4fc2fcb",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
                  "id":"bc3ad300-c93c-430b-a112-106b3a879fec",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            }
         ],
         "processors":[
            {
               "id":"25b139c3-db89-4272-bfdd-2a862277c7c2",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "position":{
                  "x":"834.2638023340444",
                  "y":"452.93475559215136"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":{
                        "key":"Delete Attributes Expression",
                        "value":{
                           "description":"Regular expression for attributes to be deleted from flowfiles.",
                           "displayName":"Delete Attributes Expression",
                           "dynamic":"false",
                           "name":"Delete Attributes Expression",
                           "required":"false",
                           "sensitive":"false",
                           "supportsEl":"true"
                        }
                     }
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":{
                        "key":"Delete Attributes Expression"
                     }
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"No-Op Termination",
               "relationships":{
                  "autoTerminate":"true",
                  "description":"All FlowFiles are routed to this relationship",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.attributes.UpdateAttribute"
            },
            {
               "id":"67626c71-910a-4342-8051-d24de4fc2fcb",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "position":{
                  "x":"227.26380233404433",
                  "y":"684.9347555921513"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Regular Expression",
                           "value":{
                              "defaultValue":"(?s:^.*$)",
                              "description":"The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
                              "displayName":"Search Value",
                              "dynamic":"false",
                              "name":"Regular Expression",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Replacement Value",
                           "value":{
                              "defaultValue":"$1",
                              "description":"The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not \"Standard\" attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).",
                              "displayName":"Replacement Value",
                              "dynamic":"false",
                              "name":"Replacement Value",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the <Replacement Strategy> property is set to one of: Append, Prepend, Always Replace",
                              "displayName":"Maximum Buffer Size",
                              "dynamic":"false",
                              "name":"Maximum Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Replacement Strategy",
                           "value":{
                              "allowableValues":[
                                 {
                                    "description":"Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text.",
                                    "displayName":"Prepend",
                                    "value":"Prepend"
                                 },
                                 {
                                    "description":"Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text.",
                                    "displayName":"Append",
                                    "value":"Append"
                                 },
                                 {
                                    "description":"Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.",
                                    "displayName":"Regex Replace",
                                    "value":"Regex Replace"
                                 },
                                 {
                                    "description":"Search for all instances of the Search Value and replace the matches with the Replacement Value.",
                                    "displayName":"Literal Replace",
                                    "value":"Literal Replace"
                                 },
                                 {
                                    "description":"Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the <Evaluation Mode> property) and does not bother searching for any value. When this strategy is chosen, the <Search Value> property is ignored.",
                                    "displayName":"Always Replace",
                                    "value":"Always Replace"
                                 }
                              ],
                              "defaultValue":"Regex Replace",
                              "description":"The strategy for how and what to replace within the FlowFile's text content.",
                              "displayName":"Replacement Strategy",
                              "dynamic":"false",
                              "name":"Replacement Strategy",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Evaluation Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"Line-by-Line",
                                    "value":"Line-by-Line"
                                 },
                                 {
                                    "displayName":"Entire text",
                                    "value":"Entire text"
                                 }
                              ],
                              "defaultValue":"Entire text",
                              "description":"Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
                              "displayName":"Evaluation Mode",
                              "dynamic":"false",
                              "name":"Evaluation Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Regular Expression"
                        },
                        {
                           "key":"Replacement Value",
                           "value":"2006,10-01-2004,10may2004\n2007,15-05-2006,10jun2005\n2009,8-8-2008,10aug2008"
                        },
                        {
                           "key":"Character Set"
                        },
                        {
                           "key":"Maximum Buffer Size"
                        },
                        {
                           "key":"Replacement Strategy"
                        },
                        {
                           "key":"Evaluation Mode"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"Set CSV Content",
               "relationships":[
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles that could not be updated are routed to this relationship",
                     "name":"failure"
                  },
                  {
                     "autoTerminate":"false",
                     "description":"FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
                     "name":"success"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.ReplaceText"
            },
            {
               "id":"b268f335-2a91-44e8-aa1d-891bc6b84a20",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "position":{
                  "x":"830.2638023340444",
                  "y":"683.9347555921513"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Regular Expression",
                           "value":{
                              "defaultValue":"(?s:^.*$)",
                              "description":"The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
                              "displayName":"Search Value",
                              "dynamic":"false",
                              "name":"Regular Expression",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Replacement Value",
                           "value":{
                              "defaultValue":"$1",
                              "description":"The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not \"Standard\" attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).",
                              "displayName":"Replacement Value",
                              "dynamic":"false",
                              "name":"Replacement Value",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the <Replacement Strategy> property is set to one of: Append, Prepend, Always Replace",
                              "displayName":"Maximum Buffer Size",
                              "dynamic":"false",
                              "name":"Maximum Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Replacement Strategy",
                           "value":{
                              "allowableValues":[
                                 {
                                    "description":"Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text.",
                                    "displayName":"Prepend",
                                    "value":"Prepend"
                                 },
                                 {
                                    "description":"Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text.",
                                    "displayName":"Append",
                                    "value":"Append"
                                 },
                                 {
                                    "description":"Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.",
                                    "displayName":"Regex Replace",
                                    "value":"Regex Replace"
                                 },
                                 {
                                    "description":"Search for all instances of the Search Value and replace the matches with the Replacement Value.",
                                    "displayName":"Literal Replace",
                                    "value":"Literal Replace"
                                 },
                                 {
                                    "description":"Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the <Evaluation Mode> property) and does not bother searching for any value. When this strategy is chosen, the <Search Value> property is ignored.",
                                    "displayName":"Always Replace",
                                    "value":"Always Replace"
                                 }
                              ],
                              "defaultValue":"Regex Replace",
                              "description":"The strategy for how and what to replace within the FlowFile's text content.",
                              "displayName":"Replacement Strategy",
                              "dynamic":"false",
                              "name":"Replacement Strategy",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Evaluation Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"Line-by-Line",
                                    "value":"Line-by-Line"
                                 },
                                 {
                                    "displayName":"Entire text",
                                    "value":"Entire text"
                                 }
                              ],
                              "defaultValue":"Entire text",
                              "description":"Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
                              "displayName":"Evaluation Mode",
                              "dynamic":"false",
                              "name":"Evaluation Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Regular Expression",
                           "value":"(.*?),(.*?),(\\d+.*)"
                        },
                        {
                           "key":"Replacement Value",
                           "value":"$1,$2,${ '$3':toDate('ddMMMyyyy'):format('yyyy/MM/dd') }"
                        },
                        {
                           "key":"Character Set"
                        },
                        {
                           "key":"Maximum Buffer Size"
                        },
                        {
                           "key":"Replacement Strategy"
                        },
                        {
                           "key":"Evaluation Mode",
                           "value":"Line-by-Line"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"Reformat Date Column",
               "relationships":[
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles that could not be updated are routed to this relationship",
                     "name":"failure"
                  },
                  {
                     "autoTerminate":"false",
                     "description":"FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
                     "name":"success"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.ReplaceText"
            },
            {
               "id":"bc3ad300-c93c-430b-a112-106b3a879fec",
               "parentGroupId":"24cb0308-2810-40b4-b2ec-3a31db9c8750",
               "position":{
                  "x":"228.26380233404433",
                  "y":"434.93475559215136"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"File Size",
                           "value":{
                              "description":"The size of the file that will be used",
                              "displayName":"File Size",
                              "dynamic":"false",
                              "name":"File Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Batch Size",
                           "value":{
                              "defaultValue":"1",
                              "description":"The number of FlowFiles to be transferred in each invocation",
                              "displayName":"Batch Size",
                              "dynamic":"false",
                              "name":"Batch Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Data Format",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"Binary",
                                    "value":"Binary"
                                 },
                                 {
                                    "displayName":"Text",
                                    "value":"Text"
                                 }
                              ],
                              "defaultValue":"Binary",
                              "description":"Specifies whether the data should be Text or Binary",
                              "displayName":"Data Format",
                              "dynamic":"false",
                              "name":"Data Format",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Unique FlowFiles",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
                              "displayName":"Unique FlowFiles",
                              "dynamic":"false",
                              "name":"Unique FlowFiles",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"File Size",
                           "value":"0b"
                        },
                        {
                           "key":"Batch Size"
                        },
                        {
                           "key":"Data Format"
                        },
                        {
                           "key":"Unique FlowFiles"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"3 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"Generate Empty File",
               "relationships":{
                  "autoTerminate":"false",
                  "description":"",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"false",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.GenerateFlowFile"
            }
         ]
      },
      "timestamp":"12/11/2019 15:34:51 EST"
   }
}