containers/nifi/nifi-deployment-automation/ansible/templates/registry/simple-httpget-route-flow.json
{
   "template":{
      "description":"Pulls from a web service, extracts text, routes on matching text, and prepares to write to an output file on the file system.",
      "id":"f6172efc-fbfc-449f-ba30-550a0be46799",
      "name":"Simple Web Pull, Extract, Route, Store",
      "snippet":{
         "connections":[
            {
               "id":"c02426bf-1d42-4f53-9fc2-d50e94c6fdc2",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
                  "id":"ce55f3b7-9246-4b54-a00b-200f21f8ac05",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"success",
               "source":{
                  "groupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
                  "id":"95ffeabd-af58-436c-a58f-452da4209cc8",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"3876beb9-2781-4a19-92da-6929d6e6b247",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
                  "id":"40d814cc-c261-4bec-9389-e3c3b03f8c35",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"NiFi",
               "source":{
                  "groupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
                  "id":"5c58cc05-8ad7-4b52-9280-bb705627b48a",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            },
            {
               "id":"18d9b375-3b1a-447d-850a-c599a9b77151",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "backPressureDataSizeThreshold":"0 MB",
               "backPressureObjectThreshold":"0",
               "destination":{
                  "groupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
                  "id":"5c58cc05-8ad7-4b52-9280-bb705627b48a",
                  "type":"PROCESSOR"
               },
               "flowFileExpiration":"0 sec",
               "labelIndex":"1",
               "name":"",
               "selectedRelationships":"matched",
               "source":{
                  "groupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
                  "id":"ce55f3b7-9246-4b54-a00b-200f21f8ac05",
                  "type":"PROCESSOR"
               },
               "zIndex":"0"
            }
         ],
         "processors":[
            {
               "id":"40d814cc-c261-4bec-9389-e3c3b03f8c35",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "position":{
                  "x":"249.0",
                  "y":"575.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Directory",
                           "value":{
                              "description":"The directory to which files should be written. You may use expression language such as /aa/bb/${path}",
                              "displayName":"Directory",
                              "dynamic":"false",
                              "name":"Directory",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Conflict Resolution Strategy",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"replace",
                                    "value":"replace"
                                 },
                                 {
                                    "displayName":"ignore",
                                    "value":"ignore"
                                 },
                                 {
                                    "displayName":"fail",
                                    "value":"fail"
                                 }
                              ],
                              "defaultValue":"fail",
                              "description":"Indicates what should happen when a file with the same name already exists in the output directory",
                              "displayName":"Conflict Resolution Strategy",
                              "dynamic":"false",
                              "name":"Conflict Resolution Strategy",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Create Missing Directories",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"true",
                              "description":"If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.",
                              "displayName":"Create Missing Directories",
                              "dynamic":"false",
                              "name":"Create Missing Directories",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum File Count",
                           "value":{
                              "description":"Specifies the maximum number of files that can exist in the output directory",
                              "displayName":"Maximum File Count",
                              "dynamic":"false",
                              "name":"Maximum File Count",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Last Modified Time",
                           "value":{
                              "description":"Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.",
                              "displayName":"Last Modified Time",
                              "dynamic":"false",
                              "name":"Last Modified Time",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Permissions",
                           "value":{
                              "description":"Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.",
                              "displayName":"Permissions",
                              "dynamic":"false",
                              "name":"Permissions",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Owner",
                           "value":{
                              "description":"Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.",
                              "displayName":"Owner",
                              "dynamic":"false",
                              "name":"Owner",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        },
                        {
                           "key":"Group",
                           "value":{
                              "description":"Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.",
                              "displayName":"Group",
                              "dynamic":"false",
                              "name":"Group",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Directory"
                        },
                        {
                           "key":"Conflict Resolution Strategy"
                        },
                        {
                           "key":"Create Missing Directories"
                        },
                        {
                           "key":"Maximum File Count"
                        },
                        {
                           "key":"Last Modified Time"
                        },
                        {
                           "key":"Permissions"
                        },
                        {
                           "key":"Owner"
                        },
                        {
                           "key":"Group"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"PutFile",
               "relationships":[
                  {
                     "autoTerminate":"false",
                     "description":"Files that could not be written to the output directory for some reason are transferred to this relationship",
                     "name":"failure"
                  },
                  {
                     "autoTerminate":"false",
                     "description":"Files that have been successfully written to the output directory are transferred to this relationship",
                     "name":"success"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"false",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.PutFile"
            },
            {
               "id":"95ffeabd-af58-436c-a58f-452da4209cc8",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "position":{
                  "x":"254.0",
                  "y":"10.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"URL",
                           "value":{
                              "description":"The URL to pull from",
                              "displayName":"URL",
                              "dynamic":"false",
                              "name":"URL",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Filename",
                           "value":{
                              "description":"The filename to assign to the file when pulled",
                              "displayName":"Filename",
                              "dynamic":"false",
                              "name":"Filename",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"SSL Context Service",
                           "value":{
                              "description":"The Controller Service to use in order to obtain an SSL Context",
                              "displayName":"SSL Context Service",
                              "dynamic":"false",
                              "identifiesControllerService":"org.apache.nifi.ssl.SSLContextService",
                              "name":"SSL Context Service",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Username",
                           "value":{
                              "description":"Username required to access the URL",
                              "displayName":"Username",
                              "dynamic":"false",
                              "name":"Username",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Password",
                           "value":{
                              "description":"Password required to access the URL",
                              "displayName":"Password",
                              "dynamic":"false",
                              "name":"Password",
                              "required":"false",
                              "sensitive":"true",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Connection Timeout",
                           "value":{
                              "defaultValue":"30 sec",
                              "description":"How long to wait when attempting to connect to the remote server before giving up",
                              "displayName":"Connection Timeout",
                              "dynamic":"false",
                              "name":"Connection Timeout",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Data Timeout",
                           "value":{
                              "defaultValue":"30 sec",
                              "description":"How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file",
                              "displayName":"Data Timeout",
                              "dynamic":"false",
                              "name":"Data Timeout",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"User Agent",
                           "value":{
                              "description":"What to report as the User Agent when we connect to the remote server",
                              "displayName":"User Agent",
                              "dynamic":"false",
                              "name":"User Agent",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Accept Content-Type",
                           "value":{
                              "description":"If specified, requests will only accept the provided Content-Type",
                              "displayName":"Accept Content-Type",
                              "dynamic":"false",
                              "name":"Accept Content-Type",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Follow Redirects",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies",
                              "displayName":"Follow Redirects",
                              "dynamic":"false",
                              "name":"Follow Redirects",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"URL",
                           "value":"http://localhost:8080/nifi"
                        },
                        {
                           "key":"Filename",
                           "value":"temp.txt"
                        },
                        {
                           "key":"SSL Context Service"
                        },
                        {
                           "key":"Username"
                        },
                        {
                           "key":"Password"
                        },
                        {
                           "key":"Connection Timeout"
                        },
                        {
                           "key":"Data Timeout"
                        },
                        {
                           "key":"User Agent"
                        },
                        {
                           "key":"Accept Content-Type"
                        },
                        {
                           "key":"Follow Redirects",
                           "value":"true"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"1 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"GetHTTP",
               "relationships":{
                  "autoTerminate":"false",
                  "description":"All files are transferred to the success relationship",
                  "name":"success"
               },
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"false",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.GetHTTP"
            },
            {
               "id":"ce55f3b7-9246-4b54-a00b-200f21f8ac05",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "position":{
                  "x":"255.0",
                  "y":"194.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Character Set",
                           "value":{
                              "defaultValue":"UTF-8",
                              "description":"The Character Set in which the file is encoded",
                              "displayName":"Character Set",
                              "dynamic":"false",
                              "name":"Character Set",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Buffer Size",
                           "value":{
                              "defaultValue":"1 MB",
                              "description":"Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.",
                              "displayName":"Maximum Buffer Size",
                              "dynamic":"false",
                              "name":"Maximum Buffer Size",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Maximum Capture Group Length",
                           "value":{
                              "defaultValue":"1024",
                              "description":"Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.",
                              "displayName":"Maximum Capture Group Length",
                              "dynamic":"false",
                              "name":"Maximum Capture Group Length",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Canonical Equivalence",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that two characters match only when their full canonical decompositions match.",
                              "displayName":"Enable Canonical Equivalence",
                              "dynamic":"false",
                              "name":"Enable Canonical Equivalence",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Case-insensitive Matching",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).",
                              "displayName":"Enable Case-insensitive Matching",
                              "dynamic":"false",
                              "name":"Enable Case-insensitive Matching",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Permit Whitespace and Comments in Pattern",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).",
                              "displayName":"Permit Whitespace and Comments in Pattern",
                              "dynamic":"false",
                              "name":"Permit Whitespace and Comments in Pattern",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable DOTALL Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).",
                              "displayName":"Enable DOTALL Mode",
                              "dynamic":"false",
                              "name":"Enable DOTALL Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Literal Parsing of the Pattern",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that Metacharacters and escape characters should be given no special meaning.",
                              "displayName":"Enable Literal Parsing of the Pattern",
                              "dynamic":"false",
                              "name":"Enable Literal Parsing of the Pattern",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Multiline Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).",
                              "displayName":"Enable Multiline Mode",
                              "dynamic":"false",
                              "name":"Enable Multiline Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Unicode-aware Case Folding",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).",
                              "displayName":"Enable Unicode-aware Case Folding",
                              "dynamic":"false",
                              "name":"Enable Unicode-aware Case Folding",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Unicode Predefined Character Classes",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).",
                              "displayName":"Enable Unicode Predefined Character Classes",
                              "dynamic":"false",
                              "name":"Enable Unicode Predefined Character Classes",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"Enable Unix Lines Mode",
                           "value":{
                              "allowableValues":[
                                 {
                                    "displayName":"true",
                                    "value":"true"
                                 },
                                 {
                                    "displayName":"false",
                                    "value":"false"
                                 }
                              ],
                              "defaultValue":"false",
                              "description":"Indicates that only the '\n' line terminator is recognized int the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).",
                              "displayName":"Enable Unix Lines Mode",
                              "dynamic":"false",
                              "name":"Enable Unix Lines Mode",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"title",
                           "value":{
                              "description":"",
                              "displayName":"title",
                              "dynamic":"true",
                              "name":"title",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Character Set"
                        },
                        {
                           "key":"Maximum Buffer Size"
                        },
                        {
                           "key":"Maximum Capture Group Length"
                        },
                        {
                           "key":"Enable Canonical Equivalence"
                        },
                        {
                           "key":"Enable Case-insensitive Matching"
                        },
                        {
                           "key":"Permit Whitespace and Comments in Pattern"
                        },
                        {
                           "key":"Enable DOTALL Mode"
                        },
                        {
                           "key":"Enable Literal Parsing of the Pattern"
                        },
                        {
                           "key":"Enable Multiline Mode"
                        },
                        {
                           "key":"Enable Unicode-aware Case Folding"
                        },
                        {
                           "key":"Enable Unicode Predefined Character Classes"
                        },
                        {
                           "key":"Enable Unix Lines Mode"
                        },
                        {
                           "key":"title",
                           "value":".*\\<title\\>(.*?)\\</title\\>.*"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"ExtractText",
               "relationships":[
                  {
                     "autoTerminate":"false",
                     "description":"FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result",
                     "name":"matched"
                  },
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile",
                     "name":"unmatched"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.ExtractText"
            },
            {
               "id":"5c58cc05-8ad7-4b52-9280-bb705627b48a",
               "parentGroupId":"1ad1f63f-aa0c-4ada-a49d-e5e91b54582f",
               "position":{
                  "x":"249.0",
                  "y":"370.0"
               },
               "config":{
                  "bulletinLevel":"WARN",
                  "comments":"",
                  "concurrentlySchedulableTaskCount":"1",
                  "defaultConcurrentTasks":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"1"
                        },
                        {
                           "key":"EVENT_DRIVEN",
                           "value":"0"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"1"
                        }
                     ]
                  },
                  "defaultSchedulingPeriod":{
                     "entry":[
                        {
                           "key":"TIMER_DRIVEN",
                           "value":"0 sec"
                        },
                        {
                           "key":"CRON_DRIVEN",
                           "value":"* * * * * ?"
                        }
                     ]
                  },
                  "descriptors":{
                     "entry":[
                        {
                           "key":"Routing Strategy",
                           "value":{
                              "allowableValues":[
                                 {
                                    "description":"A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'",
                                    "displayName":"Route to Property name",
                                    "value":"Route to Property name"
                                 },
                                 {
                                    "description":"Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match",
                                    "displayName":"Route to 'matched' if all match",
                                    "value":"Route to 'match' if all match"
                                 },
                                 {
                                    "description":"Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match",
                                    "displayName":"Route to 'matched' if any matches",
                                    "value":"Route to 'match' if any matches"
                                 }
                              ],
                              "defaultValue":"Route to Property name",
                              "description":"Specifies how to determine which relationship to use when evaluating the Expression Language",
                              "displayName":"Routing Strategy",
                              "dynamic":"false",
                              "name":"Routing Strategy",
                              "required":"true",
                              "sensitive":"false",
                              "supportsEl":"false"
                           }
                        },
                        {
                           "key":"NiFi",
                           "value":{
                              "description":"",
                              "displayName":"NiFi",
                              "dynamic":"true",
                              "name":"NiFi",
                              "required":"false",
                              "sensitive":"false",
                              "supportsEl":"true"
                           }
                        }
                     ]
                  },
                  "lossTolerant":"false",
                  "penaltyDuration":"30 sec",
                  "properties":{
                     "entry":[
                        {
                           "key":"Routing Strategy"
                        },
                        {
                           "key":"NiFi",
                           "value":"${title:matches('NiFi')}"
                        }
                     ]
                  },
                  "runDurationMillis":"0",
                  "schedulingPeriod":"0 sec",
                  "schedulingStrategy":"TIMER_DRIVEN",
                  "yieldDuration":"1 sec"
               },
               "name":"Title Matches 'NiFi'",
               "relationships":[
                  {
                     "autoTerminate":"false",
                     "description":"",
                     "name":"NiFi"
                  },
                  {
                     "autoTerminate":"true",
                     "description":"FlowFiles that do not match any user-define expression will be routed here",
                     "name":"unmatched"
                  }
               ],
               "state":"STOPPED",
               "style":"",
               "supportsEventDriven":"true",
               "supportsParallelProcessing":"true",
               "type":"org.apache.nifi.processors.standard.RouteOnAttribute"
            }
         ]
      },
      "timestamp":"06/17/2020 00:28:38 EDT"
   }
}