containers/nifi/nifi-deployment-automation/ansible/templates/registry/Working_with_Expression_Languages.json
{
	"template": {
		"description": "",
		"groupId": "7c84501d-d10c-407c-b9f3-1d80e38fe36a",
		"name": "Working with Expression Languages",
		"snippet": {
			"processGroups": {
				"id": "c63a5a13-5090-3f84-0000-000000000000",
				"parentGroupId": "46f95fe5-3024-31d8-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "06e67bff-2269-3478-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "4ecf5970-ebeb-33b0-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "312d267c-ffd9-36c5-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "13d4c365-6311-3be4-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "34e02ed6-49fc-3e3b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "4ecf5970-ebeb-33b0-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "3d4b05b9-fc62-3b67-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "618ee31c-061a-3701-0000-000000000000",
								"type": "OUTPUT_PORT"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "319e8fb0-f5b2-3834-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "dc8f93bf-8537-3394-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "319e8fb0-f5b2-3834-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "c63a5a13-5090-3f84-0000-000000000000",
								"id": "34e02ed6-49fc-3e3b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"labels": [
						{
							"id": "1bbe5cee-15c9-3a4d-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "1142.951259290122",
								"y": "514.6532486230138"
							},
							"height": "35.459306716918945",
							"label": "notice the use of various tests to evaluate that logic is working as I started to make things more complicated",
							"style": {
								"entry": {
									"key": "font-size",
									"value": "12px"
								}
							},
							"width": "628.84375"
						},
						{
							"id": "b0dfa172-fe15-3b34-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "1148.1772114385594",
								"y": "306.7062881737951"
							},
							"height": "35.459306716918945",
							"label": "creating the combined url here as the attribute and string combination was not accepting in the ifElse argument",
							"style": {
								"entry": {
									"key": "font-size",
									"value": "12px"
								}
							},
							"width": "628.84375"
						},
						{
							"id": "eb9e8224-6a5f-3b8f-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "1159.3131437486866",
								"y": "68.07983705044191"
							},
							"height": "35.459312438964844",
							"label": "leaving attributeC empty for testing logic",
							"style": {
								"entry": {
									"key": "font-size",
									"value": "12px"
								}
							},
							"width": "248.63223266601562"
						}
					],
					"outputPorts": {
						"id": "618ee31c-061a-3701-0000-000000000000",
						"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
						"position": {
							"x": "787.0559819293667",
							"y": "721.9163325008785"
						},
						"concurrentlySchedulableTaskCount": "1",
						"name": "output",
						"state": "STOPPED",
						"type": "OUTPUT_PORT",
						"validationErrors": "'Port 'output'' is invalid because Output connection for port 'output' is not defined."
					},
					"processors": [
						{
							"id": "312d267c-ffd9-36c5-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "737.7397178278791",
								"y": "-133.95722945233513"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "File Size",
											"value": {
												"name": "File Size"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Data Format",
											"value": {
												"name": "Data Format"
											}
										},
										{
											"key": "Unique FlowFiles",
											"value": {
												"name": "Unique FlowFiles"
											}
										},
										{
											"key": "generate-ff-custom-text",
											"value": {
												"name": "generate-ff-custom-text"
											}
										},
										{
											"key": "character-set",
											"value": {
												"name": "character-set"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "File Size",
											"value": "0B"
										},
										{
											"key": "Batch Size",
											"value": "1"
										},
										{
											"key": "Data Format",
											"value": "Text"
										},
										{
											"key": "Unique FlowFiles",
											"value": "false"
										},
										{
											"key": "generate-ff-custom-text"
										},
										{
											"key": "character-set",
											"value": "UTF-8"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "15 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "GenerateFlowFile",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.GenerateFlowFile"
						},
						{
							"id": "319e8fb0-f5b2-3834-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "748.4222695689696",
								"y": "482.8363572000644"
							},
							"bundle": {
								"artifact": "nifi-update-attribute-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Delete Attributes Expression",
											"value": {
												"name": "Delete Attributes Expression"
											}
										},
										{
											"key": "Store State",
											"value": {
												"name": "Store State"
											}
										},
										{
											"key": "Stateful Variables Initial Value",
											"value": {
												"name": "Stateful Variables Initial Value"
											}
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": {
												"name": "canonical-value-lookup-cache-size"
											}
										},
										{
											"key": "url_A",
											"value": {
												"name": "url_A"
											}
										},
										{
											"key": "url_B",
											"value": {
												"name": "url_B"
											}
										},
										{
											"key": "url_empty",
											"value": {
												"name": "url_empty"
											}
										},
										{
											"key": "url_empty_combined",
											"value": {
												"name": "url_empty_combined"
											}
										},
										{
											"key": "url1",
											"value": {
												"name": "url1"
											}
										},
										{
											"key": "url2",
											"value": {
												"name": "url2"
											}
										},
										{
											"key": "url3",
											"value": {
												"name": "url3"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Delete Attributes Expression"
										},
										{
											"key": "Store State",
											"value": "Do not store state"
										},
										{
											"key": "Stateful Variables Initial Value"
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": "100"
										},
										{
											"key": "url_A",
											"value": "${attributeA:isEmpty():ifElse(${attributeB}, ${attributeA})}"
										},
										{
											"key": "url_B",
											"value": "${attributeC:isEmpty():ifElse(${attributeB}, ${attributeA})}"
										},
										{
											"key": "url_empty",
											"value": "${attributeC:isEmpty():ifElse(${attributeB}, ${attributeA})}"
										},
										{
											"key": "url_empty_combined",
											"value": "${attributeC:isEmpty():ifElse(${combinedAttribute}, ${attributeA})}"
										},
										{
											"key": "url1",
											"value": "${attributeA:isEmpty():ifElse('true', 'false')}"
										},
										{
											"key": "url2",
											"value": "${attributeC:isEmpty():ifElse('true', 'false')}"
										},
										{
											"key": "url3",
											"value": "${attributeA:isEmpty():ifElse(${attributeB}, ${attributeA})}"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "UpdateAttribute",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "RUNNING",
							"style": "",
							"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
						},
						{
							"id": "34e02ed6-49fc-3e3b-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "740.9215015431498",
								"y": "278.07107254011663"
							},
							"bundle": {
								"artifact": "nifi-update-attribute-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Delete Attributes Expression",
											"value": {
												"name": "Delete Attributes Expression"
											}
										},
										{
											"key": "Store State",
											"value": {
												"name": "Store State"
											}
										},
										{
											"key": "Stateful Variables Initial Value",
											"value": {
												"name": "Stateful Variables Initial Value"
											}
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": {
												"name": "canonical-value-lookup-cache-size"
											}
										},
										{
											"key": "combinedAttribute",
											"value": {
												"name": "combinedAttribute"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Delete Attributes Expression"
										},
										{
											"key": "Store State",
											"value": "Do not store state"
										},
										{
											"key": "Stateful Variables Initial Value"
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": "100"
										},
										{
											"key": "combinedAttribute",
											"value": "${attributeA}/tests/${attributeB}"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "UpdateAttribute",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "RUNNING",
							"style": "",
							"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
						},
						{
							"id": "4ecf5970-ebeb-33b0-0000-000000000000",
							"parentGroupId": "c63a5a13-5090-3f84-0000-000000000000",
							"position": {
								"x": "748.8755776744383",
								"y": "60.125618064322225"
							},
							"bundle": {
								"artifact": "nifi-update-attribute-nar",
								"group": "org.apache.nifi",
								"version": "1.9.0.3.4.1.1-4"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Delete Attributes Expression",
											"value": {
												"name": "Delete Attributes Expression"
											}
										},
										{
											"key": "Store State",
											"value": {
												"name": "Store State"
											}
										},
										{
											"key": "Stateful Variables Initial Value",
											"value": {
												"name": "Stateful Variables Initial Value"
											}
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": {
												"name": "canonical-value-lookup-cache-size"
											}
										},
										{
											"key": "attributeA",
											"value": {
												"name": "attributeA"
											}
										},
										{
											"key": "attributeB",
											"value": {
												"name": "attributeB"
											}
										},
										{
											"key": "attributeD",
											"value": {
												"name": "attributeD"
											}
										},
										{
											"key": "combinedAttribute",
											"value": {
												"name": "combinedAttribute"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Delete Attributes Expression"
										},
										{
											"key": "Store State",
											"value": "Do not store state"
										},
										{
											"key": "Stateful Variables Initial Value"
										},
										{
											"key": "canonical-value-lookup-cache-size",
											"value": "100"
										},
										{
											"key": "attributeA",
											"value": "testA"
										},
										{
											"key": "attributeB",
											"value": "testB"
										},
										{
											"key": "attributeD",
											"value": "testD"
										},
										{
											"key": "combinedAttribute",
											"value": "${attributeA}/tests/${attributeB}"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "UpdateAttribute",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "RUNNING",
							"style": "",
							"type": "org.apache.nifi.processors.attributes.UpdateAttribute"
						}
					]
				},
				"name": "Working With Expression Language",
				"variables": ""
			}
		},
		"timestamp": "06/01/2020 18:45:46 UTC",
		"_encoding-version": "1.2"
	}
}
