containers/nifi/nifi-deployment-automation/ansible/templates/registry/Extract User/Extract_User.json
{
	"template": {
		"description": "",
		"groupId": "1f2c98fd-016a-1000-6ea6-64d34129d170",
		"name": "Extract User",
		"snippet": {
			"processGroups": {
				"id": "74ba1ec1-113a-3caa-0000-000000000000",
				"parentGroupId": "5ec22fd0-fa07-3774-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "",
				"contents": {
					"connections": [
						{
							"id": "16eaa3f9-07bf-3a00-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "a8375e95-64d0-3208-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "0ee50fca-a233-3c53-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "1f0fbe7e-6c43-332f-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "9b3f2349-93e9-3f43-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "split",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "a8169a60-6675-31f4-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "22e5903f-1826-32b7-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "98f11337-8a2f-3968-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "0ee50fca-a233-3c53-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "54c28e03-1cdc-3037-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "27f55f7b-3491-396b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "0ee50fca-a233-3c53-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "735c0e8b-da46-36bd-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "8734585b-4264-3985-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "0ee50fca-a233-3c53-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "7c694005-aee1-34a3-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "9b3f2349-93e9-3f43-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "splits",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "27f55f7b-3491-396b-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "af5ec27a-9a1f-3777-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "a8169a60-6675-31f4-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "8734585b-4264-3985-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						},
						{
							"id": "ba3fcd48-1d11-37aa-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"backPressureDataSizeThreshold": "1 GB",
							"backPressureObjectThreshold": "10000",
							"destination": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "a8169a60-6675-31f4-0000-000000000000",
								"type": "PROCESSOR"
							},
							"flowFileExpiration": "0 sec",
							"labelIndex": "1",
							"loadBalanceCompression": "DO_NOT_COMPRESS",
							"loadBalancePartitionAttribute": "",
							"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
							"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
							"name": "",
							"selectedRelationships": "success",
							"source": {
								"groupId": "74ba1ec1-113a-3caa-0000-000000000000",
								"id": "a8375e95-64d0-3208-0000-000000000000",
								"type": "PROCESSOR"
							},
							"zIndex": "0"
						}
					],
					"controllerServices": [
						{
							"id": "4745dc65-a664-38ad-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"bundle": {
								"artifact": "nifi-record-serialization-services-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"comments": "",
							"descriptors": {
								"entry": [
									{
										"key": "Schema Write Strategy",
										"value": {
											"name": "Schema Write Strategy"
										}
									},
									{
										"key": "schema-access-strategy",
										"value": {
											"name": "schema-access-strategy"
										}
									},
									{
										"key": "schema-registry",
										"value": {
											"identifiesControllerService": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
											"name": "schema-registry"
										}
									},
									{
										"key": "schema-name",
										"value": {
											"name": "schema-name"
										}
									},
									{
										"key": "schema-version",
										"value": {
											"name": "schema-version"
										}
									},
									{
										"key": "schema-branch",
										"value": {
											"name": "schema-branch"
										}
									},
									{
										"key": "schema-text",
										"value": {
											"name": "schema-text"
										}
									},
									{
										"key": "Date Format",
										"value": {
											"name": "Date Format"
										}
									},
									{
										"key": "Time Format",
										"value": {
											"name": "Time Format"
										}
									},
									{
										"key": "Timestamp Format",
										"value": {
											"name": "Timestamp Format"
										}
									},
									{
										"key": "Pretty Print JSON",
										"value": {
											"name": "Pretty Print JSON"
										}
									},
									{
										"key": "suppress-nulls",
										"value": {
											"name": "suppress-nulls"
										}
									},
									{
										"key": "output-grouping",
										"value": {
											"name": "output-grouping"
										}
									}
								]
							},
							"name": "Json Record Set Writer for Users",
							"persistsState": "false",
							"properties": {
								"entry": [
									{
										"key": "Schema Write Strategy",
										"value": "schema-name"
									},
									{
										"key": "schema-access-strategy",
										"value": "inherit-record-schema"
									},
									{
										"key": "schema-registry",
										"value": "5e326cca-7c0a-397c-0000-000000000000"
									},
									{
										"key": "schema-name",
										"value": "${schema.name}"
									},
									{
										"key": "schema-version"
									},
									{
										"key": "schema-branch"
									},
									{
										"key": "schema-text",
										"value": "${avro.schema}"
									},
									{
										"key": "Date Format"
									},
									{
										"key": "Time Format"
									},
									{
										"key": "Timestamp Format"
									},
									{
										"key": "Pretty Print JSON",
										"value": "false"
									},
									{
										"key": "suppress-nulls",
										"value": "never-suppress"
									},
									{
										"key": "output-grouping",
										"value": "output-array"
									}
								]
							},
							"state": "DISABLED",
							"type": "org.apache.nifi.json.JsonRecordSetWriter"
						},
						{
							"id": "4e9f56b2-efbf-350e-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"bundle": {
								"artifact": "nifi-record-serialization-services-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"comments": "",
							"descriptors": {
								"entry": [
									{
										"key": "schema-access-strategy",
										"value": {
											"name": "schema-access-strategy"
										}
									},
									{
										"key": "schema-registry",
										"value": {
											"identifiesControllerService": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
											"name": "schema-registry"
										}
									},
									{
										"key": "schema-name",
										"value": {
											"name": "schema-name"
										}
									},
									{
										"key": "schema-version",
										"value": {
											"name": "schema-version"
										}
									},
									{
										"key": "schema-branch",
										"value": {
											"name": "schema-branch"
										}
									},
									{
										"key": "schema-text",
										"value": {
											"name": "schema-text"
										}
									},
									{
										"key": "csv-reader-csv-parser",
										"value": {
											"name": "csv-reader-csv-parser"
										}
									},
									{
										"key": "Date Format",
										"value": {
											"name": "Date Format"
										}
									},
									{
										"key": "Time Format",
										"value": {
											"name": "Time Format"
										}
									},
									{
										"key": "Timestamp Format",
										"value": {
											"name": "Timestamp Format"
										}
									},
									{
										"key": "CSV Format",
										"value": {
											"name": "CSV Format"
										}
									},
									{
										"key": "Value Separator",
										"value": {
											"name": "Value Separator"
										}
									},
									{
										"key": "Skip Header Line",
										"value": {
											"name": "Skip Header Line"
										}
									},
									{
										"key": "ignore-csv-header",
										"value": {
											"name": "ignore-csv-header"
										}
									},
									{
										"key": "Quote Character",
										"value": {
											"name": "Quote Character"
										}
									},
									{
										"key": "Escape Character",
										"value": {
											"name": "Escape Character"
										}
									},
									{
										"key": "Comment Marker",
										"value": {
											"name": "Comment Marker"
										}
									},
									{
										"key": "Null String",
										"value": {
											"name": "Null String"
										}
									},
									{
										"key": "Trim Fields",
										"value": {
											"name": "Trim Fields"
										}
									},
									{
										"key": "csvutils-character-set",
										"value": {
											"name": "csvutils-character-set"
										}
									}
								]
							},
							"name": "CSV Reader for Users",
							"persistsState": "false",
							"properties": {
								"entry": [
									{
										"key": "schema-access-strategy",
										"value": "schema-name"
									},
									{
										"key": "schema-registry",
										"value": "5e326cca-7c0a-397c-0000-000000000000"
									},
									{
										"key": "schema-name",
										"value": "${schema.name}"
									},
									{
										"key": "schema-version"
									},
									{
										"key": "schema-branch"
									},
									{
										"key": "schema-text",
										"value": "${avro.schema}"
									},
									{
										"key": "csv-reader-csv-parser",
										"value": "commons-csv"
									},
									{
										"key": "Date Format"
									},
									{
										"key": "Time Format"
									},
									{
										"key": "Timestamp Format"
									},
									{
										"key": "CSV Format",
										"value": "custom"
									},
									{
										"key": "Value Separator",
										"value": ";"
									},
									{
										"key": "Skip Header Line",
										"value": "true"
									},
									{
										"key": "ignore-csv-header",
										"value": "false"
									},
									{
										"key": "Quote Character",
										"value": "\""
									},
									{
										"key": "Escape Character",
										"value": "\\"
									},
									{
										"key": "Comment Marker"
									},
									{
										"key": "Null String"
									},
									{
										"key": "Trim Fields",
										"value": "true"
									},
									{
										"key": "csvutils-character-set",
										"value": "UTF-8"
									}
								]
							},
							"state": "DISABLED",
							"type": "org.apache.nifi.csv.CSVReader"
						},
						{
							"id": "52ec3621-4f98-36f4-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"bundle": {
								"artifact": "nifi-registry-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"comments": "",
							"descriptors": {
								"entry": [
									{
										"key": "avro-reg-validated-field-names",
										"value": {
											"name": "avro-reg-validated-field-names"
										}
									},
									{
										"key": "users",
										"value": {
											"name": "users"
										}
									}
								]
							},
							"name": "Avro Schema Registry for Users with Updated Field Name",
							"persistsState": "false",
							"properties": {
								"entry": [
									{
										"key": "avro-reg-validated-field-names",
										"value": "false"
									},
									{
										"key": "users",
										"value": "{\n\t\"name\":\"users\",\n\t\"namespace\":\"usersdata\",\n\t\"type\":\"record\",\n\t\"fields\":[\n\t\t{\"name\": \"id\", \"type\" :\"int\"},\n\t\t{\"name\": \"title\", \"type\" :\"string\"},\n\t\t{\"name\": \"first_name\", \"type\" :\"string\"},\n\t\t{\"name\": \"last_name\", \"type\" :\"string\"},\t\t\n\t\t{\"name\": \"street\", \"type\" :\"string\"},\n\t\t{\"name\": \"city\", \"type\" :\"string\"},\n\t\t{\"name\": \"state\", \"type\" :\"string\"},\n\t\t{\"name\": \"zip\", \"type\" :\"string\"},\n\t\t{\"name\": \"gender\", \"type\" :\"string\"},\n\t\t{\"name\": \"email\", \"type\" :\"string\"},\n\t\t{\"name\": \"username\", \"type\" :\"string\"},\n\t\t{\"name\": \"password\", \"type\" :\"string\"},\n\t\t{\"name\": \"phone\", \"type\" :\"string\"},\n\t\t{\"name\": \"cell\", \"type\" :\"string\"},\n\t\t{\"name\": \"ssn\", \"type\" :\"string\"},\n\t\t{\"name\": \"date_of_birth\", \"type\" :\"string\"},\n\t\t{\"name\": \"reg_date\", \"type\" :\"string\"},\n\t\t{\"name\": \"large\", \"type\" :\"string\"},\n\t\t{\"name\": \"medium\", \"type\" :\"string\"},\n\t\t{\"name\": \"thumbnail\", \"type\" :\"string\"},\n\t\t{\"name\": \"version\", \"type\" :\"string\"},\n\t\t{\"name\": \"nationality\", \"type\" :\"string\"},\n\t\t{\"name\": \"full_name\", \"type\" :[\"null\", \"string\"]}\n\t]\n}"
									}
								]
							},
							"state": "DISABLED",
							"type": "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
						},
						{
							"id": "5e326cca-7c0a-397c-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"bundle": {
								"artifact": "nifi-registry-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"comments": "",
							"descriptors": {
								"entry": [
									{
										"key": "avro-reg-validated-field-names",
										"value": {
											"name": "avro-reg-validated-field-names"
										}
									},
									{
										"key": "users",
										"value": {
											"name": "users"
										}
									}
								]
							},
							"name": "Avro Schema Registry for Users",
							"persistsState": "false",
							"properties": {
								"entry": [
									{
										"key": "avro-reg-validated-field-names",
										"value": "true"
									},
									{
										"key": "users",
										"value": "{\n\t\"name\":\"users\",\n\t\"namespace\":\"usersdata\",\n\t\"type\":\"record\",\n\t\"fields\":[\n\t\t{\"name\": \"id\", \"type\" :\"int\"},\n\t\t{\"name\": \"title\", \"type\" :\"string\"},\n\t\t{\"name\": \"first\", \"type\" :\"string\"},\n\t\t{\"name\": \"last\", \"type\" :\"string\"},\n\t\t{\"name\": \"street\", \"type\" :\"string\"},\n\t\t{\"name\": \"city\", \"type\" :\"string\"},\n\t\t{\"name\": \"state\", \"type\" :\"string\"},\n\t\t{\"name\": \"zip\", \"type\" :\"string\"},\n\t\t{\"name\": \"gender\", \"type\" :\"string\"},\n\t\t{\"name\": \"email\", \"type\" :\"string\"},\n\t\t{\"name\": \"username\", \"type\" :\"string\"},\n\t\t{\"name\": \"password\", \"type\" :\"string\"},\n\t\t{\"name\": \"phone\", \"type\" :\"string\"},\n\t\t{\"name\": \"cell\", \"type\" :\"string\"},\n\t\t{\"name\": \"ssn\", \"type\" :\"string\"},\n\t\t{\"name\": \"date_of_birth\", \"type\" :\"string\"},\n\t\t{\"name\": \"reg_date\", \"type\" :\"string\"},\n\t\t{\"name\": \"large\", \"type\" :\"string\"},\n\t\t{\"name\": \"medium\", \"type\" :\"string\"},\n\t\t{\"name\": \"thumbnail\", \"type\" :\"string\"},\n\t\t{\"name\": \"version\", \"type\" :\"string\"},\n\t\t{\"name\": \"nationality\", \"type\" :\"string\"}\n\t]\n}"
									}
								]
							},
							"state": "DISABLED",
							"type": "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
						},
						{
							"id": "8af8fbcc-9537-3667-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"bundle": {
								"artifact": "nifi-record-serialization-services-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"comments": "",
							"descriptors": {
								"entry": [
									{
										"key": "Schema Write Strategy",
										"value": {
											"name": "Schema Write Strategy"
										}
									},
									{
										"key": "schema-access-strategy",
										"value": {
											"name": "schema-access-strategy"
										}
									},
									{
										"key": "schema-registry",
										"value": {
											"identifiesControllerService": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
											"name": "schema-registry"
										}
									},
									{
										"key": "schema-name",
										"value": {
											"name": "schema-name"
										}
									},
									{
										"key": "schema-version",
										"value": {
											"name": "schema-version"
										}
									},
									{
										"key": "schema-branch",
										"value": {
											"name": "schema-branch"
										}
									},
									{
										"key": "schema-text",
										"value": {
											"name": "schema-text"
										}
									},
									{
										"key": "Date Format",
										"value": {
											"name": "Date Format"
										}
									},
									{
										"key": "Time Format",
										"value": {
											"name": "Time Format"
										}
									},
									{
										"key": "Timestamp Format",
										"value": {
											"name": "Timestamp Format"
										}
									},
									{
										"key": "Pretty Print JSON",
										"value": {
											"name": "Pretty Print JSON"
										}
									},
									{
										"key": "suppress-nulls",
										"value": {
											"name": "suppress-nulls"
										}
									},
									{
										"key": "output-grouping",
										"value": {
											"name": "output-grouping"
										}
									}
								]
							},
							"name": "Json Record Set Writer for Users with Updated Field Name",
							"persistsState": "false",
							"properties": {
								"entry": [
									{
										"key": "Schema Write Strategy",
										"value": "schema-name"
									},
									{
										"key": "schema-access-strategy",
										"value": "inherit-record-schema"
									},
									{
										"key": "schema-registry",
										"value": "52ec3621-4f98-36f4-0000-000000000000"
									},
									{
										"key": "schema-name",
										"value": "${schema.name}"
									},
									{
										"key": "schema-version"
									},
									{
										"key": "schema-branch"
									},
									{
										"key": "schema-text",
										"value": "${avro.schema}"
									},
									{
										"key": "Date Format"
									},
									{
										"key": "Time Format"
									},
									{
										"key": "Timestamp Format"
									},
									{
										"key": "Pretty Print JSON",
										"value": "false"
									},
									{
										"key": "suppress-nulls",
										"value": "never-suppress"
									},
									{
										"key": "output-grouping",
										"value": "output-array"
									}
								]
							},
							"state": "DISABLED",
							"type": "org.apache.nifi.json.JsonRecordSetWriter"
						},
						{
							"id": "d00af96b-21e8-3ed7-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"bundle": {
								"artifact": "nifi-record-serialization-services-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"comments": "",
							"descriptors": {
								"entry": [
									{
										"key": "schema-access-strategy",
										"value": {
											"name": "schema-access-strategy"
										}
									},
									{
										"key": "schema-registry",
										"value": {
											"identifiesControllerService": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
											"name": "schema-registry"
										}
									},
									{
										"key": "schema-name",
										"value": {
											"name": "schema-name"
										}
									},
									{
										"key": "schema-version",
										"value": {
											"name": "schema-version"
										}
									},
									{
										"key": "schema-branch",
										"value": {
											"name": "schema-branch"
										}
									},
									{
										"key": "schema-text",
										"value": {
											"name": "schema-text"
										}
									},
									{
										"key": "csv-reader-csv-parser",
										"value": {
											"name": "csv-reader-csv-parser"
										}
									},
									{
										"key": "Date Format",
										"value": {
											"name": "Date Format"
										}
									},
									{
										"key": "Time Format",
										"value": {
											"name": "Time Format"
										}
									},
									{
										"key": "Timestamp Format",
										"value": {
											"name": "Timestamp Format"
										}
									},
									{
										"key": "CSV Format",
										"value": {
											"name": "CSV Format"
										}
									},
									{
										"key": "Value Separator",
										"value": {
											"name": "Value Separator"
										}
									},
									{
										"key": "Skip Header Line",
										"value": {
											"name": "Skip Header Line"
										}
									},
									{
										"key": "ignore-csv-header",
										"value": {
											"name": "ignore-csv-header"
										}
									},
									{
										"key": "Quote Character",
										"value": {
											"name": "Quote Character"
										}
									},
									{
										"key": "Escape Character",
										"value": {
											"name": "Escape Character"
										}
									},
									{
										"key": "Comment Marker",
										"value": {
											"name": "Comment Marker"
										}
									},
									{
										"key": "Null String",
										"value": {
											"name": "Null String"
										}
									},
									{
										"key": "Trim Fields",
										"value": {
											"name": "Trim Fields"
										}
									},
									{
										"key": "csvutils-character-set",
										"value": {
											"name": "csvutils-character-set"
										}
									}
								]
							},
							"name": "CSV Reader for Users with Updated Field Name",
							"persistsState": "false",
							"properties": {
								"entry": [
									{
										"key": "schema-access-strategy",
										"value": "schema-name"
									},
									{
										"key": "schema-registry",
										"value": "52ec3621-4f98-36f4-0000-000000000000"
									},
									{
										"key": "schema-name",
										"value": "${schema.name}"
									},
									{
										"key": "schema-version"
									},
									{
										"key": "schema-branch"
									},
									{
										"key": "schema-text",
										"value": "${avro.schema}"
									},
									{
										"key": "csv-reader-csv-parser",
										"value": "commons-csv"
									},
									{
										"key": "Date Format"
									},
									{
										"key": "Time Format"
									},
									{
										"key": "Timestamp Format"
									},
									{
										"key": "CSV Format",
										"value": "custom"
									},
									{
										"key": "Value Separator",
										"value": ";"
									},
									{
										"key": "Skip Header Line",
										"value": "true"
									},
									{
										"key": "ignore-csv-header",
										"value": "true"
									},
									{
										"key": "Quote Character",
										"value": "\""
									},
									{
										"key": "Escape Character",
										"value": "\\"
									},
									{
										"key": "Comment Marker"
									},
									{
										"key": "Null String"
									},
									{
										"key": "Trim Fields",
										"value": "true"
									},
									{
										"key": "csvutils-character-set",
										"value": "UTF-8"
									}
								]
							},
							"state": "DISABLED",
							"type": "org.apache.nifi.csv.CSVReader"
						}
					],
					"processors": [
						{
							"id": "0ee50fca-a233-3c53-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-684.0903451933711",
								"y": "251.66766680186163"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Input Directory",
											"value": {
												"name": "Input Directory"
											}
										},
										{
											"key": "File Filter",
											"value": {
												"name": "File Filter"
											}
										},
										{
											"key": "Path Filter",
											"value": {
												"name": "Path Filter"
											}
										},
										{
											"key": "Batch Size",
											"value": {
												"name": "Batch Size"
											}
										},
										{
											"key": "Keep Source File",
											"value": {
												"name": "Keep Source File"
											}
										},
										{
											"key": "Recurse Subdirectories",
											"value": {
												"name": "Recurse Subdirectories"
											}
										},
										{
											"key": "Polling Interval",
											"value": {
												"name": "Polling Interval"
											}
										},
										{
											"key": "Ignore Hidden Files",
											"value": {
												"name": "Ignore Hidden Files"
											}
										},
										{
											"key": "Minimum File Age",
											"value": {
												"name": "Minimum File Age"
											}
										},
										{
											"key": "Maximum File Age",
											"value": {
												"name": "Maximum File Age"
											}
										},
										{
											"key": "Minimum File Size",
											"value": {
												"name": "Minimum File Size"
											}
										},
										{
											"key": "Maximum File Size",
											"value": {
												"name": "Maximum File Size"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Input Directory",
											"value": "/home/manojgt/data/input"
										},
										{
											"key": "File Filter",
											"value": "[^\\.].*"
										},
										{
											"key": "Path Filter"
										},
										{
											"key": "Batch Size",
											"value": "10"
										},
										{
											"key": "Keep Source File",
											"value": "false"
										},
										{
											"key": "Recurse Subdirectories",
											"value": "true"
										},
										{
											"key": "Polling Interval",
											"value": "0 sec"
										},
										{
											"key": "Ignore Hidden Files",
											"value": "true"
										},
										{
											"key": "Minimum File Age",
											"value": "0 sec"
										},
										{
											"key": "Maximum File Age"
										},
										{
											"key": "Minimum File Size",
											"value": "0 B"
										},
										{
											"key": "Maximum File Size"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "GetFile",
							"relationships": {
								"autoTerminate": "false",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.GetFile"
						},
						{
							"id": "27f55f7b-3491-396b-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-65.409110917421",
								"y": "242.44335285171167"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Record Reader",
											"value": {
												"identifiesControllerService": "org.apache.nifi.serialization.RecordReaderFactory",
												"name": "Record Reader"
											}
										},
										{
											"key": "Record Writer",
											"value": {
												"identifiesControllerService": "org.apache.nifi.serialization.RecordSetWriterFactory",
												"name": "Record Writer"
											}
										},
										{
											"key": "Records Per Split",
											"value": {
												"name": "Records Per Split"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Record Reader",
											"value": "4e9f56b2-efbf-350e-0000-000000000000"
										},
										{
											"key": "Record Writer",
											"value": "4745dc65-a664-38ad-0000-000000000000"
										},
										{
											"key": "Records Per Split",
											"value": "1"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "SplitRecord",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"name": "original"
								},
								{
									"autoTerminate": "false",
									"name": "splits"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.SplitRecord"
						},
						{
							"id": "8734585b-4264-3985-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-678.206718339296",
								"y": "464.9251491163601"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "record-reader",
											"value": {
												"identifiesControllerService": "org.apache.nifi.serialization.RecordReaderFactory",
												"name": "record-reader"
											}
										},
										{
											"key": "record-writer",
											"value": {
												"identifiesControllerService": "org.apache.nifi.serialization.RecordSetWriterFactory",
												"name": "record-writer"
											}
										},
										{
											"key": "include-zero-record-flowfiles",
											"value": {
												"name": "include-zero-record-flowfiles"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "record-reader",
											"value": "4e9f56b2-efbf-350e-0000-000000000000"
										},
										{
											"key": "record-writer",
											"value": "4745dc65-a664-38ad-0000-000000000000"
										},
										{
											"key": "include-zero-record-flowfiles",
											"value": "true"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "ConvertRecord",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.ConvertRecord"
						},
						{
							"id": "98f11337-8a2f-3968-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-681.847343339296",
								"y": "17.53878131850854"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Directory",
											"value": {
												"name": "Directory"
											}
										},
										{
											"key": "Conflict Resolution Strategy",
											"value": {
												"name": "Conflict Resolution Strategy"
											}
										},
										{
											"key": "Create Missing Directories",
											"value": {
												"name": "Create Missing Directories"
											}
										},
										{
											"key": "Maximum File Count",
											"value": {
												"name": "Maximum File Count"
											}
										},
										{
											"key": "Last Modified Time",
											"value": {
												"name": "Last Modified Time"
											}
										},
										{
											"key": "Permissions",
											"value": {
												"name": "Permissions"
											}
										},
										{
											"key": "Owner",
											"value": {
												"name": "Owner"
											}
										},
										{
											"key": "Group",
											"value": {
												"name": "Group"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Directory",
											"value": "/home/manojgt/data/input"
										},
										{
											"key": "Conflict Resolution Strategy",
											"value": "fail"
										},
										{
											"key": "Create Missing Directories",
											"value": "true"
										},
										{
											"key": "Maximum File Count"
										},
										{
											"key": "Last Modified Time"
										},
										{
											"key": "Permissions"
										},
										{
											"key": "Owner"
										},
										{
											"key": "Group"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "PutFile",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.PutFile"
						},
						{
							"id": "9b3f2349-93e9-3f43-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-669.8767622846085",
								"y": "881.9835597608914"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "Log Level",
											"value": {
												"name": "Log Level"
											}
										},
										{
											"key": "Log Payload",
											"value": {
												"name": "Log Payload"
											}
										},
										{
											"key": "Attributes to Log",
											"value": {
												"name": "Attributes to Log"
											}
										},
										{
											"key": "attributes-to-log-regex",
											"value": {
												"name": "attributes-to-log-regex"
											}
										},
										{
											"key": "Attributes to Ignore",
											"value": {
												"name": "Attributes to Ignore"
											}
										},
										{
											"key": "attributes-to-ignore-regex",
											"value": {
												"name": "attributes-to-ignore-regex"
											}
										},
										{
											"key": "Log prefix",
											"value": {
												"name": "Log prefix"
											}
										},
										{
											"key": "character-set",
											"value": {
												"name": "character-set"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "Log Level",
											"value": "info"
										},
										{
											"key": "Log Payload",
											"value": "false"
										},
										{
											"key": "Attributes to Log"
										},
										{
											"key": "attributes-to-log-regex",
											"value": ".*"
										},
										{
											"key": "Attributes to Ignore"
										},
										{
											"key": "attributes-to-ignore-regex"
										},
										{
											"key": "Log prefix"
										},
										{
											"key": "character-set",
											"value": "UTF-8"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "LogAttribute",
							"relationships": {
								"autoTerminate": "true",
								"name": "success"
							},
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.LogAttribute"
						},
						{
							"id": "a8169a60-6675-31f4-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-675.912284745546",
								"y": "672.9250575636257"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "JsonPath Expression",
											"value": {
												"name": "JsonPath Expression"
											}
										},
										{
											"key": "Null Value Representation",
											"value": {
												"name": "Null Value Representation"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "JsonPath Expression",
											"value": "$.*"
										},
										{
											"key": "Null Value Representation",
											"value": "empty string"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "SplitJson",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "true",
									"name": "original"
								},
								{
									"autoTerminate": "false",
									"name": "split"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.SplitJson"
						},
						{
							"id": "a8375e95-64d0-3208-0000-000000000000",
							"parentGroupId": "74ba1ec1-113a-3caa-0000-000000000000",
							"position": {
								"x": "-1210.474907327356",
								"y": "259.57922220345506"
							},
							"bundle": {
								"artifact": "nifi-standard-nar",
								"group": "org.apache.nifi",
								"version": "1.8.0"
							},
							"config": {
								"bulletinLevel": "WARN",
								"comments": "",
								"concurrentlySchedulableTaskCount": "1",
								"descriptors": {
									"entry": [
										{
											"key": "record-reader",
											"value": {
												"identifiesControllerService": "org.apache.nifi.serialization.RecordReaderFactory",
												"name": "record-reader"
											}
										},
										{
											"key": "record-writer",
											"value": {
												"identifiesControllerService": "org.apache.nifi.serialization.RecordSetWriterFactory",
												"name": "record-writer"
											}
										},
										{
											"key": "replacement-value-strategy",
											"value": {
												"name": "replacement-value-strategy"
											}
										},
										{
											"key": "/full_name",
											"value": {
												"name": "/full_name"
											}
										}
									]
								},
								"executionNode": "ALL",
								"lossTolerant": "false",
								"penaltyDuration": "30 sec",
								"properties": {
									"entry": [
										{
											"key": "record-reader",
											"value": "d00af96b-21e8-3ed7-0000-000000000000"
										},
										{
											"key": "record-writer",
											"value": "8af8fbcc-9537-3667-0000-000000000000"
										},
										{
											"key": "replacement-value-strategy",
											"value": "record-path-value"
										},
										{
											"key": "/full_name",
											"value": "concat(/first_name,' ',/last_name)"
										}
									]
								},
								"runDurationMillis": "0",
								"schedulingPeriod": "0 sec",
								"schedulingStrategy": "TIMER_DRIVEN",
								"yieldDuration": "1 sec"
							},
							"executionNodeRestricted": "false",
							"name": "UpdateRecord",
							"relationships": [
								{
									"autoTerminate": "true",
									"name": "failure"
								},
								{
									"autoTerminate": "false",
									"name": "success"
								}
							],
							"state": "STOPPED",
							"style": "",
							"type": "org.apache.nifi.processors.standard.UpdateRecord"
						}
					]
				},
				"name": "User Extract",
				"variables": {
					"entry": {
						"key": "schema.name",
						"value": "users"
					}
				}
			}
		},
		"timestamp": "04/17/2022 09:21:03 IST",
		"_encoding-version": "1.2"
	}
}