containers/nifi/nifi-deployment-automation/ansible/templates/registry/HTTP to PostgreSQL/HTTP_to_PostgreSQL.json
{
	"template": {
		"description": "",
		"groupId": "1f2c98fd-016a-1000-6ea6-64d34129d170",
		"name": "HTTP to PostgreSQL",
		"snippet": {
			"processGroups": {
				"id": "2feae930-1919-3b3b-0000-000000000000",
				"parentGroupId": "5ec22fd0-fa07-3774-0000-000000000000",
				"position": {
					"x": "0.0",
					"y": "0.0"
				},
				"comments": "Get Data using REST API and Persist it to PostgreSQL",
				"contents": {
					"connections": {
						"id": "eb341d85-0912-3ac9-0000-000000000000",
						"parentGroupId": "2feae930-1919-3b3b-0000-000000000000",
						"versionedComponentId": "38b39c6b-8d27-3988-8b35-1e3b2b527148",
						"backPressureDataSizeThreshold": "1 GB",
						"backPressureObjectThreshold": "10000",
						"destination": {
							"groupId": "5c04ae60-ea16-3425-0000-000000000000",
							"id": "6506dfc4-820a-39b8-0000-000000000000",
							"type": "INPUT_PORT",
							"versionedComponentId": "980900b0-227c-37d6-9065-986c78746605"
						},
						"flowFileExpiration": "0 sec",
						"labelIndex": "1",
						"loadBalanceCompression": "DO_NOT_COMPRESS",
						"loadBalancePartitionAttribute": "",
						"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
						"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
						"name": "",
						"source": {
							"groupId": "12dc11c6-87a6-3c99-0000-000000000000",
							"id": "d4030711-da97-3c8f-0000-000000000000",
							"type": "OUTPUT_PORT",
							"versionedComponentId": "8d47eedb-b9ab-39fe-8284-cc0ef16996d6"
						},
						"zIndex": "0"
					},
					"processGroups": [
						{
							"id": "12dc11c6-87a6-3c99-0000-000000000000",
							"parentGroupId": "2feae930-1919-3b3b-0000-000000000000",
							"position": {
								"x": "255.17222481525738",
								"y": "181.7190306892055"
							},
							"versionedComponentId": "b15fbdee-b9ae-32c3-a3ad-a2591dbb5b6c",
							"comments": "",
							"contents": {
								"connections": {
									"id": "8d88b697-b16b-37a0-0000-000000000000",
									"parentGroupId": "12dc11c6-87a6-3c99-0000-000000000000",
									"versionedComponentId": "f2f3a61d-af74-38c8-8c63-4c3aa19dfaa7",
									"backPressureDataSizeThreshold": "1 GB",
									"backPressureObjectThreshold": "10000",
									"destination": {
										"groupId": "12dc11c6-87a6-3c99-0000-000000000000",
										"id": "d4030711-da97-3c8f-0000-000000000000",
										"type": "OUTPUT_PORT",
										"versionedComponentId": "8d47eedb-b9ab-39fe-8284-cc0ef16996d6"
									},
									"flowFileExpiration": "0 sec",
									"labelIndex": "1",
									"loadBalanceCompression": "DO_NOT_COMPRESS",
									"loadBalancePartitionAttribute": "",
									"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
									"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
									"name": "",
									"selectedRelationships": "success",
									"source": {
										"groupId": "12dc11c6-87a6-3c99-0000-000000000000",
										"id": "91070b48-d4c3-359e-0000-000000000000",
										"type": "PROCESSOR",
										"versionedComponentId": "590a5dfd-767b-3bd0-a31f-59cabf5e59dd"
									},
									"zIndex": "0"
								},
								"outputPorts": {
									"id": "d4030711-da97-3c8f-0000-000000000000",
									"parentGroupId": "12dc11c6-87a6-3c99-0000-000000000000",
									"position": {
										"x": "529.8316234871799",
										"y": "298.563875548776"
									},
									"versionedComponentId": "8d47eedb-b9ab-39fe-8284-cc0ef16996d6",
									"comments": "",
									"concurrentlySchedulableTaskCount": "1",
									"name": "Output Data",
									"state": "STOPPED",
									"type": "OUTPUT_PORT"
								},
								"processors": {
									"id": "91070b48-d4c3-359e-0000-000000000000",
									"parentGroupId": "12dc11c6-87a6-3c99-0000-000000000000",
									"position": {
										"x": "472.48831939697266",
										"y": "80.97334289550781"
									},
									"versionedComponentId": "590a5dfd-767b-3bd0-a31f-59cabf5e59dd",
									"bundle": {
										"artifact": "nifi-standard-nar",
										"group": "org.apache.nifi",
										"version": "1.8.0"
									},
									"config": {
										"bulletinLevel": "WARN",
										"comments": "",
										"concurrentlySchedulableTaskCount": "1",
										"descriptors": {
											"entry": [
												{
													"key": "URL",
													"value": {
														"name": "URL"
													}
												},
												{
													"key": "Filename",
													"value": {
														"name": "Filename"
													}
												},
												{
													"key": "SSL Context Service",
													"value": {
														"identifiesControllerService": "org.apache.nifi.ssl.SSLContextService",
														"name": "SSL Context Service"
													}
												},
												{
													"key": "Username",
													"value": {
														"name": "Username"
													}
												},
												{
													"key": "Password",
													"value": {
														"name": "Password"
													}
												},
												{
													"key": "Connection Timeout",
													"value": {
														"name": "Connection Timeout"
													}
												},
												{
													"key": "Data Timeout",
													"value": {
														"name": "Data Timeout"
													}
												},
												{
													"key": "User Agent",
													"value": {
														"name": "User Agent"
													}
												},
												{
													"key": "Accept Content-Type",
													"value": {
														"name": "Accept Content-Type"
													}
												},
												{
													"key": "Follow Redirects",
													"value": {
														"name": "Follow Redirects"
													}
												},
												{
													"key": "redirect-cookie-policy",
													"value": {
														"name": "redirect-cookie-policy"
													}
												},
												{
													"key": "proxy-configuration-service",
													"value": {
														"identifiesControllerService": "org.apache.nifi.proxy.ProxyConfigurationService",
														"name": "proxy-configuration-service"
													}
												},
												{
													"key": "Proxy Host",
													"value": {
														"name": "Proxy Host"
													}
												},
												{
													"key": "Proxy Port",
													"value": {
														"name": "Proxy Port"
													}
												}
											]
										},
										"executionNode": "ALL",
										"lossTolerant": "false",
										"penaltyDuration": "30 sec",
										"properties": {
											"entry": [
												{
													"key": "URL",
													"value": "${node_url}"
												},
												{
													"key": "Filename",
													"value": "${node_filename}"
												},
												{
													"key": "SSL Context Service"
												},
												{
													"key": "Username"
												},
												{
													"key": "Password"
												},
												{
													"key": "Connection Timeout",
													"value": "30 sec"
												},
												{
													"key": "Data Timeout",
													"value": "30 sec"
												},
												{
													"key": "User Agent"
												},
												{
													"key": "Accept Content-Type"
												},
												{
													"key": "Follow Redirects",
													"value": "false"
												},
												{
													"key": "redirect-cookie-policy",
													"value": "default"
												},
												{
													"key": "proxy-configuration-service"
												},
												{
													"key": "Proxy Host"
												},
												{
													"key": "Proxy Port"
												}
											]
										},
										"runDurationMillis": "0",
										"schedulingPeriod": "30 sec",
										"schedulingStrategy": "TIMER_DRIVEN",
										"yieldDuration": "1 sec"
									},
									"executionNodeRestricted": "false",
									"name": "Get HTTP",
									"relationships": {
										"autoTerminate": "false",
										"name": "success"
									},
									"state": "STOPPED",
									"style": "",
									"type": "org.apache.nifi.processors.standard.GetHTTP"
								}
							},
							"name": "Get Data",
							"variables": ""
						},
						{
							"id": "5c04ae60-ea16-3425-0000-000000000000",
							"parentGroupId": "2feae930-1919-3b3b-0000-000000000000",
							"position": {
								"x": "904.819976137518",
								"y": "178.94880008107606"
							},
							"versionedComponentId": "f44eb15a-2741-3855-a00c-8c579efb3318",
							"comments": "",
							"contents": {
								"connections": [
									{
										"id": "2339f19c-3dc3-38b2-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"versionedComponentId": "d6e41ea2-673c-3532-a873-859985ccd7b3",
										"backPressureDataSizeThreshold": "1 GB",
										"backPressureObjectThreshold": "10000",
										"destination": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "8d5ef8fb-d793-3002-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "c441900d-dd87-397a-8fc6-171ccd80b532"
										},
										"flowFileExpiration": "0 sec",
										"labelIndex": "1",
										"loadBalanceCompression": "DO_NOT_COMPRESS",
										"loadBalancePartitionAttribute": "",
										"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
										"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
										"name": "",
										"selectedRelationships": "success",
										"source": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "d76ed224-e4f1-379c-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "db15c625-2f43-3d51-b342-8d3d9db3af02"
										},
										"zIndex": "0"
									},
									{
										"id": "3e068a20-53dd-3cda-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"versionedComponentId": "2457ad9a-3a18-3ab5-9953-430facfbe720",
										"backPressureDataSizeThreshold": "1 GB",
										"backPressureObjectThreshold": "10000",
										"destination": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "dacca949-1746-3be3-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "50dd3fb1-1ba8-347a-9c13-623d0bf4ff21"
										},
										"flowFileExpiration": "0 sec",
										"labelIndex": "1",
										"loadBalanceCompression": "DO_NOT_COMPRESS",
										"loadBalancePartitionAttribute": "",
										"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
										"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
										"name": "",
										"selectedRelationships": "failure",
										"source": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "d76ed224-e4f1-379c-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "db15c625-2f43-3d51-b342-8d3d9db3af02"
										},
										"zIndex": "0"
									},
									{
										"id": "4ffb6e6c-9fe2-3f74-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"versionedComponentId": "8ac73a84-5f40-35cd-8a86-57d20f7066bf",
										"backPressureDataSizeThreshold": "1 GB",
										"backPressureObjectThreshold": "10000",
										"destination": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "bbfad39a-ee45-33af-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "fdc6a181-89be-3c0f-8b3e-9c88b35d98d2"
										},
										"flowFileExpiration": "0 sec",
										"labelIndex": "1",
										"loadBalanceCompression": "DO_NOT_COMPRESS",
										"loadBalancePartitionAttribute": "",
										"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
										"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
										"name": "",
										"source": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "6506dfc4-820a-39b8-0000-000000000000",
											"type": "INPUT_PORT",
											"versionedComponentId": "980900b0-227c-37d6-9065-986c78746605"
										},
										"zIndex": "0"
									},
									{
										"id": "70cbfc76-7e4f-361a-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"versionedComponentId": "4b4c88fb-b3ff-31d6-a062-4b417cb8dfe4",
										"backPressureDataSizeThreshold": "1 GB",
										"backPressureObjectThreshold": "10000",
										"destination": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "6cffed91-a3ef-3133-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "720c5bb5-d289-3924-a9cb-daf722b9a8cf"
										},
										"flowFileExpiration": "0 sec",
										"labelIndex": "1",
										"loadBalanceCompression": "DO_NOT_COMPRESS",
										"loadBalancePartitionAttribute": "",
										"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
										"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
										"name": "",
										"selectedRelationships": "split",
										"source": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "bbfad39a-ee45-33af-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "fdc6a181-89be-3c0f-8b3e-9c88b35d98d2"
										},
										"zIndex": "0"
									},
									{
										"id": "74600076-dab0-3787-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"versionedComponentId": "4d639ff6-f11f-340e-b2b1-321fec30cebc",
										"backPressureDataSizeThreshold": "1 GB",
										"backPressureObjectThreshold": "10000",
										"bends": [
											{
												"x": "949.8363150220639",
												"y": "551.4734835023423"
											},
											{
												"x": "949.8363150220639",
												"y": "601.4734835023423"
											}
										],
										"destination": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "d76ed224-e4f1-379c-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "db15c625-2f43-3d51-b342-8d3d9db3af02"
										},
										"flowFileExpiration": "0 sec",
										"labelIndex": "1",
										"loadBalanceCompression": "DO_NOT_COMPRESS",
										"loadBalancePartitionAttribute": "",
										"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
										"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
										"name": "",
										"selectedRelationships": "retry",
										"source": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "d76ed224-e4f1-379c-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "db15c625-2f43-3d51-b342-8d3d9db3af02"
										},
										"zIndex": "0"
									},
									{
										"id": "b38d5105-caf1-3372-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"versionedComponentId": "db8300cb-090b-377d-8ea9-9b1d35f351e4",
										"backPressureDataSizeThreshold": "1 GB",
										"backPressureObjectThreshold": "10000",
										"destination": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "d76ed224-e4f1-379c-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "db15c625-2f43-3d51-b342-8d3d9db3af02"
										},
										"flowFileExpiration": "0 sec",
										"labelIndex": "1",
										"loadBalanceCompression": "DO_NOT_COMPRESS",
										"loadBalancePartitionAttribute": "",
										"loadBalanceStatus": "LOAD_BALANCE_NOT_CONFIGURED",
										"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
										"name": "",
										"selectedRelationships": "sql",
										"source": {
											"groupId": "5c04ae60-ea16-3425-0000-000000000000",
											"id": "6cffed91-a3ef-3133-0000-000000000000",
											"type": "PROCESSOR",
											"versionedComponentId": "720c5bb5-d289-3924-a9cb-daf722b9a8cf"
										},
										"zIndex": "0"
									}
								],
								"controllerServices": {
									"id": "834021b9-a55e-3525-0000-000000000000",
									"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
									"versionedComponentId": "fafe1821-fe21-34aa-a7a5-b632b2811333",
									"bundle": {
										"artifact": "nifi-dbcp-service-nar",
										"group": "org.apache.nifi",
										"version": "1.8.0"
									},
									"comments": "",
									"descriptors": {
										"entry": [
											{
												"key": "Database Connection URL",
												"value": {
													"name": "Database Connection URL"
												}
											},
											{
												"key": "Database Driver Class Name",
												"value": {
													"name": "Database Driver Class Name"
												}
											},
											{
												"key": "database-driver-locations",
												"value": {
													"name": "database-driver-locations"
												}
											},
											{
												"key": "Database User",
												"value": {
													"name": "Database User"
												}
											},
											{
												"key": "Password",
												"value": {
													"name": "Password"
												}
											},
											{
												"key": "Max Wait Time",
												"value": {
													"name": "Max Wait Time"
												}
											},
											{
												"key": "Max Total Connections",
												"value": {
													"name": "Max Total Connections"
												}
											},
											{
												"key": "Validation-query",
												"value": {
													"name": "Validation-query"
												}
											}
										]
									},
									"name": "DBCPConnectionPool (PostgreSQL)",
									"persistsState": "false",
									"properties": {
										"entry": [
											{
												"key": "Database Connection URL",
												"value": "${postgresuri}"
											},
											{
												"key": "Database Driver Class Name",
												"value": "${postgresdriverclassname}"
											},
											{
												"key": "database-driver-locations",
												"value": "${postgresdriverpath}"
											},
											{
												"key": "Database User",
												"value": "${postgresusername}"
											},
											{
												"key": "Password"
											},
											{
												"key": "Max Wait Time",
												"value": "500 millis"
											},
											{
												"key": "Max Total Connections",
												"value": "8"
											},
											{
												"key": "Validation-query"
											}
										]
									},
									"state": "DISABLED",
									"type": "org.apache.nifi.dbcp.DBCPConnectionPool"
								},
								"inputPorts": {
									"id": "6506dfc4-820a-39b8-0000-000000000000",
									"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
									"position": {
										"x": "542.7694701333205",
										"y": "-130.72589611737095"
									},
									"versionedComponentId": "980900b0-227c-37d6-9065-986c78746605",
									"comments": "",
									"concurrentlySchedulableTaskCount": "1",
									"name": "Input Data",
									"state": "STOPPED",
									"type": "INPUT_PORT"
								},
								"processors": [
									{
										"id": "6cffed91-a3ef-3133-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"position": {
											"x": "488.93664544483124",
											"y": "252.6235352130662"
										},
										"versionedComponentId": "720c5bb5-d289-3924-a9cb-daf722b9a8cf",
										"bundle": {
											"artifact": "nifi-standard-nar",
											"group": "org.apache.nifi",
											"version": "1.8.0"
										},
										"config": {
											"bulletinLevel": "WARN",
											"comments": "",
											"concurrentlySchedulableTaskCount": "1",
											"descriptors": {
												"entry": [
													{
														"key": "JDBC Connection Pool",
														"value": {
															"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
															"name": "JDBC Connection Pool"
														}
													},
													{
														"key": "Statement Type",
														"value": {
															"name": "Statement Type"
														}
													},
													{
														"key": "Table Name",
														"value": {
															"name": "Table Name"
														}
													},
													{
														"key": "Catalog Name",
														"value": {
															"name": "Catalog Name"
														}
													},
													{
														"key": "Schema Name",
														"value": {
															"name": "Schema Name"
														}
													},
													{
														"key": "Translate Field Names",
														"value": {
															"name": "Translate Field Names"
														}
													},
													{
														"key": "Unmatched Field Behavior",
														"value": {
															"name": "Unmatched Field Behavior"
														}
													},
													{
														"key": "Unmatched Column Behavior",
														"value": {
															"name": "Unmatched Column Behavior"
														}
													},
													{
														"key": "Update Keys",
														"value": {
															"name": "Update Keys"
														}
													},
													{
														"key": "jts-quoted-identifiers",
														"value": {
															"name": "jts-quoted-identifiers"
														}
													},
													{
														"key": "jts-quoted-table-identifiers",
														"value": {
															"name": "jts-quoted-table-identifiers"
														}
													},
													{
														"key": "jts-sql-param-attr-prefix",
														"value": {
															"name": "jts-sql-param-attr-prefix"
														}
													}
												]
											},
											"executionNode": "ALL",
											"lossTolerant": "false",
											"penaltyDuration": "30 sec",
											"properties": {
												"entry": [
													{
														"key": "JDBC Connection Pool",
														"value": "834021b9-a55e-3525-0000-000000000000"
													},
													{
														"key": "Statement Type",
														"value": "INSERT"
													},
													{
														"key": "Table Name",
														"value": "users"
													},
													{
														"key": "Catalog Name"
													},
													{
														"key": "Schema Name"
													},
													{
														"key": "Translate Field Names",
														"value": "true"
													},
													{
														"key": "Unmatched Field Behavior",
														"value": "Ignore Unmatched Fields"
													},
													{
														"key": "Unmatched Column Behavior",
														"value": "Fail on Unmatched Columns"
													},
													{
														"key": "Update Keys"
													},
													{
														"key": "jts-quoted-identifiers",
														"value": "false"
													},
													{
														"key": "jts-quoted-table-identifiers",
														"value": "false"
													},
													{
														"key": "jts-sql-param-attr-prefix",
														"value": "sql"
													}
												]
											},
											"runDurationMillis": "0",
											"schedulingPeriod": "0 sec",
											"schedulingStrategy": "TIMER_DRIVEN",
											"yieldDuration": "1 sec"
										},
										"executionNodeRestricted": "false",
										"name": "ConvertJSONToSQL",
										"relationships": [
											{
												"autoTerminate": "true",
												"name": "failure"
											},
											{
												"autoTerminate": "true",
												"name": "original"
											},
											{
												"autoTerminate": "false",
												"name": "sql"
											}
										],
										"state": "STOPPED",
										"style": "",
										"type": "org.apache.nifi.processors.standard.ConvertJSONToSQL"
									},
									{
										"id": "8d5ef8fb-d793-3002-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"position": {
											"x": "243.58491588398027",
											"y": "743.9481767808065"
										},
										"versionedComponentId": "c441900d-dd87-397a-8fc6-171ccd80b532",
										"bundle": {
											"artifact": "nifi-standard-nar",
											"group": "org.apache.nifi",
											"version": "1.8.0"
										},
										"config": {
											"bulletinLevel": "WARN",
											"comments": "",
											"concurrentlySchedulableTaskCount": "1",
											"descriptors": {
												"entry": [
													{
														"key": "log-level",
														"value": {
															"name": "log-level"
														}
													},
													{
														"key": "log-prefix",
														"value": {
															"name": "log-prefix"
														}
													},
													{
														"key": "log-message",
														"value": {
															"name": "log-message"
														}
													}
												]
											},
											"executionNode": "ALL",
											"lossTolerant": "false",
											"penaltyDuration": "30 sec",
											"properties": {
												"entry": [
													{
														"key": "log-level",
														"value": "info"
													},
													{
														"key": "log-prefix"
													},
													{
														"key": "log-message",
														"value": "Success"
													}
												]
											},
											"runDurationMillis": "0",
											"schedulingPeriod": "0 sec",
											"schedulingStrategy": "TIMER_DRIVEN",
											"yieldDuration": "1 sec"
										},
										"executionNodeRestricted": "false",
										"name": "Log Success Message",
										"relationships": {
											"autoTerminate": "true",
											"name": "success"
										},
										"state": "STOPPED",
										"style": "",
										"type": "org.apache.nifi.processors.standard.LogMessage"
									},
									{
										"id": "bbfad39a-ee45-33af-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"position": {
											"x": "488.6511053516758",
											"y": "19.71216415321925"
										},
										"versionedComponentId": "fdc6a181-89be-3c0f-8b3e-9c88b35d98d2",
										"bundle": {
											"artifact": "nifi-standard-nar",
											"group": "org.apache.nifi",
											"version": "1.8.0"
										},
										"config": {
											"bulletinLevel": "WARN",
											"comments": "",
											"concurrentlySchedulableTaskCount": "1",
											"descriptors": {
												"entry": [
													{
														"key": "JsonPath Expression",
														"value": {
															"name": "JsonPath Expression"
														}
													},
													{
														"key": "Null Value Representation",
														"value": {
															"name": "Null Value Representation"
														}
													}
												]
											},
											"executionNode": "ALL",
											"lossTolerant": "false",
											"penaltyDuration": "30 sec",
											"properties": {
												"entry": [
													{
														"key": "JsonPath Expression",
														"value": "$.*"
													},
													{
														"key": "Null Value Representation",
														"value": "empty string"
													}
												]
											},
											"runDurationMillis": "0",
											"schedulingPeriod": "0 sec",
											"schedulingStrategy": "TIMER_DRIVEN",
											"yieldDuration": "1 sec"
										},
										"executionNodeRestricted": "false",
										"name": "SplitJson",
										"relationships": [
											{
												"autoTerminate": "true",
												"name": "failure"
											},
											{
												"autoTerminate": "true",
												"name": "original"
											},
											{
												"autoTerminate": "false",
												"name": "split"
											}
										],
										"state": "STOPPED",
										"style": "",
										"type": "org.apache.nifi.processors.standard.SplitJson"
									},
									{
										"id": "d76ed224-e4f1-379c-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"position": {
											"x": "486.8363150220639",
											"y": "511.47348350234233"
										},
										"versionedComponentId": "db15c625-2f43-3d51-b342-8d3d9db3af02",
										"bundle": {
											"artifact": "nifi-standard-nar",
											"group": "org.apache.nifi",
											"version": "1.8.0"
										},
										"config": {
											"bulletinLevel": "WARN",
											"comments": "",
											"concurrentlySchedulableTaskCount": "1",
											"descriptors": {
												"entry": [
													{
														"key": "JDBC Connection Pool",
														"value": {
															"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
															"name": "JDBC Connection Pool"
														}
													},
													{
														"key": "putsql-sql-statement",
														"value": {
															"name": "putsql-sql-statement"
														}
													},
													{
														"key": "Support Fragmented Transactions",
														"value": {
															"name": "Support Fragmented Transactions"
														}
													},
													{
														"key": "Transaction Timeout",
														"value": {
															"name": "Transaction Timeout"
														}
													},
													{
														"key": "Batch Size",
														"value": {
															"name": "Batch Size"
														}
													},
													{
														"key": "Obtain Generated Keys",
														"value": {
															"name": "Obtain Generated Keys"
														}
													},
													{
														"key": "rollback-on-failure",
														"value": {
															"name": "rollback-on-failure"
														}
													}
												]
											},
											"executionNode": "ALL",
											"lossTolerant": "false",
											"penaltyDuration": "30 sec",
											"properties": {
												"entry": [
													{
														"key": "JDBC Connection Pool",
														"value": "834021b9-a55e-3525-0000-000000000000"
													},
													{
														"key": "putsql-sql-statement"
													},
													{
														"key": "Support Fragmented Transactions",
														"value": "true"
													},
													{
														"key": "Transaction Timeout"
													},
													{
														"key": "Batch Size",
														"value": "100"
													},
													{
														"key": "Obtain Generated Keys",
														"value": "false"
													},
													{
														"key": "rollback-on-failure",
														"value": "false"
													}
												]
											},
											"runDurationMillis": "0",
											"schedulingPeriod": "0 sec",
											"schedulingStrategy": "TIMER_DRIVEN",
											"yieldDuration": "1 sec"
										},
										"executionNodeRestricted": "false",
										"name": "Put Data to PostgreSQL",
										"relationships": [
											{
												"autoTerminate": "false",
												"name": "failure"
											},
											{
												"autoTerminate": "false",
												"name": "retry"
											},
											{
												"autoTerminate": "false",
												"name": "success"
											}
										],
										"state": "STOPPED",
										"style": "",
										"type": "org.apache.nifi.processors.standard.PutSQL"
									},
									{
										"id": "dacca949-1746-3be3-0000-000000000000",
										"parentGroupId": "5c04ae60-ea16-3425-0000-000000000000",
										"position": {
											"x": "767.8022315578085",
											"y": "743.4923051987753"
										},
										"versionedComponentId": "50dd3fb1-1ba8-347a-9c13-623d0bf4ff21",
										"bundle": {
											"artifact": "nifi-standard-nar",
											"group": "org.apache.nifi",
											"version": "1.8.0"
										},
										"config": {
											"bulletinLevel": "WARN",
											"comments": "",
											"concurrentlySchedulableTaskCount": "1",
											"descriptors": {
												"entry": [
													{
														"key": "log-level",
														"value": {
															"name": "log-level"
														}
													},
													{
														"key": "log-prefix",
														"value": {
															"name": "log-prefix"
														}
													},
													{
														"key": "log-message",
														"value": {
															"name": "log-message"
														}
													}
												]
											},
											"executionNode": "ALL",
											"lossTolerant": "false",
											"penaltyDuration": "30 sec",
											"properties": {
												"entry": [
													{
														"key": "log-level",
														"value": "info"
													},
													{
														"key": "log-prefix"
													},
													{
														"key": "log-message",
														"value": "Failure"
													}
												]
											},
											"runDurationMillis": "0",
											"schedulingPeriod": "0 sec",
											"schedulingStrategy": "TIMER_DRIVEN",
											"yieldDuration": "1 sec"
										},
										"executionNodeRestricted": "false",
										"name": "Log Failure Message",
										"relationships": {
											"autoTerminate": "true",
											"name": "success"
										},
										"state": "STOPPED",
										"style": "",
										"type": "org.apache.nifi.processors.standard.LogMessage"
									}
								]
							},
							"name": "Put to PostgreSQL",
							"variables": ""
						}
					]
				},
				"name": "HTTP to PostgreSQL",
				"variables": {
					"entry": [
						{
							"key": "node_filename",
							"value": "users.json"
						},
						{
							"key": "node_url",
							"value": "http://127.0.0.1:3000/users"
						}
					]
				}
			}
		},
		"timestamp": "04/17/2022 09:19:45 IST",
		"_encoding-version": "1.2"
	}
}